swagger: '2.0'
schemes:
  - https
host: api.navitia.io
basePath: /v1
info:
  contact:
    email: navitia@googlegroups.com
    name: Navitia
    url: 'https://www.navitia.io/'
  description: |2-

        navitia.io is the open API for building cool stuff with mobility data. It provides the following services

        * journeys computation
        * line schedules
        * next departures
        * exploration of public transport data / search places
        * and sexy things such as isochrones

        navitia is a HATEOAS API that returns JSON formated results
        
  license:
    name: license
    url: 'https://www.navitia.io/api-term-of-use'
  title: navitia
  version: v15.27.0
  x-apisguru-categories:
    - location
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://doc.navitia.io/images/logo-97f24197.png'
  x-origin:
    - format: swagger
      url: 'https://api.navitia.io/v1/schema'
      version: '2.0'
  x-providerName: navitia.io
produces:
  - application/json
securityDefinitions:
  basicAuth:
    type: basic
security:
  - basicAuth: []
paths:
  '/coord/{lon};{lat}/':
    get:
      operationId: get_coord__lon__lat__
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              address:
                $ref: '#/definitions/Address'
              context:
                $ref: '#/definitions/Context'
              message:
                type: string
              regions:
                items:
                  type: string
                type: array
            required:
              - regions
            title: DictAddresses
            type: object
      summary: ''
      tags:
        - Coord
  '/coord/{lon};{lat}/access_points':
    get:
      operationId: get_coord__lon__lat__access_points
      parameters:
        - description: The depth of your object
          in: query
          name: depth
          required: false
          type: integer
        - description: Number of objects per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              access_points:
                items:
                  $ref: '#/definitions/AccessPoint'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              warnings:
                items:
                  $ref: '#/definitions/BetaEndpoints'
                type: array
            required:
              - pagination
              - warnings
              - disruptions
              - feed_publishers
              - access_points
            title: AccessPoints
            type: object
      summary: ''
      tags:
        - AccessPoints
  '/coord/{lon};{lat}/equipment_reports':
    get:
      operationId: get_coord__lon__lat__equipment_reports
      parameters:
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: Number of objects per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: Filter your objects
          in: query
          name: filter
          required: false
          type: string
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              equipment_reports:
                items:
                  $ref: '#/definitions/EquipmentReport'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              warnings:
                items:
                  $ref: '#/definitions/BetaEndpoints'
                type: array
            required:
              - pagination
              - warnings
              - equipment_reports
              - disruptions
              - feed_publishers
            title: EquipmentReports
            type: object
      summary: ''
      tags:
        - EquipmentReports
  '/coord/{lon};{lat}/freefloatings_nearby':
    get:
      operationId: get_coord__lon__lat__freefloatings_nearby
      parameters:
        - collectionFormat: multi
          description: Type of free-floating objects to return
          in: query
          items:
            enum:
              - BIKE
              - SCOOTER
              - MOTORSCOOTER
              - STATION
              - CAR
              - OTHER
            type: string
          name: 'type[]'
          required: false
          type: array
        - description: Distance range of the query in meters
          in: query
          name: distance
          required: false
          type: integer
        - description: Elements per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: Coordinates longitude;latitude used to search the objects around this coordinate
          in: query
          name: coord
          required: false
          type: string
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              free_floatings:
                items:
                  properties:
                    battery:
                      type: integer
                    coord:
                      properties:
                        lat:
                          type: string
                        lon:
                          type: string
                      required:
                        - lat
                        - lon
                      type: object
                    deeplink:
                      type: string
                    distance:
                      type: integer
                    id:
                      type: string
                    propulsion:
                      type: string
                    provider_name:
                      type: string
                    public_id:
                      type: string
                    type:
                      enum:
                        - BIKE
                        - SCOOTER
                        - MOTORSCOOTER
                        - STATION
                        - CAR
                        - OTHER
                      type: string
                  type: object
                type: array
              pagination:
                properties:
                  items_on_page:
                    type:
                      - integer
                  items_per_page:
                    type:
                      - integer
                  start_page:
                    type:
                      - integer
                  total_result:
                    type:
                      - integer
                type: object
              warnings:
                items:
                  $ref: '#/definitions/BetaEndpoints'
                type: array
            required:
              - pagination
              - free_floatings
              - warnings
            title: FreeFloatings
            type: object
      summary: ''
      tags:
        - FreeFloatingsNearby
  '/coord/{lon};{lat}/places_nearby':
    get:
      operationId: get_coord__lon__lat__places_nearby
      parameters:
        - collectionFormat: multi
          description: Type of the objects to return
          in: query
          items:
            enum:
              - stop_point
              - poi
              - administrative_region
              - stop_area
              - address
            type: string
          name: 'type[]'
          required: false
          type: array
        - description: Filter your objects
          in: query
          name: filter
          required: false
          type: string
        - description: Distance range of the query in meters
          in: query
          name: distance
          required: false
          type: integer
        - description: Elements per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: Maximum depth on objects
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: The page number of the ptref result
          in: query
          name: start_page
          required: false
          type: integer
        - description: 'DEPRECATED, Use add_poi_infos[]=bss_stands'
          in: query
          name: bss_stands
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'Show more information about the poi if it''s available, for instance, show BSS/car park availability in the pois(BSS/car park) of the response'
          in: query
          items:
            enum:
              - bss_stands
              - car_park
              - ''
              - none
            type: string
          name: 'add_poi_infos[]'
          required: false
          type: array
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              places_nearby:
                items:
                  $ref: '#/definitions/PlaceNearby'
                type: array
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: PlacesNearby
            type: object
      summary: ''
      tags:
        - PlacesNearby
  '/coord/{lon};{lat}/vehicle_positions':
    get:
      operationId: get_coord__lon__lat__vehicle_positions
      parameters:
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: Number of objects per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: Filter your objects
          in: query
          name: filter
          required: false
          type: string
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              vehicle_positions:
                items:
                  $ref: '#/definitions/VehiclePositions'
                type: array
            required:
              - pagination
              - disruptions
              - feed_publishers
              - vehicle_positions
            title: VehiclePositions
            type: object
      summary: ''
      tags:
        - VehiclePositions
  '/coords/{lon};{lat}/':
    get:
      operationId: get_coords__lon__lat__
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              address:
                $ref: '#/definitions/Address'
              context:
                $ref: '#/definitions/Context'
              message:
                type: string
              regions:
                items:
                  type: string
                type: array
            required:
              - regions
            title: DictAddresses
            type: object
      summary: ''
      tags:
        - Coord
  '/coords/{lon};{lat}/access_points':
    get:
      operationId: get_coords__lon__lat__access_points
      parameters:
        - description: The depth of your object
          in: query
          name: depth
          required: false
          type: integer
        - description: Number of objects per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              access_points:
                items:
                  $ref: '#/definitions/AccessPoint'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              warnings:
                items:
                  $ref: '#/definitions/BetaEndpoints'
                type: array
            required:
              - pagination
              - warnings
              - disruptions
              - feed_publishers
              - access_points
            title: AccessPoints
            type: object
      summary: ''
      tags:
        - AccessPoints
  '/coords/{lon};{lat}/equipment_reports':
    get:
      operationId: get_coords__lon__lat__equipment_reports
      parameters:
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: Number of objects per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: Filter your objects
          in: query
          name: filter
          required: false
          type: string
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              equipment_reports:
                items:
                  $ref: '#/definitions/EquipmentReport'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              warnings:
                items:
                  $ref: '#/definitions/BetaEndpoints'
                type: array
            required:
              - pagination
              - warnings
              - equipment_reports
              - disruptions
              - feed_publishers
            title: EquipmentReports
            type: object
      summary: ''
      tags:
        - EquipmentReports
  '/coords/{lon};{lat}/freefloatings_nearby':
    get:
      operationId: get_coords__lon__lat__freefloatings_nearby
      parameters:
        - collectionFormat: multi
          description: Type of free-floating objects to return
          in: query
          items:
            enum:
              - BIKE
              - SCOOTER
              - MOTORSCOOTER
              - STATION
              - CAR
              - OTHER
            type: string
          name: 'type[]'
          required: false
          type: array
        - description: Distance range of the query in meters
          in: query
          name: distance
          required: false
          type: integer
        - description: Elements per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: Coordinates longitude;latitude used to search the objects around this coordinate
          in: query
          name: coord
          required: false
          type: string
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              free_floatings:
                items:
                  properties:
                    battery:
                      type: integer
                    coord:
                      properties:
                        lat:
                          type: string
                        lon:
                          type: string
                      required:
                        - lat
                        - lon
                      type: object
                    deeplink:
                      type: string
                    distance:
                      type: integer
                    id:
                      type: string
                    propulsion:
                      type: string
                    provider_name:
                      type: string
                    public_id:
                      type: string
                    type:
                      enum:
                        - BIKE
                        - SCOOTER
                        - MOTORSCOOTER
                        - STATION
                        - CAR
                        - OTHER
                      type: string
                  type: object
                type: array
              pagination:
                properties:
                  items_on_page:
                    type:
                      - integer
                  items_per_page:
                    type:
                      - integer
                  start_page:
                    type:
                      - integer
                  total_result:
                    type:
                      - integer
                type: object
              warnings:
                items:
                  $ref: '#/definitions/BetaEndpoints'
                type: array
            required:
              - pagination
              - free_floatings
              - warnings
            title: FreeFloatings
            type: object
      summary: ''
      tags:
        - FreeFloatingsNearby
  '/coords/{lon};{lat}/places_nearby':
    get:
      operationId: get_coords__lon__lat__places_nearby
      parameters:
        - collectionFormat: multi
          description: Type of the objects to return
          in: query
          items:
            enum:
              - stop_point
              - poi
              - administrative_region
              - stop_area
              - address
            type: string
          name: 'type[]'
          required: false
          type: array
        - description: Filter your objects
          in: query
          name: filter
          required: false
          type: string
        - description: Distance range of the query in meters
          in: query
          name: distance
          required: false
          type: integer
        - description: Elements per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: Maximum depth on objects
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: The page number of the ptref result
          in: query
          name: start_page
          required: false
          type: integer
        - description: 'DEPRECATED, Use add_poi_infos[]=bss_stands'
          in: query
          name: bss_stands
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'Show more information about the poi if it''s available, for instance, show BSS/car park availability in the pois(BSS/car park) of the response'
          in: query
          items:
            enum:
              - bss_stands
              - car_park
              - ''
              - none
            type: string
          name: 'add_poi_infos[]'
          required: false
          type: array
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              places_nearby:
                items:
                  $ref: '#/definitions/PlaceNearby'
                type: array
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: PlacesNearby
            type: object
      summary: ''
      tags:
        - PlacesNearby
  '/coords/{lon};{lat}/vehicle_positions':
    get:
      operationId: get_coords__lon__lat__vehicle_positions
      parameters:
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: Number of objects per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: Filter your objects
          in: query
          name: filter
          required: false
          type: string
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              vehicle_positions:
                items:
                  $ref: '#/definitions/VehiclePositions'
                type: array
            required:
              - pagination
              - disruptions
              - feed_publishers
              - vehicle_positions
            title: VehiclePositions
            type: object
      summary: ''
      tags:
        - VehiclePositions
  /coverage/:
    get:
      operationId: get_coverage_
      parameters:
        - description: hide the coverage geojson to reduce response size
          in: query
          name: disable_geojson
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              regions:
                items:
                  $ref: '#/definitions/Coverage'
                type: array
            required:
              - regions
            title: Coverages
            type: object
      summary: ''
      tags:
        - Coverage
  '/coverage/{lon};{lat}/':
    get:
      operationId: get_coverage__lon__lat__
      parameters:
        - description: hide the coverage geojson to reduce response size
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              regions:
                items:
                  $ref: '#/definitions/Coverage'
                type: array
            required:
              - regions
            title: Coverages
            type: object
      summary: ''
      tags:
        - Coverage
  '/coverage/{lon};{lat}/_geo_status':
    get:
      operationId: get_coverage__lon__lat___geo_status
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              geo_status:
                $ref: '#/definitions/GeoStatus'
            required:
              - geo_status
            title: GeoStatus
            type: object
      summary: ''
      tags:
        - GeoStatus
  '/coverage/{lon};{lat}/access_points':
    get:
      operationId: get_coverage__lon__lat__access_points
      parameters:
        - description: The depth of your object
          in: query
          name: depth
          required: false
          type: integer
        - description: Number of objects per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              access_points:
                items:
                  $ref: '#/definitions/AccessPoint'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
              warnings:
                items:
                  $ref: '#/definitions/BetaEndpoints'
                type: array
            required:
              - pagination
              - warnings
              - disruptions
              - feed_publishers
              - access_points
            title: AccessPoints
            type: object
      summary: ''
      tags:
        - AccessPoints
  '/coverage/{lon};{lat}/addresses':
    get:
      operationId: get_coverage__lon__lat__addresses
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: Not implemented yet
          schema:
            properties:
              address:
                $ref: '#/definitions/Address'
              context:
                $ref: '#/definitions/Context'
              message:
                type: string
              regions:
                items:
                  type: string
                type: array
            required:
              - regions
            title: DictAddresses
            type: object
      summary: ''
      tags:
        - Addresses
  '/coverage/{lon};{lat}/addresses/{id}':
    get:
      operationId: get_coverage__lon__lat__addresses__id_
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
        - description: Id of the object you want to query
          format: '[^/]+'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Not implemented yet
          schema:
            properties:
              address:
                $ref: '#/definitions/Address'
              context:
                $ref: '#/definitions/Context'
              message:
                type: string
              regions:
                items:
                  type: string
                type: array
            required:
              - regions
            title: DictAddresses
            type: object
      summary: ''
      tags:
        - Addresses
  '/coverage/{lon};{lat}/arrivals':
    get:
      operationId: get_coverage__lon__lat__arrivals
      parameters:
        - description: use to filter PT objects
          in: query
          name: filter
          required: false
          type: string
        - description: The datetime from which you want the schedules
          format: date-time
          in: query
          name: from_datetime
          required: false
          type: string
        - description: The datetime until which you want the schedules
          format: date-time
          in: query
          name: until_datetime
          required: false
          type: string
        - description: Maximum duration between datetime and the retrieved stop time
          in: query
          name: duration
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: Number of schedules per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - description: 'DEPRECATED, replaced by `items_per_schedule`'
          in: query
          minimum: 0
          name: max_date_times
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: Id of the calendar
          in: query
          name: calendar
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: 'freshness of the data. base_schedule is the long term planned schedule. adapted_schedule is for planned ahead disruptions (strikes, maintenances, ...). realtime is to have the freshest possible data'
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: maximum number of date_times per schedule
          in: query
          minimum: 0
          name: items_per_schedule
          required: false
          type: integer
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: 'Provide a route direction type to filter results. Note: forward is equivalent to clockwise and inbound. When you select forward, you filter with: [forward, clockwise, inbound]. On the other hand, backward is equivalent to anticlockwise and outbound. When you select backward, you filter with: [backward, anticlockwise, outbound].'
          enum:
            - all
            - forward
            - backward
          in: query
          name: direction_type
          required: false
          type: string
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              arrivals:
                items:
                  $ref: '#/definitions/Passage'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              exceptions:
                items:
                  $ref: '#/definitions/Exception'
                type: array
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - arrivals
              - feed_publishers
            title: Arrivals
            type: object
      summary: ''
      tags:
        - NextArrivals
  '/coverage/{lon};{lat}/calendars':
    get:
      operationId: get_coverage__lon__lat__calendars
      parameters:
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: Number of calendars per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - description: Start date
          in: query
          name: start_date
          required: false
          type: string
        - description: End date
          in: query
          name: end_date
          required: false
          type: string
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            properties:
              calendars:
                items:
                  $ref: '#/definitions/Calendar'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - calendars
              - feed_publishers
            title: Calendars
            type: object
      summary: ''
      tags:
        - Calendars
  '/coverage/{lon};{lat}/calendars/{id}':
    get:
      operationId: get_coverage__lon__lat__calendars__id_
      parameters:
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - description: Number of calendars per page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The current page
          in: query
          name: start_page
          required: false
          type: integer
        - description: Start date
          in: query
          name: start_date
          required: false
          type: string
        - description: End date
          in: query
          name: end_date
          required: false
          type: string
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
        - description: Id of the object you want to query
          format: '[^/]+'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            properties:
              calendars:
                items:
                  $ref: '#/definitions/Calendar'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - calendars
              - feed_publishers
            title: Calendars
            type: object
      summary: ''
      tags:
        - Calendars
  '/coverage/{lon};{lat}/commercial_modes':
    get:
      operationId: get_coverage__lon__lat__commercial_modes
      parameters:
        - description: The page where you want to start
          in: query
          name: start_page
          required: false
          type: integer
        - description: Number of objects you want on a page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: An external code to query
          in: query
          name: external_code
          required: false
          type: string
        - description: filter vehicle journeys on headsign
          in: query
          name: headsign
          required: false
          type: string
        - default: all
          description: odt level
          enum:
            - scheduled
            - all
            - zonal
            - with_stops
          in: query
          name: odt_level
          required: false
          type: string
        - default: base_schedule
          description: |-
            Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .
            Provides only the vehicle_journeys valid for the data freshness level requested.
            Using `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: filters objects not valid before this date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: filters objects not valid after this date
          format: date-time
          in: query
          name: until
          required: false
          type: string
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - description: The filter parameter
          in: query
          name: filter
          required: false
          type: string
        - collectionFormat: multi
          description: 'If filled, will restrain the search within the given disruption tags'
          in: query
          items:
            type: string
          name: 'tags[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: Retrieves commercial modes
          schema:
            properties:
              commercial_modes:
                items:
                  $ref: '#/definitions/CommercialMode'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: CommercialModes
            type: object
      summary: ''
      tags:
        - CommercialModes
  '/coverage/{lon};{lat}/commercial_modes/{id}':
    get:
      operationId: get_coverage__lon__lat__commercial_modes__id_
      parameters:
        - description: The page where you want to start
          in: query
          name: start_page
          required: false
          type: integer
        - description: Number of objects you want on a page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: An external code to query
          in: query
          name: external_code
          required: false
          type: string
        - description: filter vehicle journeys on headsign
          in: query
          name: headsign
          required: false
          type: string
        - default: all
          description: odt level
          enum:
            - scheduled
            - all
            - zonal
            - with_stops
          in: query
          name: odt_level
          required: false
          type: string
        - default: base_schedule
          description: |-
            Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .
            Provides only the vehicle_journeys valid for the data freshness level requested.
            Using `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: filters objects not valid before this date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: filters objects not valid after this date
          format: date-time
          in: query
          name: until
          required: false
          type: string
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'If filled, will restrain the search within the given disruption tags'
          in: query
          items:
            type: string
          name: 'tags[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
        - description: Id of the object you want to query
          format: '[^/]+'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Retrieves commercial modes
          schema:
            properties:
              commercial_modes:
                items:
                  $ref: '#/definitions/CommercialMode'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: CommercialModes
            type: object
      summary: ''
      tags:
        - CommercialModes
  '/coverage/{lon};{lat}/companies':
    get:
      operationId: get_coverage__lon__lat__companies
      parameters:
        - description: The page where you want to start
          in: query
          name: start_page
          required: false
          type: integer
        - description: Number of objects you want on a page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: An external code to query
          in: query
          name: external_code
          required: false
          type: string
        - description: filter vehicle journeys on headsign
          in: query
          name: headsign
          required: false
          type: string
        - default: all
          description: odt level
          enum:
            - scheduled
            - all
            - zonal
            - with_stops
          in: query
          name: odt_level
          required: false
          type: string
        - default: base_schedule
          description: |-
            Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .
            Provides only the vehicle_journeys valid for the data freshness level requested.
            Using `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: filters objects not valid before this date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: filters objects not valid after this date
          format: date-time
          in: query
          name: until
          required: false
          type: string
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - description: The filter parameter
          in: query
          name: filter
          required: false
          type: string
        - collectionFormat: multi
          description: 'If filled, will restrain the search within the given disruption tags'
          in: query
          items:
            type: string
          name: 'tags[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: Retrieves companies
          schema:
            properties:
              companies:
                items:
                  $ref: '#/definitions/Companie'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: Companies
            type: object
      summary: ''
      tags:
        - Companies
  '/coverage/{lon};{lat}/companies/{id}':
    get:
      operationId: get_coverage__lon__lat__companies__id_
      parameters:
        - description: The page where you want to start
          in: query
          name: start_page
          required: false
          type: integer
        - description: Number of objects you want on a page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: An external code to query
          in: query
          name: external_code
          required: false
          type: string
        - description: filter vehicle journeys on headsign
          in: query
          name: headsign
          required: false
          type: string
        - default: all
          description: odt level
          enum:
            - scheduled
            - all
            - zonal
            - with_stops
          in: query
          name: odt_level
          required: false
          type: string
        - default: base_schedule
          description: |-
            Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .
            Provides only the vehicle_journeys valid for the data freshness level requested.
            Using `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: filters objects not valid before this date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: filters objects not valid after this date
          format: date-time
          in: query
          name: until
          required: false
          type: string
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'If filled, will restrain the search within the given disruption tags'
          in: query
          items:
            type: string
          name: 'tags[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
        - description: Id of the object you want to query
          format: '[^/]+'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Retrieves companies
          schema:
            properties:
              companies:
                items:
                  $ref: '#/definitions/Companie'
                type: array
              context:
                $ref: '#/definitions/Context'
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: Companies
            type: object
      summary: ''
      tags:
        - Companies
  '/coverage/{lon};{lat}/contributors':
    get:
      operationId: get_coverage__lon__lat__contributors
      parameters:
        - description: The page where you want to start
          in: query
          name: start_page
          required: false
          type: integer
        - description: Number of objects you want on a page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: An external code to query
          in: query
          name: external_code
          required: false
          type: string
        - description: filter vehicle journeys on headsign
          in: query
          name: headsign
          required: false
          type: string
        - default: all
          description: odt level
          enum:
            - scheduled
            - all
            - zonal
            - with_stops
          in: query
          name: odt_level
          required: false
          type: string
        - default: base_schedule
          description: |-
            Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .
            Provides only the vehicle_journeys valid for the data freshness level requested.
            Using `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: filters objects not valid before this date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: filters objects not valid after this date
          format: date-time
          in: query
          name: until
          required: false
          type: string
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - description: The filter parameter
          in: query
          name: filter
          required: false
          type: string
        - collectionFormat: multi
          description: 'If filled, will restrain the search within the given disruption tags'
          in: query
          items:
            type: string
          name: 'tags[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: Retrieves contributors
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              contributors:
                items:
                  $ref: '#/definitions/Contributor'
                type: array
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: Contributors
            type: object
      summary: ''
      tags:
        - Contributors
  '/coverage/{lon};{lat}/contributors/{id}':
    get:
      operationId: get_coverage__lon__lat__contributors__id_
      parameters:
        - description: The page where you want to start
          in: query
          name: start_page
          required: false
          type: integer
        - description: Number of objects you want on a page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: An external code to query
          in: query
          name: external_code
          required: false
          type: string
        - description: filter vehicle journeys on headsign
          in: query
          name: headsign
          required: false
          type: string
        - default: all
          description: odt level
          enum:
            - scheduled
            - all
            - zonal
            - with_stops
          in: query
          name: odt_level
          required: false
          type: string
        - default: base_schedule
          description: |-
            Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .
            Provides only the vehicle_journeys valid for the data freshness level requested.
            Using `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: filters objects not valid before this date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: filters objects not valid after this date
          format: date-time
          in: query
          name: until
          required: false
          type: string
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'If filled, will restrain the search within the given disruption tags'
          in: query
          items:
            type: string
          name: 'tags[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
        - description: Id of the object you want to query
          format: '[^/]+'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Retrieves contributors
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              contributors:
                items:
                  $ref: '#/definitions/Contributor'
                type: array
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: Contributors
            type: object
      summary: ''
      tags:
        - Contributors
  '/coverage/{lon};{lat}/coord':
    get:
      operationId: get_coverage__lon__lat__coord
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: Not implemented yet
          schema:
            properties:
              address:
                $ref: '#/definitions/Address'
              context:
                $ref: '#/definitions/Context'
              message:
                type: string
              regions:
                items:
                  type: string
                type: array
            required:
              - regions
            title: DictAddresses
            type: object
      summary: ''
      tags:
        - Coords
  '/coverage/{lon};{lat}/coord/{id}':
    get:
      operationId: get_coverage__lon__lat__coord__id_
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
        - description: Id of the object you want to query
          format: '[^/]+'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Not implemented yet
          schema:
            properties:
              address:
                $ref: '#/definitions/Address'
              context:
                $ref: '#/definitions/Context'
              message:
                type: string
              regions:
                items:
                  type: string
                type: array
            required:
              - regions
            title: DictAddresses
            type: object
      summary: ''
      tags:
        - Coords
  '/coverage/{lon};{lat}/coords':
    get:
      operationId: get_coverage__lon__lat__coords
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: Not implemented yet
          schema:
            properties:
              address:
                $ref: '#/definitions/Address'
              context:
                $ref: '#/definitions/Context'
              message:
                type: string
              regions:
                items:
                  type: string
                type: array
            required:
              - regions
            title: DictAddresses
            type: object
      summary: ''
      tags:
        - Coords
  '/coverage/{lon};{lat}/coords/{id}':
    get:
      operationId: get_coverage__lon__lat__coords__id_
      parameters:
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
        - description: Id of the object you want to query
          format: '[^/]+'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Not implemented yet
          schema:
            properties:
              address:
                $ref: '#/definitions/Address'
              context:
                $ref: '#/definitions/Context'
              message:
                type: string
              regions:
                items:
                  type: string
                type: array
            required:
              - regions
            title: DictAddresses
            type: object
      summary: ''
      tags:
        - Coords
  '/coverage/{lon};{lat}/datasets':
    get:
      operationId: get_coverage__lon__lat__datasets
      parameters:
        - description: The page where you want to start
          in: query
          name: start_page
          required: false
          type: integer
        - description: Number of objects you want on a page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: An external code to query
          in: query
          name: external_code
          required: false
          type: string
        - description: filter vehicle journeys on headsign
          in: query
          name: headsign
          required: false
          type: string
        - default: all
          description: odt level
          enum:
            - scheduled
            - all
            - zonal
            - with_stops
          in: query
          name: odt_level
          required: false
          type: string
        - default: base_schedule
          description: |-
            Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .
            Provides only the vehicle_journeys valid for the data freshness level requested.
            Using `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: filters objects not valid before this date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: filters objects not valid after this date
          format: date-time
          in: query
          name: until
          required: false
          type: string
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - description: The filter parameter
          in: query
          name: filter
          required: false
          type: string
        - collectionFormat: multi
          description: 'If filled, will restrain the search within the given disruption tags'
          in: query
          items:
            type: string
          name: 'tags[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
      responses:
        '200':
          description: Retrieves datasets
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              datasets:
                items:
                  $ref: '#/definitions/Dataset'
                type: array
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
              feed_publishers:
                items:
                  $ref: '#/definitions/FeedPublisher'
                type: array
              links:
                items:
                  $ref: '#/definitions/LinkSchema'
                type: array
              notes:
                items:
                  $ref: '#/definitions/Note'
                type: array
              pagination:
                $ref: '#/definitions/Pagination'
            required:
              - pagination
              - disruptions
              - feed_publishers
            title: Datasets
            type: object
      summary: ''
      tags:
        - Datasets
  '/coverage/{lon};{lat}/datasets/{id}':
    get:
      operationId: get_coverage__lon__lat__datasets__id_
      parameters:
        - description: The page where you want to start
          in: query
          name: start_page
          required: false
          type: integer
        - description: Number of objects you want on a page
          in: query
          maximum: 1000
          name: count
          required: false
          type: integer
        - description: The depth of your object
          in: query
          maximum: 3
          minimum: 0
          name: depth
          required: false
          type: integer
        - collectionFormat: multi
          description: 'DEPRECATED, replaced by `forbidden_uris[]`'
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_id[]'
          required: false
          type: array
        - collectionFormat: multi
          description: forbidden uris
          in: query
          items:
            format: pt-object
            type: string
          name: 'forbidden_uris[]'
          required: false
          type: array
        - description: An external code to query
          in: query
          name: external_code
          required: false
          type: string
        - description: filter vehicle journeys on headsign
          in: query
          name: headsign
          required: false
          type: string
        - default: all
          description: odt level
          enum:
            - scheduled
            - all
            - zonal
            - with_stops
          in: query
          name: odt_level
          required: false
          type: string
        - default: base_schedule
          description: |-
            Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .
            Provides only the vehicle_journeys valid for the data freshness level requested.
            Using `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).
          enum:
            - base_schedule
            - adapted_schedule
            - realtime
          in: query
          name: data_freshness
          required: false
          type: string
        - description: Distance range of the query. Used only if a coord is in the query
          in: query
          name: distance
          required: false
          type: integer
        - description: filters objects not valid before this date
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: filters objects not valid after this date
          format: date-time
          in: query
          name: until
          required: false
          type: string
        - description: remove geojson from the response
          in: query
          name: disable_geojson
          required: false
          type: boolean
        - description: remove disruptions from the response
          in: query
          name: disable_disruption
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'If filled, will restrain the search within the given disruption tags'
          in: query
          items:
            type: string
          name: 'tags[]'
          required: false
          type: array
        - description: The latitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lat
          required: true
          type: number
        - description: The longitude of where the coord you want to query
          format: '-?\d+(\.\d+)?'
          in: path
          name: lon
          required: true
          type: number
        - description: Id of the object you want to query
          format: '[^/]+'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Retrieves datasets
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
              datasets:
                items:
                  $ref: '#/definitions/Dataset'
                type: array
              disruptions:
                items:
                  $ref: '#/definitions/Disruption'
                type: array
              error:
                $ref: '#/definitions/Error'
[...]
