{
  "openapi": "3.0.1",
  "servers": [
    {
      "description": "Openrouteservice API",
      "url": "https://api.openrouteservice.org"
    },
    {
      "description": "Development Server",
      "url": "http://localhost:{port}{basePath}",
      "variables": {
        "basePath": {
          "default": "/ors",
          "description": "Base path of the local openrouteservice instance"
        },
        "port": {
          "default": "8082",
          "description": "Port the local openrouteservice instance runs on"
        }
      }
    }
  ],
  "info": {
    "contact": {
      "email": "support@smartmobility.heigit.org",
      "name": "Openrouteservice",
      "url": "https://github.com/GIScience/openrouteservice"
    },
    "description": "This is the openrouteservice API documentation for ORS Core-Version 7.1.1. Documentations for [older Core-Versions](https://github.com/GIScience/openrouteservice-docs/releases) can be rendered with the [Swagger-Editor](https://editor-next.swagger.io/).",
    "license": {
      "name": "GNU General Public License v3.0",
      "url": "https://github.com/GIScience/openrouteservice/blob/main/LICENSE"
    },
    "title": "Openrouteservice",
    "version": "v2",
    "x-apisguru-categories": [
      "location"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://mobidatalab.github.io/mdl-catalog-api/v2/cache/logo/https_openrouteservice.org_dev_static_img_logo@2x.1368651.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://openrouteservice.org/wp-json/ors-api/v1/api-doc/source/V2",
        "version": "3.0"
      }
    ],
    "x-ors-version": "7.1.1",
    "x-preferred": true,
    "x-providerName": "openrouteservice.org"
  },
  "tags": [
    {
      "description": "Snap coordinates to the graph edges.",
      "name": "Snapping Service"
    },
    {
      "description": "Get information on the status of the api",
      "name": "Status service"
    },
    {
      "description": "Get directions for different modes of transport",
      "name": "Directions Service"
    },
    {
      "description": "Export the base graph for different modes of transport",
      "name": "Export Service"
    },
    {
      "description": "Get information on the health of the api",
      "name": "Health service"
    },
    {
      "description": "Obtain areas of reachability from given locations",
      "name": "Isochrones Service"
    },
    {
      "description": "Obtain one-to-many, many-to-one and many-to-many matrices for time and distance",
      "name": "Matrix Service"
    },
    {
      "description": "Resolve input coordinates to addresses and vice versa",
      "name": "Geocode"
    },
    {
      "description": "Obtain POIs of an area",
      "name": "Pois"
    },
    {
      "description": "Returns elevation for point or line geometries by building 3D geometries from freely available data sources.\n",
      "name": "Elevation"
    },
    {
      "description": "Optimize routes for vehicle fleets",
      "name": "Optimization"
    }
  ],
  "paths": {
    "/elevation/line": {
      "post": {
        "description": "This endpoint can take planar 2D line objects and enrich them with elevation from a variety of datasets.\n\nThe input and output formats are:\n  * GeoJSON\n  * Polyline\n  * <a href=\"https://developers.google.com/maps/documentation/utilities/polylinealgorithm\">Google's Encoded polyline</a> with coordinate precision 5 or 6\n\nExample:\n```\n  # POST LineString as polyline\n  curl -XPOST https://api.openrouteservice.org/elevation/line\n    -H 'Content-Type: application/json' \\\n    -H 'Authorization: INSERT_YOUR_KEY\n    -d '{\n      \"format_in\": \"polyline\",\n      \"format_out\": \"encodedpolyline5\",\n      \"geometry\": [[13.349762, 38.112952],\n                   [12.638397, 37.645772]]\n        }'\n```\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "dataset": {
                    "default": "srtm",
                    "description": "The elevation dataset to be used.",
                    "enum": [
                      "srtm"
                    ],
                    "type": "string"
                  },
                  "format_in": {
                    "description": "The input format the API has to expect.",
                    "enum": [
                      "geojson",
                      "polyline",
                      "encodedpolyline5",
                      "encodedpolyline6"
                    ],
                    "example": "encodedpolyline5",
                    "type": "string"
                  },
                  "format_out": {
                    "default": "geojson",
                    "description": "The output format to be returned.",
                    "enum": [
                      "geojson",
                      "polyline",
                      "encodedpolyline5",
                      "encodedpolyline6"
                    ],
                    "type": "string"
                  },
                  "geometry": {
                    "description": "* geojson: A geometry object of a LineString GeoJSON, e.g.\n         {\"type\": \"LineString\",\n          \"coordinates\": [[13.331302, 38.108433],[13.331273, 38.10849]]\n         }\n* polyline: A list of coordinate lists, e.g.\n         [[13.331302, 38.108433], [13.331273, 38.10849]]\n\n* encodedpolyline5: A <a href=\"https://developers.google.com/maps/documentation/utilities/polylinealgorithm\">Google encoded polyline</a> with a coordinate precision of 5, e.g.\n         u`rgFswjpAKD\n\n* encodedpolyline6: A <a href=\"https://developers.google.com/maps/documentation/utilities/polylinealgorithm\">Google encoded polyline</a> with a coordinate precision of 6, e.g.\n         ap}tgAkutlXqBx@\n",
                    "example": "u`rgFswjpAKD",
                    "type": "object"
                  }
                },
                "required": [
                  "format_in",
                  "geometry"
                ],
                "type": "object"
              }
            }
          },
          "description": "Query the elevation of a line in various formats.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "attribution": {
                      "type": "string"
                    },
                    "geometry": {
                      "properties": {
                        "coordinates": {
                          "items": {
                            "items": {
                              "type": "number"
                            },
                            "type": "array"
                          },
                          "type": "array"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Standard response for successfully processed requests."
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Authorization field missing."
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Key not authorised."
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "An unexpected error was encountered and more detailed internal\nerrorcode is provided.\n| Internal Code | Description                                        |\n|:-------------:|----------------------------------------------------|\n| 4001 |  ValueError in parameters |\n| 4002 |  Wrong HTTP headers |\n| 4003 |  Problems with the provided geometry |\n| 4004 |  Exceeded the number of allowed vertices |\n"
          }
        },
        "summary": "Elevation Line Service",
        "tags": [
          "Elevation"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/elevation/point": {
      "get": {
        "description": "This endpoint can take a 2D point and enrich it with elevation from a variety of datasets.\n\nThe output formats are:\n  * GeoJSON\n  * Point\n\nExample:\n```\n  # GET point\n  curl -XGET https://localhost:5000/elevation/point?geometry=13.349762,38.11295\n```\n",
        "parameters": [
          {
            "description": "Insert your API Key here.\n",
            "example": "your-api-key",
            "in": "query",
            "name": "api_key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The point to be queried, in comma-separated lon,lat values, e.g. [13.349762, 38.11295]",
            "example": "13.349762,38.11295",
            "explode": false,
            "in": "query",
            "name": "geometry",
            "required": true,
            "schema": {
              "items": {
                "type": "number"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "The output format to be returned.",
            "in": "query",
            "name": "format_out",
            "schema": {
              "default": "geojson",
              "enum": [
                "geojson",
                "point"
              ],
              "type": "string"
            }
          },
          {
            "description": "The elevation dataset to be used.",
            "in": "query",
            "name": "dataset",
            "schema": {
              "default": "srtm",
              "enum": [
                "srtm"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "attribution": {
                      "type": "string"
                    },
                    "geometry": {
                      "properties": {
                        "coordinates": {
                          "items": {
                            "type": "number"
                          },
                          "type": "array"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Standard response for successfully processed requests."
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Authorization field missing."
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Key not authorised."
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "An unexpected error was encountered and more detailed internal\nerror code is provided.\n| Internal Code | Description                                        |\n|:-------------:|----------------------------------------------------|\n| 4001 |  ValueError in parameters |\n| 4002 |  Wrong HTTP headers |\n| 4003 |  Problems with the provided geometry |\n| 4004 |  Exceeded the number of allowed vertices |\n"
          }
        },
        "summary": "Elevation Point Service",
        "tags": [
          "Elevation"
        ]
      },
      "post": {
        "description": "This endpoint can take a 2D point and enrich it with elevation from a variety of datasets.\n\nThe input and output formats are:\n  * GeoJSON\n  * Point\n\nExample:\n```\n  # POST point as GeoJSON\n  # https://api.openrouteservice.org/elevation/point?api_key=YOUR-KEY\n  {\n    \"format_in\": \"geojson\",\n    \"format_out\": \"geojson\",\n    \"geometry\": {\n      \"coordinates\": [13.349762, 38.11295],\n      \"type\": \"Point\"\n    }\n  }\n```\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "dataset": {
                    "default": "srtm",
                    "description": "The elevation dataset to be used.",
                    "enum": [
                      "srtm"
                    ],
                    "type": "string"
                  },
                  "format_in": {
                    "description": "The input format the API has to expect.",
                    "enum": [
                      "geojson",
                      "point"
                    ],
                    "example": "point",
                    "type": "string"
                  },
                  "format_out": {
                    "default": "geojson",
                    "description": "The output format to be returned.",
                    "enum": [
                      "geojson",
                      "point"
                    ],
                    "type": "string"
                  },
                  "geometry": {
                    "description": "* geojson: A geometry object of a Point GeoJSON, e.g.\n         {\"type\": \"Point\",\n          \"coordinates\": [13.331273, 38.10849]\n         }\n* point: A coordinate list, e.g.\n         [13.331273, 38.10849]\n",
                    "example": [
                      13.331273,
                      38.10849
                    ],
                    "type": "object"
                  }
                },
                "required": [
                  "format_in",
                  "geometry"
                ],
                "type": "object"
              }
            }
          },
          "description": "Query the elevation of a point in various formats.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "attribution": {
                      "type": "string"
                    },
                    "geometry": {
                      "properties": {
                        "coordinates": {
                          "items": {
                            "type": "number"
                          },
                          "type": "array"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Standard response for successfully processed requests."
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Authorization field missing."
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Key not authorised."
          },
          "500": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "An unexpected error was encountered and more detailed internal\nerrorcode is provided.\n| Internal Code | Description                                        |\n|:-------------:|----------------------------------------------------|\n| 4001 |  ValueError in parameters |\n| 4002 |  Wrong HTTP headers |\n| 4003 |  Problems with the provided geometry |\n| 4004 |  Exceeded the number of allowed vertices |\n"
          }
        },
        "summary": "Elevation Point Service",
        "tags": [
          "Elevation"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/geocode/autocomplete": {
      "get": {
        "description": "**Requests should be throttled when using this endpoint!**\n*Be aware that Responses are asynchronous.*\nReturns a JSON formatted list of objects corresponding to the search input. `boundary.*`-parameters can be combined if they are overlapping. **The interactivity for this enpoint is experimental!** [Please refer to this external Documentation](https://github.com/pelias/documentation/blob/master/autocomplete.md)\n",
        "parameters": [
          {
            "description": "Insert your API Key here.\n",
            "in": "query",
            "name": "api_key",
            "required": true,
            "schema": {
              "default": "your-api-key",
              "type": "string"
            }
          },
          {
            "description": "Name of location, street address or postal code.\n",
            "example": "Toky",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Longitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance.  Use with `focus.point.lat`.\n",
            "example": 8.673964,
            "in": "query",
            "name": "focus.point.lon",
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Latitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance. Use with `focus.point.lon`.\n",
            "example": 49.436431,
            "in": "query",
            "name": "focus.point.lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "focus.point.lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Left border of rectangular boundary to narrow results.\n",
            "example": 8.557663,
            "in": "query",
            "name": "boundary.rect.min_lon",
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Bottom border of rectangular boundary to narrow results.\n",
            "example": 49.331387,
            "in": "query",
            "name": "boundary.rect.min_lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Right border of rectangular boundary to narrow results.\n",
            "example": 8.972054,
            "in": "query",
            "name": "boundary.rect.max_lon",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.min_lat",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Top border of rectangular boundary to narrow results.\n",
            "example": 49.525654,
            "in": "query",
            "name": "boundary.rect.max_lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.min_lat",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.max_lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Restrict results to single country. Possible values are [alpha-2 and alpha-3 country codes](https://en.wikipedia.org/wiki/ISO_3166-1). Example: `DEU` or `DE` for Germany.\n",
            "example": "DE",
            "in": "query",
            "name": "boundary.country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict your search to specific sources. Searches all sources by default. You can either use the normal or short name.\nSources are [`openstreetmap(osm)`](http://www.openstreetmap.org/), [`openaddresses(oa)`](http://openaddresses.io/), [`whosonfirst(wof)`](https://whosonfirst.org/), [`geonames(gn)`](http://www.geonames.org/).\n",
            "in": "query",
            "name": "sources",
            "schema": {
              "default": [
                "osm",
                "oa",
                "gn",
                "wof"
              ],
              "items": {
                "enum": [
                  "openstreetmap",
                  "openaddresses",
                  "whosonfirst",
                  "geonames"
                ],
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            },
            "x-multiSelect": true
          },
          {
            "description": "Restrict search to layers (place type). By default all layers are searched.\n  layer|description|\n  ----|----|\n  `venue`|points of interest, businesses, things with walls|\n  `address`|places with a street address|\n  `street`|streets,roads,highways|\n  `neighbourhood`|social communities, neighbourhoods|\n  `borough`|a local administrative boundary, currently only used for New York City|\n  `localadmin`|local administrative boundaries|\n  `locality`|towns, hamlets, cities|\n  `county`|official governmental area; usually bigger than a locality, almost always smaller than a region|\n  `macrocounty`|a related group of counties. Mostly in Europe.|\n  `region`|states and provinces|\n  `macroregion`|a related group of regions. Mostly in Europe|\n  `country`|places that issue passports, nations, nation-states|\n  `coarse`|alias for simultaneously using all administrative layers (everything except `venue` and `address`)|\n",
            "example": "region,county",
            "in": "query",
            "name": "layers",
            "schema": {
              "items": {
                "enum": [
                  "address",
                  "venue",
                  "neighbourhood",
                  "locality",
                  "borough",
                  "localadmin",
                  "county",
                  "macrocounty",
                  "region",
                  "macroregion",
                  "country",
                  "coarse"
                ],
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            },
            "x-multiSelect": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "bbox": {
                      "items": {
                        "type": "number"
                      },
                      "type": "array"
                    },
                    "features": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "geocoding": {
                      "type": "object"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "title": "Geocode response",
                  "type": "object"
                }
              }
            },
            "description": "Please refer to [this external documentation](https://github.com/pelias/documentation/blob/master/autocomplete.md) for this endpoint"
          }
        },
        "summary": "Geocode Autocomplete Service",
        "tags": [
          "Geocode"
        ]
      }
    },
    "/geocode/reverse": {
      "get": {
        "description": "Returns the next enclosing object with an address tag which surrounds the given coordinate. **The interactivity for this enpoint is experimental!** [Please refer to this external Documentation](https://github.com/pelias/documentation/blob/master/reverse.md#reverse-geocoding)\n",
        "parameters": [
          {
            "description": "Insert your API Key here.\n",
            "in": "query",
            "name": "api_key",
            "required": true,
            "schema": {
              "default": "your-api-key",
              "type": "string"
            }
          },
          {
            "description": "Longitude of the coordinate to query.\n",
            "example": 2.294471,
            "in": "query",
            "name": "point.lon",
            "required": true,
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Latitude of the coordinate to query.\n",
            "in": "query",
            "name": "point.lat",
            "required": true,
            "schema": {
              "default": 48.858268,
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Restrict search to circular region around `point.lat/point.lon`. Value in kilometers.\n",
            "example": 35,
            "in": "query",
            "name": "boundary.circle.radius",
            "schema": {
              "default": 1,
              "type": "number"
            }
          },
          {
            "description": "Set the number of returned results.\n",
            "in": "query",
            "name": "size",
            "schema": {
              "default": 10,
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Restrict search to layers (place type). By default all layers are searched.\n  layer|description|\n  ----|----|\n  `venue`|points of interest, businesses, things with walls|\n  `address`|places with a street address|\n  `street`|streets,roads,highways|\n  `neighbourhood`|social communities, neighbourhoods|\n  `locality`|towns, hamlets, cities|\n  `borough`|a local administrative boundary, currently only used for New York City|\n  `localadmin`|local administrative boundaries|\n  `county`|official governmental area; usually bigger than a locality, almost always smaller than a region|\n  `macrocounty`|a related group of counties. Mostly in Europe.|\n  `region`|states and provinces|\n  `macroregion`|a related group of regions. Mostly in Europe|\n  `country`|places that issue passports, nations, nation-states|\n  `coarse`|alias for simultaneously using all administrative layers (everything except `venue` and `address`)|\n",
            "example": "address,venue",
            "in": "query",
            "name": "layers",
            "schema": {
              "items": {
                "enum": [
                  "venue",
                  "address",
                  "street",
                  "neighbourhood",
                  "locality",
                  "borough",
                  "localadmin",
                  "county",
                  "macrocounty",
                  "region",
                  "macroregion",
                  "country",
                  "coarse"
                ],
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            },
            "x-multiSelect": true
          },
          {
            "description": "Restrict your search to specific sources. Searches all sources by default. You can either use the normal or short name.\nSources are [`openstreetmap(osm)`](http://www.openstreetmap.org/), [`openaddresses(oa)`](http://openaddresses.io/), [`whosonfirst(wof)`](https://whosonfirst.org/), [`geonames(gn)`](http://www.geonames.org/).\n",
            "in": "query",
            "name": "sources",
            "schema": {
              "default": [
                "osm",
                "oa",
                "gn",
                "wof"
              ],
              "items": {
                "enum": [
                  "openstreetmap",
                  "openaddresses",
                  "whosonfirst",
                  "geonames"
                ],
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            },
            "x-multiSelect": true
          },
          {
            "description": "Restrict search to country by [alpha 2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) or [alpha 3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) codes.\n",
            "example": "FR",
            "in": "query",
            "name": "boundary.country",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "bbox": {
                      "items": {
                        "type": "number"
                      },
                      "type": "array"
                    },
                    "features": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "geocoding": {
                      "type": "object"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "title": "Geocode response",
                  "type": "object"
                }
              }
            },
            "description": "Please refer to [this external documentation](https://github.com/pelias/documentation/blob/master/reverse.md#reverse-geocoding) for this endpoint"
          }
        },
        "summary": "Reverse Geocode Service",
        "tags": [
          "Geocode"
        ]
      }
    },
    "/geocode/search": {
      "get": {
        "description": "Returns a JSON formatted list of objects corresponding to the search input. `boundary.*`-parameters can be combined if they are overlapping. **The interactivity for this enpoint is experimental!** [Please refer to this external Documentation](https://github.com/pelias/documentation/blob/master/search.md#search-the-world)\n",
        "parameters": [
          {
            "description": "Insert your API Key here.\n",
            "in": "query",
            "name": "api_key",
            "required": true,
            "schema": {
              "default": "you-api-key",
              "type": "string"
            }
          },
          {
            "description": "Name of location, street address or postal code.\n",
            "example": "Namibian Brewery",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Longitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance.  Use with `focus.point.lat`.\n",
            "example": 8.673964,
            "in": "query",
            "name": "focus.point.lon",
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Latitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance. Use with `focus.point.lon`.\n",
            "example": 49.436431,
            "in": "query",
            "name": "focus.point.lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "focus.point.lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Left border of rectangular boundary to narrow results.\n",
            "example": 8.557663,
            "in": "query",
            "name": "boundary.rect.min_lon",
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Bottom border of rectangular boundary to narrow results.\n",
            "example": 49.331387,
            "in": "query",
            "name": "boundary.rect.min_lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Right border of rectangular boundary to narrow results.\n",
            "example": 8.972054,
            "in": "query",
            "name": "boundary.rect.max_lon",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.min_lat",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Top border of rectangular boundary to narrow results.\n",
            "example": 49.525654,
            "in": "query",
            "name": "boundary.rect.max_lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.min_lat",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.max_lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Center Longitude of circular boundary to narrow results. Use with `boundary.circle.lat` & `boundary.circle.radius`.\n",
            "example": 8.673964,
            "in": "query",
            "name": "boundary.circle.lon",
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Center Latitude of circular boundary to narrow results. Use with `boundary.circle.lon` & `boundary.circle.radius`.\n",
            "example": 49.436431,
            "in": "query",
            "name": "boundary.circle.lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.circle.lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Radius of circular boundary around the center coordinate in kilometers. Use with `boundary.circle.lon` & `boundary.circle.lat`.\n",
            "in": "query",
            "name": "boundary.circle.radius",
            "schema": {
              "default": 50,
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.circle.lon",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.circle.lat",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Restrict results to administrative boundary using a Pelias global id [`gid`](https://github.com/pelias/documentation/blob/f1f475aa4f8c18426fb80baea636990502c08ed3/search.md#search-within-a-parent-administrative-area).\n`gid`s for records can be found using either the [Who's on First Spelunker](http://spelunker.whosonfirst.org/),\na tool for searching Who's on First data, or from the responses of other Pelias queries.\nIn this case a [search for Oklahoma](http://pelias.github.io/compare/#/v1/search%3Ftext=oklahoma)\nwill return the proper `gid`.\n",
            "example": "whosonfirst:region:85688585",
            "in": "query",
            "name": "boundary.gid",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict results to single country. Possible values are [alpha-2 and alpha-3 country codes](https://en.wikipedia.org/wiki/ISO_3166-1). Example: `DEU` or `DE` for Germany.\n",
            "example": "DE",
            "in": "query",
            "name": "boundary.country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict your search to specific sources. Searches all sources by default. You can either use the normal or short name.\nSources are [`openstreetmap(osm)`](http://www.openstreetmap.org/), [`openaddresses(oa)`](http://openaddresses.io/), [`whosonfirst(wof)`](https://whosonfirst.org/), [`geonames(gn)`](http://www.geonames.org/).\n",
            "in": "query",
            "name": "sources",
            "schema": {
              "default": [
                "osm",
                "oa",
                "gn",
                "wof"
              ],
              "items": {
                "enum": [
                  "openstreetmap",
                  "openaddresses",
                  "whosonfirst",
                  "geonames"
                ],
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            },
            "x-multiSelect": true
          },
          {
            "description": "Restrict search to layers (place type). By default all layers are searched.\n  layer|description|\n  ----|----|\n  `venue`|points of interest, businesses, things with walls|\n  `address`|places with a street address|\n  `street`|streets,roads,highways|\n  `neighbourhood`|social communities, neighbourhoods|\n  `borough`|a local administrative boundary, currently only used for New York City|\n  `localadmin`|local administrative boundaries|\n  `locality`|towns, hamlets, cities|\n  `county`|official governmental area; usually bigger than a locality, almost always smaller than a region|\n  `macrocounty`|a related group of counties. Mostly in Europe.|\n  `region`|states and provinces|\n  `macroregion`|a related group of regions. Mostly in Europe|\n  `country`|places that issue passports, nations, nation-states|\n  `coarse`|alias for simultaneously using all administrative layers (everything except `venue` and `address`)|\n",
            "example": "region,county",
            "in": "query",
            "name": "layers",
            "schema": {
              "items": {
                "enum": [
                  "address",
                  "venue",
                  "neighbourhood",
                  "locality",
                  "borough",
                  "localadmin",
                  "county",
                  "macrocounty",
                  "region",
                  "macroregion",
                  "country",
                  "coarse"
                ],
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            },
            "x-multiSelect": true
          },
          {
            "description": "Set the number of returned results.\n",
            "in": "query",
            "name": "size",
            "schema": {
              "default": 10,
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "bbox": {
                      "items": {
                        "type": "number"
                      },
                      "type": "array"
                    },
                    "features": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "geocoding": {
                      "type": "object"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "title": "Geocode response",
                  "type": "object"
                }
              }
            },
            "description": "Please refer to [this external documentation](https://github.com/pelias/documentation/blob/master/search.md#search-the-world) for this endpoint"
          }
        },
        "summary": "Forward Geocode Service",
        "tags": [
          "Geocode"
        ]
      }
    },
    "/geocode/search/structured": {
      "get": {
        "description": "Returns a JSON formatted list of objects corresponding to the search input. **The interactivity for this enpoint is experimental!** [Please refer to this external Documentation](https://github.com/pelias/documentation/blob/master/structured-geocoding.md#structured-geocoding)\n",
        "parameters": [
          {
            "description": "Insert your API Key here.\n",
            "in": "query",
            "name": "api_key",
            "required": true,
            "schema": {
              "default": "your-api-key",
              "type": "string"
            }
          },
          {
            "description": "Search for full address with house number or only a street name.\n",
            "example": "none",
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for neighbourhoods. Neighbourhoods are vernacular geographic entities that may not necessarily be official administrative divisions but are important nonetheless. Example: `Notting Hill`.\n",
            "example": "none",
            "in": "query",
            "name": "neighbourhood",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for full country name, [alpha 2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) or [alpha 3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) codes.\n",
            "example": "none",
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for postal codes. Postal codes are unique within a country so they are useful in geocoding as a shorthand for a fairly granular geographical location.\n",
            "example": "none",
            "in": "query",
            "name": "postalcode",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for regions. Regions are normally the first-level administrative divisions within countries. For US-regions [common abbreviations](https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations) can be used.\n",
            "example": "none",
            "in": "query",
            "name": "region",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for counties. Counties are administrative divisions between localities and regions. Can be useful when attempting to disambiguate between localities.\n",
            "example": "none",
            "in": "query",
            "name": "county",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for localities. Localities are equivalent to what are commonly referred to as *cities*.\n",
            "example": "Tokyo",
            "in": "query",
            "name": "locality",
            "schema": {
              "default": "Tokyo",
              "type": "string"
            }
          },
          {
            "description": "Search for boroughs. Boroughs are mostly known in the context of New York City, even though they may exist in other cities, such as Mexico City. Example: `Manhatten`.\n",
            "example": "none",
            "in": "query",
            "name": "borough",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Longitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance.  Use with `focus.point.lat`.\n",
            "example": 8.673964,
            "in": "query",
            "name": "focus.point.lon",
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Latitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance. Use with `focus.point.lon`.\n",
            "example": 49.436431,
            "in": "query",
            "name": "focus.point.lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "focus.point.lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Left border of rectangular boundary to narrow results.\n",
            "example": 8.557663,
            "in": "query",
            "name": "boundary.rect.min_lon",
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Bottom border of rectangular boundary to narrow results.\n",
            "example": 49.331387,
            "in": "query",
            "name": "boundary.rect.min_lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Right border of rectangular boundary to narrow results.\n",
            "example": 8.972054,
            "in": "query",
            "name": "boundary.rect.max_lon",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.min_lat",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Top border of rectangular boundary to narrow results.\n",
            "example": 49.525654,
            "in": "query",
            "name": "boundary.rect.max_lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.rect.min_lon",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.min_lat",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.rect.max_lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Center Longitude of circular boundary to narrow results. Use with `boundary.circle.lat` & `boundary.circle.radius`.\n",
            "example": 8.673964,
            "in": "query",
            "name": "boundary.circle.lon",
            "schema": {
              "format": "float",
              "type": "number"
            }
          },
          {
            "description": "Center Latitude of circular boundary to narrow results. Use with `boundary.circle.lon` & `boundary.circle.radius`.\n",
            "example": 49.436431,
            "in": "query",
            "name": "boundary.circle.lat",
            "schema": {
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.circle.lon",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Radius of circular boundary around the center coordinate in kilometers. Use with `boundary.circle.lon` & `boundary.circle.lat`.\n",
            "in": "query",
            "name": "boundary.circle.radius",
            "schema": {
              "default": 50,
              "format": "float",
              "type": "number"
            },
            "x-validWhen": [
              {
                "ref": "boundary.circle.lon",
                "skipRootPathLookup": true
              },
              {
                "ref": "boundary.circle.lat",
                "skipRootPathLookup": true
              }
            ]
          },
          {
            "description": "Restrict results to single country. Possible values are [alpha-2 and alpha-3 country codes](https://en.wikipedia.org/wiki/ISO_3166-1). Example: `DEU` or `DE` for Germany.\n",
            "example": "DE",
            "in": "query",
            "name": "boundary.country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict search to layers (place type). By default all layers are searched.\n  layer|description|\n  ----|----|\n  `venue`|points of interest, businesses, things with walls|\n  `address`|places with a street address|\n  `street`|streets,roads,highways|\n  `neighbourhood`|social communities, neighbourhoods|\n  `borough`|a local administrative boundary, currently only used for New York City|\n  `localadmin`|local administrative boundaries|\n  `locality`|towns, hamlets, cities|\n  `county`|official governmental area; usually bigger than a locality, almost always smaller than a region|\n  `macrocounty`|a related group of counties. Mostly in Europe.|\n  `region`|states and provinces|\n  `macroregion`|a related group of regions. Mostly in Europe|\n  `country`|places that issue passports, nations, nation-states|\n  `coarse`|alias for simultaneously using all administrative layers (everything except `venue` and `address`)|\n",
            "example": "address,venue",
            "in": "query",
            "name": "layers",
            "schema": {
              "items": {
                "enum": [
                  "address",
                  "venue",
                  "neighbourhood",
                  "locality",
                  "borough",
                  "localadmin",
                  "county",
                  "macrocounty",
                  "region",
                  "macroregion",
                  "country",
                  "coarse"
                ],
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            },
            "x-multiSelect": true
          },
          {
            "description": "Restrict your search to specific sources. Searches all sources by default. You can either use the normal or short name. Sources are [`openstreetmap(osm)`](http://www.openstreetmap.org/), [`openaddresses(oa)`](http://openaddresses.io/), [`whosonfirst(wof)`](https://whosonfirst.org/), [`geonames(gn)`](http://www.geonames.org/).\n",
            "in": "query",
            "name": "sources",
            "schema": {
              "default": [
                "osm",
                "oa",
                "gn",
                "wof"
              ],
              "items": {
                "enum": [
                  "openstreetmap",
                  "openaddresses",
                  "whosonfirst",
                  "geonames"
                ],
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            },
            "x-multiSelect": true
          },
          {
            "description": "Set the number of returned results.\n",
            "in": "query",
            "name": "size",
            "schema": {
              "default": 10,
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "bbox": {
                      "items": {
                        "type": "number"
                      },
                      "type": "array"
                    },
                    "features": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "geocoding": {
                      "type": "object"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "title": "Geocode response",
                  "type": "object"
                }
              }
            },
            "description": "Please refer to [this external documentation](https://github.com/pelias/documentation/blob/master/structured-geocoding.md#structured-geocoding) for this endpoint"
          }
        },
        "summary": "Structured Forward Geocode Service (beta)",
        "tags": [
          "Geocode"
        ]
      }
    },
    "/optimization": {
      "post": {
        "description": "The optimization endpoint solves [Vehicle Routing Problems](https://en.wikipedia.org/wiki/Vehicle_routing_problem) and can be used to schedule multiple vehicles and jobs, respecting time windows, capacities and required skills.\n\nThis service is based on the excellent [Vroom project](https://github.com/VROOM-Project/vroom). Please also consult its [API documentation](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md).\n\nGeneral Info:\n- The expected order for all coordinates arrays is `[lon, lat]`\n- All timings are in seconds\n- All distances are in meters\n- A `time_window` object is a pair of timestamps in the form `[start, end]`\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "jobs": {
                    "description": "Array of `job` objects describing the places to visit. For a detailed object description visit the [VROOM api description](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#jobs)\n",
                    "example": [
                      {
                        "delivery": [
                          1
                        ],
                        "id": 1,
                        "location": [
                          1.98465,
                          48.70329
                        ],
                        "service": 300,
                        "skills": [
                          1
                        ],
                        "time_windows": [
                          [
                            32400,
                            36000
                          ]
                        ]
                      },
                      {
                        "delivery": [
                          1
                        ],
                        "id": 2,
                        "location": [
                          2.03655,
                          48.61128
                        ],
                        "service": 300,
                        "skills": [
                          1
                        ]
                      },
                      {
                        "delivery": [
                          1
                        ],
                        "id": 3,
                        "location": [
                          2.39719,
                          49.07611
                        ],
                        "service": 300,
                        "skills": [
                          2
                        ]
                      },
                      {
                        "delivery": [
                          1
                        ],
                        "id": 4,
                        "location": [
                          2.41808,
                          49.22619
                        ],
                        "service": 300,
                        "skills": [
                          2
                        ]
                      },
                      {
                        "delivery": [
                          1
                        ],
                        "id": 5,
                        "location": [
                          2.28325,
                          48.5958
                        ],
                        "service": 300,
                        "skills": [
                          14
                        ]
                      },
                      {
                        "delivery": [
                          1
                        ],
                        "id": 6,
                        "location": [
                          2.89357,
                          48.90736
                        ],
                        "service": 300,
                        "skills": [
                          14
                        ]
                      }
                    ],
                    "items": {
                      "description": "If a custom matrix is provided:\n- `location_index` is mandatory\n- `location` is optional but can be set to retrieve coordinates in the response\n\nIf no custom matrix is provided:\n- a `matrix` query will be sent to ORS\n- `location` is mandatory\n- `location_index` is irrelevant\n",
                      "properties": {
                        "delivery": {
                          "description": "an array of integers describing multidimensional quantities for delivery\n",
                          "items": {
                            "format": "int32",
                            "type": "number"
                          },
                          "type": "array"
                        },
                        "description": {
                          "description": "a string describing this job\n",
                          "example": "Fix broken pipe",
                          "type": "string"
                        },
                        "id": {
                          "description": "an integer used as unique identifier\n",
                          "format": "int32",
                          "type": "integer"
                        },
                        "location": {
                          "description": "coordinates array in `[lon, lat]`\n",
                          "items": {
                            "items": {
                              "format": "float",
                              "type": "number"
                            },
                            "maxItems": 2,
                            "minItems": 2,
                            "type": "array"
                          },
                          "type": "array"
                        },
                        "location_index": {
                          "description": "index of relevant row and column in custom matrix\n",
                          "type": "object"
                        },
                        "pickup": {
                          "description": "an array of integers describing multidimensional quantities for pickup\n",
                          "items": {
                            "format": "int32",
                            "type": "number"
                          },
                          "type": "array"
                        },
                        "priority": {
                          "default": 0,
                          "description": "an integer in the range [0, 100] describing priority level (defaults to 0)\n",
                          "format": "int32",
                          "type": "number"
                        },
                        "service": {
                          "description": "job service duration (defaults to 0), in seconds\n",
                          "type": "object"
                        },
                        "setup": {
                          "description": "job setup duration (defaults to 0), in seconds\n",
                          "format": "int32",
                          "type": "number"
                        },
                        "skills": {
                          "description": "Array of integers defining mandatory skills for this job\n",
                          "items": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "type": "array"
                        },
                        "time_windows": {
                          "description": "Array of `time_window` arrays describing valid slots for job service start and end,\nin week seconds, i.e. 28800 = Mon, 8 AM.\n",
                          "example": [
                            [
                              28800,
                              32400
                            ],
                            [
                              61200,
                              68400
                            ]
                          ],
                          "items": {
                            "items": {
                              "format": "int32",
                              "type": "integer"
                            },
                            "type": "array"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "matrices": {
                    "description": "The matrices object allows to input (non-empty) custom matrices for each vehicle profile.\n\nIf only the durations matrix is provided, internal costs are derived from durations based on vehicles costs properties.\n\nIf custom matrices are provided for all required vehicle profile values, the location, start and end properties become optional.\nInstead of the coordinates, row and column indications provided with the *_index keys are used during optimization.\n",
                    "example": {
                      "cycling-regular": {
                        "durations": [
                          [
                            0,
                            57
                          ],
                          [
                            43,
                            0
                          ]
                        ]
                      },
                      "driving-car": {
                        "durations": [
                          [
                            0,
                            14
                          ],
                          [
                            21,
                            0
                          ]
                        ]
                      }
                    },
                    "properties": {
                      "cycling-electric": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "cycling-mountain": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "cycling-regular": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "cycling-road": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "driving-car": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "driving-hgv": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "foot-hiking": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "foot-walking": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "wheelchair": {
                        "description": "Contains `durations`, `distances` or `cost` matrices for a profile",
                        "properties": {
                          "costs": {
                            "description": "costs for a custom cost matrix that will be used within all route cost evaluations",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "distances": {
                            "description": "distances for a custom distance matrix",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "durations": {
                            "description": "Durations for a custom travel-time matrix that will be used for all checks against timing constraints",
                            "items": {
                              "items": {
                                "format": "number",
                                "type": "integer"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "options": {
                    "description": "Additional options passed to the optimization engine.",
                    "properties": {
                      "g": {
                        "description": "Calculate geometries for the optimized routes.",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "vehicles": {
                    "description": "Array of `vehicle` objects describing the available vehicles. For a detailed object description visit the [VROOM API description](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#vehicles)\n",
                    "example": [
                      {
                        "capacity": [
                          4
                        ],
                        "end": [
                          2.35044,
                          48.71764
                        ],
                        "id": 1,
                        "profile": "driving-car",
                        "skills": [
                          1,
                          14
                        ],
                        "start": [
                          2.35044,
                          48.71764
                        ],
                        "time_window": [
                          28800,
                          43200
                        ]
                      },
                      {
                        "capacity": [
                          4
                        ],
                        "end": [
                          2.35044,
                          48.71764
                        ],
                        "id": 2,
                        "profile": "driving-car",
                        "skills": [
                          2,
                          14
                        ],
                        "start": [
                          2.35044,
                          48.71764
                        ],
                        "time_window": [
                          28800,
                          43200
                        ]
                      }
                    ],
                    "items": {
                      "description": "A vehicle object with capacity, time windows and skills.\n",
                      "properties": {
                        "breaks": {
                          "description": "An array of `break` objects\n",
                          "items": {
                            "properties": {
                              "description": {
                                "description": "a string describing this break\n",
                                "type": "string"
                              },
                              "id": {
                                "description": "Integer used as unique identifier\n",
                                "format": "int32",
                                "type": "integer"
                              },
                              "max_load": {
                                "description": "Array of integers describing the maximum vehicle load for which this break can happen.\nAn error is reported if two break objects have the same id for the same vehicle.\n",
                                "items": {
                                  "format": "integer",
                                  "type": "number"
                                },
                                "type": "array"
                              },
                              "service": {
                                "default": 0,
                                "description": "break duration in seconds (defaults to 0)\n",
                                "format": "int32",
                                "type": "number"
                              },
                              "time_windows": {
                                "description": "Array of time_window objects describing valid slots for break start and end,\nin week seconds, i.e. 28800 = Mon, 8 AM.\n",
                                "example": [
                                  [
                                    28800,
                                    32400
                                  ],
                                  [
                                    61200,
                                    68400
                                  ]
                                ],
                                "items": {
                                  "items": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "type": "array"
                                },
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "capacity": {
                          "description": "Array of integers describing multidimensional quantities.\n",
                          "items": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "type": "array"
                        },
                        "costs": {
                          "properties": {
                            "fixed": {
                              "default": 0,
                              "description": "integer defining the cost of using this vehicle in the solution (defaults to 0)\n",
                              "format": "int32",
                              "type": "number"
                            },
                            "per_hour": {
                              "default": 3600,
                              "description": "integer defining the cost for one hour of travel time with this vehicle (defaults to 3600)\n",
                              "format": "int32",
                              "type": "number"
                            },
                            "per_km": {
                              "default": 0,
                              "description": "integer defining the cost for one km of travel time with this vehicle (defaults to 0)\n",
                              "format": "int32",
                              "type": "number"
                            }
                          },
                          "type": "object"
                        },
                        "description": {
                          "description": "a string describing this vehicle\n",
                          "example": "Delivery vehicle 1",
                          "type": "string"
                        },
                        "end": {
                          "description": "End coordinates array in `[lon, lat]` format. If left blank, the optimization\nengine will identify the optimal end point.\n",
                          "items": {
                            "format": "float",
                            "type": "number"
                          },
                          "maxItems": 2,
                          "minItems": 2,
                          "type": "array"
                        },
                        "end_index": {
                          "description": "Index of relevant row and column in custom matrix.\n",
                          "type": "object"
                        },
                        "id": {
                          "description": "Integer used as unique identifier\n",
                          "format": "int32",
                          "type": "integer"
                        },
                        "max_distance": {
                          "description": "an integer defining the maximum distance for this vehicle\n",
                          "format": "int32",
                          "type": "number"
                        },
                        "max_tasks": {
                          "description": "an integer defining the maximum number of tasks in a route for this vehicle\n",
                          "format": "int32",
                          "type": "number"
                        },
                        "max_travel_time": {
                          "description": "an integer defining the maximum travel time for this vehicle\n",
                          "format": "int32",
                          "type": "number"
                        },
                        "profile": {
                          "description": "The ORS routing profile for the vehicle.\n",
                          "enum": [
                            "driving-car",
                            "driving-hgv",
                            "cycling-regular",
                            "cycling-mountain",
                            "cycling-electric",
                            "cycling-road",
                            "foot-walking",
                            "foot-hiking",
                            "wheelchair"
                          ],
                          "example": "driving-car",
                          "type": "string"
                        },
                        "skills": {
                          "description": "Array of integers defining skills for this vehicle\n",
                          "items": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "type": "array"
                        },
                        "speed_factor": {
                          "description": "A double value in the range (0, 5] used to scale all vehicle travel times (defaults to 1.).\nThe respected precision is limited to two digits after the decimal point.\n",
                          "format": "float",
                          "type": "number"
                        },
                        "start": {
                          "description": "Start coordinates array in `[lon, lat]` format. If left blank, the optimization\nengine will identify the optimal start point.\n",
                          "items": {
                            "format": "float",
                            "type": "number"
                          },
                          "maxItems": 2,
                          "minItems": 2,
                          "type": "array"
                        },
                        "start_index": {
                          "description": "Index of relevant row and column in custom matrix.\n",
                          "type": "object"
                        },
                        "steps": {
                          "items": {
                            "properties": {
                              "id": {
                                "description": "id of the task to be performed at this step if `type` value is not `start` or `end`\n",
                                "format": "int32",
                                "type": "number"
                              },
                              "service_after": {
                                "description": "hard constraint on service time lower bound (as absolute or relative timestamp)\n",
                                "format": "int32",
                                "type": "number"
                              },
                              "service_at": {
                                "description": "hard constraint on service time (as absolute or relative timestamp)\n",
                                "format": "int32",
                                "type": "number"
                              },
                              "service_before": {
                                "description": "hard constraint on service time upper bound (as absolute or relative timestamp)\n",
                                "format": "int32",
                                "type": "number"
                              },
                              "type": {
                                "description": "step type (either start, job, pickup, delivery, break or end)]\n",
                                "enum": [
                                  "start",
                                  "job",
                                  "pickup",
                                  "delivery",
                                  "break",
                                  "end"
                                ],
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "time_window": {
                          "description": "A `time_window` array describing working hours for this vehicle,\nin week seconds, i.e. 28800 = Mon, 8 AM.\n",
                          "example": [
                            28800,
                            32400
                          ],
                          "items": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "jobs",
                  "vehicles"
                ],
                "type": "object"
              }
            }
          },
          "description": "The request body of the optimization request.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "status code. Possible values:\n\n Value         | Status |\n :-----------: | :-----------: |\n `0` | no error raised |\n `1` | internal error |\n `2` | input error |\n `3` | routing error |\n",
                      "format": "int32",
                      "type": "integer"
                    },
                    "error": {
                      "description": "error message (present if `code` is different from `0`)\n",
                      "type": "string"
                    },
                    "routes": {
                      "description": "array of `route` objects\n",
                      "items": {
                        "properties": {
                          "cost": {
                            "description": "cost for this route",
                            "format": "float",
                            "type": "number"
                          },
                          "delivery": {
                            "description": "Total delivery for tasks in this route",
                            "items": {
                              "format": "int32",
                              "type": "integer"
                            },
                            "type": "array"
                          },
                          "description": {
                            "description": "vehicle description, if provided in input\n",
                            "type": "string"
                          },
                          "distance": {
                            "description": "total route distance. Only provided when using the `-g` flag",
                            "format": "float",
                            "type": "number"
                          },
                          "duration": {
                            "description": "total travel time for this route",
                            "format": "float",
                            "type": "number"
                          },
                          "geometry": {
                            "description": "polyline encoded route geometry. Only provided when using the `-g` flag",
                            "type": "string"
                          },
                          "pickup": {
                            "description": "total pickup for tasks in this route",
                            "items": {
                              "format": "int32",
[...]
