openapi: 3.0.3
servers:
  - url: 'https://fleet.ls.hereapi.com'
info:
  description: 'HERE Fleet Telematics API comprises the 4 HERE Location Services ''Geofencing'', ''Map Attributes'', ''Route Matching'' and ''Waypoints Sequence''. It supersedes the services CLE, CRE, GFE, GFE on Maps, PDE, RME, TCE, WSE and Advanced Datasets.'
  title: HERE Fleet Telematics
  version: 8.0.7
  x-apisguru-categories:
    - location
    - geofencing
    - route_matching
    - routing
    - poi
  x-document-meta-data:
    copyright: © 2022 HERE Europe B.V.
    date-created: '2022-11-17T06:59:11+00:00'
    document-id: b32600bf-0b8f-4a13-9488-3640dd4def2c
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://mobidatalab.github.io/mdl-catalog-api/v2/cache/logo/https_avatars.githubusercontent.com_u_2835506.png'
  x-origin:
    - format: openapi
      url: 'https://developer.here.com/documentation/fleet-telematics/swagger/swagger.json'
      version: '3.0'
  x-preferred: true
  x-providerName: here.com
  x-serviceName: fleet-telematics
tags:
  - description: The HERE Geofencing API can geofence asset positions against HERE Map objects or custom fence objects
    name: Geofencing
  - description: 'The HERE Map Attributes API offes simple and fast access to the rich HERE Map Content, seamlessly extensible by your own map data'
    name: Map Attributes
  - description: Match GPS traces onto the most probably driven path
    name: Route Matching
  - description: Route calculation with enterprise features
    name: Routing Extensions & Route Matching
  - description: Retrieve map features & custom features
    name: Search
  - description: Upload custom roads/restrictions and custom POIs
    name: Upload Data
  - description: Compute best Sequence for Waypoints (Travelling Salesman Problem)
    name: Waypoints Sequence
paths:
  /1/doc/attributes.json:
    get:
      description: List the map layer attributes across all layers. Does not list the custom layers.
      operationId: attributesJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/AttributeDocBean'
                type: array
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: List the layer attributes across all layers
      tags:
        - Map Attributes
        - Search
  /1/doc/indexes.json:
    get:
      description: List the available indexes of all available layers. Does not list indexes of custom layers.
      operationId: indexesJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/IndexDocBean'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: List available layer indexes
      tags:
        - Map Attributes
        - Search
  /1/doc/layer.json:
    get:
      description: List the attributes of a given layer. Does not list the custom layers.
      operationId: layerJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: layer
          in: query
          name: layer
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/LayerDetailDocBean'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: List the layer attributes
      tags:
        - Map Attributes
        - Search
  /1/doc/layers.json:
    get:
      description: 'List available map layers. To see only the layers of a given map region, like Postal Code Boundaries, then specify it as map ''region''. Does not list the custom layers.'
      operationId: layersJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/LayerDocBean'
                type: array
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: List the available map layers
      tags:
        - Map Attributes
        - Search
  /1/doc/maps.json:
    get:
      description: List available map regions/releases. Does not list custom maps.
      operationId: mapsJSONUsingGET_1
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MapDocResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: List available map regions/releases
      tags:
        - Map Attributes
        - Search
  /1/doc/scontent.json:
    get:
      description: List the attributes of a given static (non tiled) layer. Does not work for custom layers.
      operationId: staticContentJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: Static content layer name
          in: query
          name: content
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/StaticContentDetailDocBean'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: List static layer's attributes
      tags:
        - Map Attributes
        - Search
  /1/doc/scontents.json:
    get:
      description: List the available static content (non-tiled) layers. Does not list custom layers.
      operationId: staticContentsJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/StaticContentDocBean'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: List static content layers
      tags:
        - Map Attributes
        - Search
  /1/file.bin:
    get:
      description: 'Retrieve the binary content of a file, like a junction view image'
      operationId: getFileUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: layer name
          in: query
          name: layer
          required: false
          schema:
            type: string
          style: form
        - description: 'file path, as specified in the referencing layer''s attribute value'
          in: query
          name: path
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                format: byte
                type: string
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: File content
      tags:
        - Map Attributes
        - Search
  /1/index.json:
    get:
      description: Retrieve the IDs of tiles that contain a given (set of) attribute value(s). Does not work for custom layers.
      operationId: indexJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: layer name
          in: query
          name: layer
          required: true
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
        - description: comma separated list of index attribute names
          in: query
          name: attributes
          required: false
          schema:
            type: string
          style: form
        - description: 'comma separated list of index attribute values, corresponding to the attribute names'
          in: query
          name: values
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/IndexResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Tile IDs containing a given value
      tags:
        - Map Attributes
        - Search
  /1/search/bbox.json:
    get:
      description: Retrieve the layer content records within given geo bounding box. Does not work for custom layers.
      operationId: searchBboxUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Layer name to be searched. Layer name is not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json
          in: query
          name: layer_id
          required: true
          schema:
            type: string
          style: form
        - description: 'the key column(s) of this layer, as defined in the layer specification'
          in: query
          name: key_attribute
          required: false
          schema:
            type: string
          style: form
        - description: List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.
          in: query
          name: attributes
          required: false
          schema:
            type: string
          style: form
        - description: "A bounding box, provided as upper, left, lower and right coordinates in WGS84 degrees. All geometries overlapping this rectangle will be returned.\r\nThe format is north latitude,west longitude;south latitude,east longitude.\r\nExample: bbox=37.8,-122.1;37.2,-122.0"
          in: query
          name: bbox
          required: true
          schema:
            type: string
          style: form
        - description: 'local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.'
          in: query
          name: geom
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.'
          in: query
          name: region
          required: false
          schema:
            type: string
          style: form
        - description: 'Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.'
          in: query
          name: release
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GeometrySearchResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Retrieve layer content within given geo rectangle
      tags:
        - Map Attributes
        - Search
  /1/search/corridor.json:
    get:
      description: Retrieve the layer content records within an airline distance along a given polyline. Does not work for custom layers.
      operationId: searchCorridorUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Comma separated list of layer names to be searched. Layer names are not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json
          in: query
          name: layer_ids
          required: true
          schema:
            type: string
          style: form
        - description: 'the key column(s) of this layer, as defined in the layer specification'
          in: query
          name: key_attributes
          required: true
          schema:
            type: string
          style: form
        - description: List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.
          in: query
          name: attributes
          required: false
          schema:
            type: string
          style: form
        - description: "Either corridor, route_id or routeHandle is required.\r\nThe WGS84 degree coordinates of the polyline used as corridor center line.\r\nFor example:\r\nlatitude 1,longitude 1;latitude 2,longitude 2;..."
          in: query
          name: corridor
          required: false
          schema:
            type: string
          style: form
        - description: "Either corridor, route_id or routeHandle is required.\r\nA route_id obtained from a previous v7.2 Router call. This route_id will be turned into a corridor polyline."
          in: query
          name: route_id
          required: false
          schema:
            type: string
          style: form
        - description: "Either corridor, route_id or routeHandle is required.\r\nA routeHandle obtained from a previous v8 Router call. This routeHandle will be turned into a corridor polyline."
          in: query
          name: routeHandle
          required: false
          schema:
            type: string
          style: form
        - description: The buffer search radius in meters.All geometries overlapping the corridor polygon will be returned.
          in: query
          name: radius
          required: true
          schema:
            format: double
            type: number
          style: form
        - description: 'local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.'
          in: query
          name: geom
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
        - description: 'The routing mode (e.g. fastest;car;traffic:disabled) that determines how the route is calculated. When route_id/routeHandle is used for the corridor search then please specify the same mode which was used to get the route id or route handle.'
          in: query
          name: mode
          required: false
          schema:
            type: string
          style: form
        - description: 'Mode of transport to be used for the route calculation: car, truck, pedestrian;It determines how the route is calculated. When routeHandle is used for the corridor search then please specify the same transportMode which was used to get the route handle.'
          in: query
          name: transportMode
          required: false
          schema:
            type: string
          style: form
        - description: 'Specifies which optimization is applied during route calculation: fast, short;It determines how the route is calculated. When routeHandle is used for the corridor search then please specify the same routingMode which was used to get the route handle.'
          in: query
          name: routingMode
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.'
          in: query
          name: region
          required: false
          schema:
            type: string
          style: form
        - description: 'Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.'
          in: query
          name: release
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GeometrySearchResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Retrieve layer content within given geo corridor
      tags:
        - Map Attributes
        - Search
    post:
      description: Retrieve the layer content records within an airline distance along a given polyline. Does not work for custom layers.
      operationId: searchCorridorUsingPOST
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Comma separated list of layer names to be searched. Layer names are not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json
          in: query
          name: layer_ids
          required: true
          schema:
            type: string
          style: form
        - description: 'the key column(s) of this layer, as defined in the layer specification'
          in: query
          name: key_attributes
          required: true
          schema:
            type: string
          style: form
        - description: List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.
          in: query
          name: attributes
          required: false
          schema:
            type: string
          style: form
        - description: "Either corridor, route_id or routeHandle is required.\r\nThe WGS84 degree coordinates of the polyline used as corridor center line.\r\nFor example:\r\nlatitude 1,longitude 1;latitude 2,longitude 2;..."
          in: query
          name: corridor
          required: false
          schema:
            type: string
          style: form
        - description: "Either corridor, route_id or routeHandle is required.\r\nA route_id obtained from a previous v7.2 Router call. This route_id will be turned into a corridor polyline."
          in: query
          name: route_id
          required: false
          schema:
            type: string
          style: form
        - description: "Either corridor, route_id or routeHandle is required.\r\nA routeHandle obtained from a previous v8 Router call. This routeHandle will be turned into a corridor polyline."
          in: query
          name: routeHandle
          required: false
          schema:
            type: string
          style: form
        - description: The buffer search radius in meters.All geometries overlapping the corridor polygon will be returned.
          in: query
          name: radius
          required: true
          schema:
            format: double
            type: number
          style: form
        - description: 'local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.'
          in: query
          name: geom
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
        - description: 'The routing mode (e.g. fastest;car;traffic:disabled) that determines how the route is calculated. When route_id/routeHandle is used for the corridor search then please specify the same mode which was used to get the route id or route handle.'
          in: query
          name: mode
          required: false
          schema:
            type: string
          style: form
        - description: 'Mode of transport to be used for the route calculation: car, truck, pedestrian;It determines how the route is calculated. When routeHandle is used for the corridor search then please specify the same transportMode which was used to get the route handle.'
          in: query
          name: transportMode
          required: false
          schema:
            type: string
          style: form
        - description: 'Specifies which optimization is applied during route calculation: fast, short;It determines how the route is calculated. When routeHandle is used for the corridor search then please specify the same routingMode which was used to get the route handle.'
          in: query
          name: routingMode
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.'
          in: query
          name: region
          required: false
          schema:
            type: string
          style: form
        - description: 'Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.'
          in: query
          name: release
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GeometrySearchResponse'
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Retrieve layer content within given geo corridor
      tags:
        - Map Attributes
        - Search
  /1/search/quadkey.json:
    get:
      description: Retrieve the layer content records within a given geo rectangle specified by a (standard WGS84 Mercator) quadkey. Does not work for custom layers.
      operationId: searchQuadKeyUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Layer name to be searched. Layer name is not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json
          in: query
          name: layer_id
          required: true
          schema:
            type: string
          style: form
        - description: 'the key column(s) of this layer, as defined in the layer specification'
          in: query
          name: key_attribute
          required: false
          schema:
            type: string
          style: form
        - description: List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.
          in: query
          name: attributes
          required: false
          schema:
            type: string
          style: form
        - description: The quad key number of the map tile area to search from.
          in: query
          name: quad_key
          required: true
          schema:
            type: string
          style: form
        - description: 'local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.'
          in: query
          name: geom
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.'
          in: query
          name: region
          required: false
          schema:
            type: string
          style: form
        - description: 'Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.'
          in: query
          name: release
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GeometrySearchResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Retrieve layer content within a quadkey
      tags:
        - Map Attributes
        - Search
  /1/serviceconfiguration.json:
    get:
      description: 'Numeric constants and limits for the service calls. Will never become more strict, but can become more relaxed in future releases.'
      operationId: getServiceConfigurationUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceConfigurationResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Service parameter boundary values
      tags:
        - Map Attributes
        - Search
  /1/static.json:
    get:
      description: Retrieve the rows from the static layer's content. Does not include custom layers.
      operationId: staticJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: Static content layer name
          in: query
          name: content
          required: true
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional. If ''1'' then the result records have 2 additional columns: TOPOLOGY_ID and START_OFFSET. The HERE topology segment PVID identifies a stretch of roads between 2 intersections. Links are subsets of a topology segment, hence the offset attributes define the range of the link within the topology segment [0..1].'
          in: query
          name: link2stabletopologyid
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TileResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Static layer's content
      tags:
        - Map Attributes
        - Search
  /1/tile.json:
    get:
      description: Retrieve the rows from within a given tile of this layer. Does not work for custom layers.
      operationId: tileJsonUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Thematic layer name
          in: query
          name: layer
          required: true
          schema:
            type: string
          style: form
        - description: 'Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.'
          in: query
          name: region
          required: false
          schema:
            type: string
          style: form
        - description: 'Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a (nearest to) specific snapshot of the live traffic speed record layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.'
          in: query
          name: release
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
        - description: 'Level of the requested layer, as specified in layer''s documentation.'
          in: query
          name: level
          required: false
          schema:
            type: string
          style: form
        - description: 'Tile number in West-East direction. Depends on the level. The tile covering the longitude LON [WGS84 degree] has tileX = floor((LON + 180.0) / tileSize), where tileSize = 180 / 2^level. The tile with a given tileX value covers the longitude range [ tileX * tileSize - 180.0 ... (tileX + 1) * tileSize - 180.0 ].'
          in: query
          name: tilex
          required: false
          schema:
            type: string
          style: form
        - description: 'Tile number in South-North direction. Depends on the level. The tile covering the latitude LAT [WGS84 degree] has tileY = floor((LAT + 90.0) / tileSize), where tileSize = 180 / (2^level). The tile with a given tileY value covers the latitude range [ tileY * tileSize - 90.0 ... (tileY + 1) * tileSize - 90.0 [.'
          in: query
          name: tiley
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional. If ''1'' then each response tile is framed with meta information (layer, level, tilex, tiley, region, release).'
          in: query
          name: meta
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional. Selects the subset of attributes in the response. Semicolon separated list of attributes, within a per-tile comma separated list. Example: cols=LAT;LON,LAT will retain only LAT and LON in first tile''s result rows and retain only LAT in second tile''s result.'
          in: query
          name: cols
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional. If ''1'' then the result records have 2 additional columns: TOPOLOGY_ID and START_OFFSET. The HERE topology segment PVID identifies a stretch of roads between 2 intersections. Links are subsets of a topology segment, hence the offset attributes define the range of the link within the topology segment [0..1].'
          in: query
          name: link2stabletopologyid
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TileResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Tile of rows from a layer
      tags:
        - Map Attributes
        - Search
  /1/tiles.json:
    get:
      description: Retrieve the rows from within given tile(s) out of one or more layers. Does not work for custom layers.
      operationId: tilesJSONUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: 'Thematic Layer names, one per requested tile, comma separated list.'
          in: query
          name: layers
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.'
          in: query
          name: region
          required: false
          schema:
            type: string
          style: form
        - description: 'Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a (nearest to) specific snapshot of the live traffic speed record layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.'
          in: query
          name: release
          required: false
          schema:
            type: string
          style: form
        - description: Specifies the function used to wrap the JSON response.
          in: query
          name: callback
          required: false
          schema:
            type: string
          style: form
        - description: 'Level of each requested layer, as specified in the layers'' documentation, comma separated list.'
          in: query
          name: levels
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated sequence of tilex,tiley pairs for the requested tiles. The tilex and tiley values are described in the tile.json resource.'
          in: query
          name: tilexy
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional. If ''1'' then each response tile is framed with meta information (layer, level, tilex, tiley, region, release).'
          in: query
          name: meta
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional. Selects the subset of attributes in the response. Semicolon separated list of attributes, within a per-tile comma separated list. Example: cols=LAT;LON,LAT will retain only LAT and LON in first tile''s result rows and retain only LAT in second tile''s result.'
          in: query
          name: cols
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional. If ''1'' then the result records have 2 additional columns: TOPOLOGY_ID and START_OFFSET. The HERE topology segment PVID identifies a stretch of roads between 2 intersections. Links are subsets of a topology segment, hence the offset attributes define the range of the link within the topology segment [0..1].'
          in: query
          name: link2stabletopologyid
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/TileResponse'
                type: array
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: Multiple tiles' rows from layer(s)
      tags:
        - Map Attributes
        - Search
  /2/calculateisoline.json:
    get:
      operationId: calculateIsolineUsingGET
      parameters:
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: '1=vehicle registered for commercial use, 0=otherwise. For toll cost, environmental zone regulations and delivery-only zones.'
          in: query
          name: commercial
          required: false
          schema:
            type: string
          style: form
        - description: '1=vehicle equipped to carry disabled people, 0=otherwise. For toll cost.'
          in: query
          name: disabledEquipped
          required: false
          schema:
            type: string
          style: form
        - description: '1=EURO I, 2=EURO II, 3=EURO III, 4=EURO IV, 5=EURO V, 6=EURO VI, 7=EURO EEV, 8=Electric Vehicles. For toll cost and environmental zone restrictions.'
          in: query
          name: emissionType
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: emissionTypeForEnvZones
          required: false
          schema:
            format: int32
            type: integer
          style: form
        - in: query
          name: fuelAndEmissionType
          required: false
          schema:
            format: int32
            type: integer
          style: form
        - description: 'Defines the fuel powering the vehicle. Can be Diesel, Petrol, LPG, LNG, CNG, Ethanol, Propane, Hydrogen, Electric. (LPG=Liquefied Petroleum Gas,  LNG=Liquefied Natural Gas). Used f.e. for environmental zone restrictions, toll cost calculation, consumption based routing for Electric vehicles.'
          in: query
          name: fuelType
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For truck restrictions and toll cost.
          in: query
          name: height
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For toll cost.
          in: query
          name: heightAbove1stAxle
          required: false
          schema:
            type: string
          style: form
        - description: '1=fuel+electric, 0=otherwise. For toll cost.'
          in: query
          name: hybrid
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For truck restrictions and toll cost.
          in: query
          name: length
          required: false
          schema:
            type: string
          style: form
        - description: 'Actual total weight of vehicle incl. payload and trailers/caravan incl. their payload. 7.5t or 7500kg or 16500lbs. For truck restrictions, speed profile, toll cost and environmental zone restrictions. See also vehicleWeight. Note that country wide weight restrictions depend on the number of axles and trailers as well, so it might be necessary to specify tem as well.'
          in: query
          name: limitedWeight
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: numericFuelType
          required: false
          schema:
            format: int32
            type: integer
          style: form
        - description: actual number of passengers. For toll cost. See also vehicle type carHOV.
          in: query
          name: passengersCount
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list from explosive, gas, flammable, combustible, organic, poison, radioActive, corrosive, poisonousInhalation, harmfulToWater, other, allhazardousGoods, explosiveFlammable. For toll cost (only explosive and other) and for truck restrictions.'
          in: query
          name: shippedHazardousGoods
          required: false
          schema:
            type: string
          style: form
        - description: Number of tires. For toll cost.
          in: query
          name: tiresCount
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For toll cost.
          in: query
          name: trailerHeight
          required: false
          schema:
            type: string
          style: form
        - description: Number of trailer axles. For toll cost and for country wide truck restrictions.
          in: query
          name: trailerNumberAxles
          required: false
          schema:
            type: string
          style: form
        - description: '0=None, 1=Caravan, 2=Trailer, 3=RVTrailer, 4=BoatTrailer. For toll cost and recreational vehicles.'
          in: query
          name: trailerType
          required: false
          schema:
            type: string
          style: form
        - description: Actual total weight of trailers with their payload. 7.5t or 7500kg or 16500lbs. See also limitedWeight. For toll cost.
          in: query
          name: trailerWeight
          required: false
          schema:
            type: string
          style: form
        - description: 'Number of trailers, 0...4. For toll cost and truck restrictions. 0=no trailer, 1=one or more trailers, 2=two or more trailers, 3=three or more trailers. For truck restrictions: 4=one or more semi-trailers.'
          in: query
          name: trailersCount
          required: false
          schema:
            type: string
          style: form
        - description: 'Defines the tunnel categories the truck must NOT use. B, C, D or E. A tunnels have no restrictions. E tunnels have most restrictions. If C is defined, the route will use A and B tunnels but not C, D or E.'
          in: query
          name: tunnelCategory
          required: false
          schema:
            type: string
          style: form
        - description: Number of axles excluding trailers. For toll cost and for country wide truck restrictions.
          in: query
          name: vehicleNumberAxles
          required: false
          schema:
            type: string
          style: form
        - description: 'Actual total weight of vehicle incl. payload, but not trailers'' weight or payload. 7.5t or 7500kg or 16500lbs. See also limitedWeight. For toll cost.'
          in: query
          name: vehicleWeight
          required: false
          schema:
            type: string
          style: form
        - description: 'Actual total weight per axle, incl. payload. 7.5t or 7500kg or 16500lbs. For toll cost and truck restrictions.'
          in: query
          name: weightPerAxle
          required: false
          schema:
            type: string
          style: form
        - description: 'Semicolon separated list of vehicle weight [tons] per axle group. Each item is a tuple (name,value). Supported names are drive, single, tandem, triple, quad, quint. Example: &weightPerAxleGroup=drive:12;single:11;tandem:18'
          in: query
          name: weightPerAxleGroup
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For truck restrictions.
          in: query
          name: width
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Start location. Syntax like a routing waypoint. Either start or destionation must be specified
          in: query
          name: start
          required: false
          schema:
            type: string
          style: form
        - description: Destination location. Syntax like a routing waypoint. Either start or destionation must be specified
          in: query
          name: destination
          required: false
          schema:
            type: string
          style: form
        - description: 'time, distance or consumption'
          in: query
          name: rangeType
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma seperated list of ranges. For time: seconds, for distance: meters, for consumption: cost (in either specified currency unit or in the same unit like the consumptiondetails or driver/vehicle cost). Up to 10 isolines are supported.'
          in: query
          name: range
          required: false
          schema:
            type: string
          style: form
        - description: 'Format: now, yyyy-MM-dd''T''HH:mm:ss or yyyy-MM-dd''T''HH:mm:ssX. Default: Ignore all time dependent access restrictions. If no timezone is specified, then the local timezone at the route start link is used.'
          in: query
          name: departure
          required: false
          schema:
            type: string
          style: form
        - description: 'Format: Like depature. Use for reverse isoline (destination specified)'
          in: query
          name: arrival
          required: false
          schema:
            type: string
          style: form
        - description: 'fastest;car[;traffic:disabled][;optional parameters...] Traffic can be disabled or enabled (real time + traffic pattern usage), default disabled. As optional parameters motorway (0, -1, -2, -3) and tollroad (0, -1, -2, -3) can follow. See chapter ''Vehicle Types and Measures'' for supported vehicle types.'
          in: query
          name: mode
          required: false
          schema:
            type: string
          style: form
        - description: 'Semicolon separated list of speed/ascent/descent/builtupFactor fuel consumption parameters. Speed is a list of $/km for different speeds. Ascent/descent are additional $/km per altitude climbed or descended. Builtup factor is an optional heuristic consumption multiplier for urban area, default value is 1.55. Cost unit is not $ but ''currency''. Example: speed,0,0.102,10,0.084,30,0.066,50,0.06,70,0.066,100,0.072,120,0.084,140,0.108; ascent,0.4; descent,0.1; builtupFactor,1.4 = at 70 kph the car consumes 6$/100km and 0.4$/km altitude climbed, consumption increases 40% in urban area. Alternatively, user can specify default consumption profile: 3.5t, 7.5t, 18t, 40t or weightDependent. In case of the weightDependent consumption profiles will be decided based on the limitedWeight so this parameter also needs to be specified.'
          in: query
          name: customConsumptionDetails
          required: false
          schema:
            type: string
          style: form
        - description: 'links or shape or links,shape'
          in: query
          name: isolineAttributes
          required: false
          schema:
            type: string
          style: form
        - description: Overlay map name. Case insensitive. Must start with OVERLAY and contain only characters.
          in: query
          name: overlays
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list of speeds driven in kilometer per hour per road functional class (1-5 + Virtual Connections VC) and speed category (1-8) (f.e. FC1-SC1,FC1-SC2,...,FC1-SC8;FC2-SC1,FC2-SC2,...;...;VC-SC1,FC-SC2,...VC-SC8). Functional classes are semicolon separated. Can contain empty entries (no change to default f.e. 80,76,,,,,,;,,,54,46,,,;...). Overrides router''s default driven speed values.'
          in: query
          name: speedFcCat
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.'
          in: query
          name: region
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/json:
            schema:
              format: byte
              type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/IsolineResponse'
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
        - apiKey: []
        - bearerTokenAuth: []
      summary: 'Return polygon or links that can be reached from a given start (or to a given destination) within a given amount of driving time, distance or cost.'
      tags:
        - Routing Extensions & Route Matching
  /2/calculateroute.json:
    get:
      description: "Calculates a route with additional fleet telematics features.\r\nThis resource provides a similar interface as the Routing REST API.\r\nNote: If using the cre.api.here.com endpoint, then requests that don't need specific features may get redirected to the Routing REST API. This doesn't happen when using the fleet.api.here.com endpoint."
      operationId: calculateRouteUsingGET
      parameters:
        - in: query
          name: ISO3Country
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: ISO3Language
          required: false
          schema:
            type: string
          style: form
        - allowReserved: true
          in: query
          name: apikey
          required: false
          schema:
            type: string
          style: form
        - description: app_id
          in: query
          name: app_id
          required: false
          schema:
            type: string
          style: form
        - description: '1=vehicle registered for commercial use, 0=otherwise. For toll cost, environmental zone regulations and delivery-only zones.'
          in: query
          name: commercial
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: country
          required: false
          schema:
            type: string
          style: form
        - description: '1=vehicle equipped to carry disabled people, 0=otherwise. For toll cost.'
          in: query
          name: disabledEquipped
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: displayCountry
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: displayLanguage
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: displayName
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: displayScript
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: displayVariant
          required: false
          schema:
            type: string
          style: form
        - description: '1=EURO I, 2=EURO II, 3=EURO III, 4=EURO IV, 5=EURO V, 6=EURO VI, 7=EURO EEV, 8=Electric Vehicles. For toll cost and environmental zone restrictions.'
          in: query
          name: emissionType
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: emissionTypeForEnvZones
          required: false
          schema:
            format: int32
            type: integer
          style: form
        - in: query
          name: extensionKeys
          required: false
          schema:
            items:
              type: string
            type: array
            uniqueItems: true
          style: pipeDelimited
        - in: query
          name: fuelAndEmissionType
          required: false
          schema:
            format: int32
            type: integer
          style: form
        - description: 'Defines the fuel powering the vehicle. Can be Diesel, Petrol, LPG, LNG, CNG, Ethanol, Propane, Hydrogen, Electric. (LPG=Liquefied Petroleum Gas,  LNG=Liquefied Natural Gas). Used f.e. for environmental zone restrictions, toll cost calculation, consumption based routing for Electric vehicles.'
          in: query
          name: fuelType
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For truck restrictions and toll cost.
          in: query
          name: height
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For toll cost.
          in: query
          name: heightAbove1stAxle
          required: false
          schema:
            type: string
          style: form
        - description: '1=fuel+electric, 0=otherwise. For toll cost.'
          in: query
          name: hybrid
          required: false
          schema:
            type: string
          style: form
        - allowReserved: true
          description: Specifies the function used to wrap the JSON response
          in: query
          name: jsonCallback
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For truck restrictions and toll cost.
          in: query
          name: length
          required: false
          schema:
            type: string
          style: form
        - description: 'Actual total weight of vehicle incl. payload and trailers/caravan incl. their payload. 7.5t or 7500kg or 16500lbs. For truck restrictions, speed profile, toll cost and environmental zone restrictions. See also vehicleWeight. Note that country wide weight restrictions depend on the number of axles and trailers as well, so it might be necessary to specify tem as well.'
          in: query
          name: limitedWeight
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: numericFuelType
          required: false
          schema:
            format: int32
            type: integer
          style: form
        - description: actual number of passengers. For toll cost. See also vehicle type carHOV.
          in: query
          name: passengersCount
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: script
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list from explosive, gas, flammable, combustible, organic, poison, radioActive, corrosive, poisonousInhalation, harmfulToWater, other, allhazardousGoods, explosiveFlammable. For toll cost (only explosive and other) and for truck restrictions.'
          in: query
          name: shippedHazardousGoods
          required: false
          schema:
            type: string
          style: form
        - description: Number of tires. For toll cost.
          in: query
          name: tiresCount
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For toll cost.
          in: query
          name: trailerHeight
          required: false
          schema:
            type: string
          style: form
        - description: Number of trailer axles. For toll cost and for country wide truck restrictions.
          in: query
          name: trailerNumberAxles
          required: false
          schema:
            type: string
          style: form
        - description: '0=None, 1=Caravan, 2=Trailer, 3=RVTrailer, 4=BoatTrailer. For toll cost and recreational vehicles.'
          in: query
          name: trailerType
          required: false
          schema:
            type: string
          style: form
        - description: Actual total weight of trailers with their payload. 7.5t or 7500kg or 16500lbs. See also limitedWeight. For toll cost.
          in: query
          name: trailerWeight
          required: false
          schema:
            type: string
          style: form
        - description: 'Number of trailers, 0...4. For toll cost and truck restrictions. 0=no trailer, 1=one or more trailers, 2=two or more trailers, 3=three or more trailers. For truck restrictions: 4=one or more semi-trailers.'
          in: query
          name: trailersCount
          required: false
          schema:
            type: string
          style: form
        - description: 'Defines the tunnel categories the truck must NOT use. B, C, D or E. A tunnels have no restrictions. E tunnels have most restrictions. If C is defined, the route will use A and B tunnels but not C, D or E.'
          in: query
          name: tunnelCategory
          required: false
          schema:
            type: string
          style: form
        - in: query
          name: unicodeLocaleAttributes
          required: false
          schema:
            items:
              type: string
            type: array
            uniqueItems: true
          style: pipeDelimited
        - in: query
          name: unicodeLocaleKeys
          required: false
          schema:
            items:
              type: string
            type: array
            uniqueItems: true
          style: pipeDelimited
        - in: query
          name: variant
          required: false
          schema:
            type: string
          style: form
        - description: Number of axles excluding trailers. For toll cost and for country wide truck restrictions.
          in: query
          name: vehicleNumberAxles
          required: false
          schema:
            type: string
          style: form
        - description: 'Actual total weight of vehicle incl. payload, but not trailers'' weight or payload. 7.5t or 7500kg or 16500lbs. See also limitedWeight. For toll cost.'
          in: query
          name: vehicleWeight
          required: false
          schema:
            type: string
          style: form
        - allowReserved: true
          description: "Comma separated waypoint latitude, longitude in WGS-84 degree. The coordinates may be directly followed by ;transitRadius;label;heading[;optional specifications]. \r\nA route must consist of at least 2 waypoints (start and destination). The coordinates may be directly followed by ;transitRadius;label;heading. \r\nThe maximum number of waypoints is limited. However, this limit is not a fixed number but is a result of the limit for the overall processing time. \r\nSet a transit radius to only influence the route to go via a certain city (Example: &waypoint1=50.12,8.65;10000). \r\nSet a heading (degree clockwise from North) to improve map matching (Example: latitude,longitude;;;140). \r\nTo define a loading time or delay time at a waypoint, use stopOver[,timeInSeconds]! (Example: &waypoint1=stopOver,300!50.12,8.65). \r\nThe optional specifications altitude, custom label, !StreetPosition and !LinkPosition, ignoreRestriction are currently supported.\r\nTo define a radius around the waypoint where vehicle restrictions should be ignored use optional specification ';ignoreRestriction:radius[,drivePenalty[,type[,entryPenalty]]]. Example: &waypoint1=50.12,8.65;ignoreRestriction:8000,0.9,all,1800 . \r\nThis is similar to the global parameter 'ignoreWaypointVehicleRestriction' which applies to all waypoint. But when specified explicitly for a waypoint, the 'ignoreRestriction' specification of waypoint is applied. \r\nWaypoints can have opening and closing times, can be unsorted or optional. Details are in Key Concepts / Waypoint sorting, optional Pickup and Opening Times"
          in: query
          name: waypoint0 ... waypointN
          required: true
          schema:
            type: string
          style: form
        - description: 'Actual total weight per axle, incl. payload. 7.5t or 7500kg or 16500lbs. For toll cost and truck restrictions.'
          in: query
          name: weightPerAxle
          required: false
          schema:
            type: string
          style: form
        - description: 'Semicolon separated list of vehicle weight [tons] per axle group. Each item is a tuple (name,value). Supported names are drive, single, tandem, triple, quad, quint. Example: &weightPerAxleGroup=drive:12;single:11;tandem:18'
          in: query
          name: weightPerAxleGroup
          required: false
          schema:
            type: string
          style: form
        - description: 350cm or 3.5m or 138in. For truck restrictions.
          in: query
          name: width
          required: false
          schema:
            type: string
          style: form
        - description: app_code
          in: query
          name: app_code
          required: false
          schema:
            type: string
          style: form
        - description: Cost per hour in target currency.
          in: query
          name: driver_cost
          required: false
          schema:
            type: string
          style: form
        - description: Cost per kilometer in target currency.
          in: query
          name: vehicle_cost
          required: false
          schema:
            type: string
          style: form
        - description: Cost per kilometer on ferry in target currency. Default = vehicle_cost.
          in: query
          name: vehicleCostOnFerry
          required: false
          schema:
            type: string
          style: form
        - description: '3 letter ISO currency symbol, like EUR or USD. Required if toll cost must be added up across different currencies and/or be added to driver/vehicle/fuel cost in different currencies.'
          in: query
          name: currency
          required: false
          schema:
            type: string
          style: form
        - description: 'Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.'
          in: query
          name: region
          required: false
          schema:
            type: string
          style: form
        - description: 'Format: now, yyyy-MM-dd''T''HH:mm:ss or yyyy-MM-dd''T''HH:mm:ssX. If no timezone is specified, then the local timezone at the route start link is used. Default: Ignore all time dependent access restrictions. Special values: ignoreTimeDepRestr (like default), obeyTimeDepRestr (all time dependent restrictions apply).'
          in: query
          name: departure
          required: false
          schema:
            type: string
          style: form
        - description: '1=Motorcycle, 2=Auto, 3=Truck, 4=Motor home, 5=Minibus, 6=Bus, 7=Motorcycle Sidecar(EU), 8=Tricycle(EU), 9=Delivery Truck(EU+India), 10=Snowmobile(US), 11=Pick-up(US+India), 12=Tractor(US+India), 13=Taxi, 14=HCM/EME (India Heavy Construction Machinery/Earth Moving Equipment)'
          in: query
          name: tollVehicleType
          required: false
          schema:
            type: string
          style: form
        - description: Overlay map name. Case insensitive. Must start with OVERLAY and contain only characters.
          in: query
          name: overlays
          required: false
          schema:
            type: string
          style: form
        - description: 'fastest;car;traffic:disabled;[optional parameters] As optional parameters motorway (0, -1, -2, -3), tollroad (0, -1, -2, -3), boatFerry (0, -1, -2, -3), railFerry (0, -1, -2, -3), and tunnel (0, -1, -2, -3) can follow. "shortest" and "balanced" are not supported but can be individually tuned using &driver_cost and &vehicle_cost. Vehicle types: bdouble, bicycle, bus, car, carHOV, custom1, emergency, motorcycle, pedestrian, roadtrain, taxi, truck'
          in: query
          name: mode
          required: false
          schema:
            type: string
          style: form
        - description: 'Legal drive/rest intervals. Specify ''local'' to obey the legal driver rest times of the respective country. If the driver is not fresh then add ,TimeAlreadyDrivenSinceLastShortBreak,TimeAlreadyDrivenSinceLastLongRest in seconds. Alternatively, proprietary values can be set for DriveTimeUntilShortBreak, ElapsedTimeUntilShortBreak, ShortBreakDuration, DriveTimeUntilLongRest, ElapsedTimeUntilLongBreak, LongRestDuration. E.g. EU requires after 4.5h a 45min break + after 9h an 11h rest.'
          in: query
          name: restTimes
          required: false
          schema:
            type: string
          style: form
        - allowReserved: true
          description: 'Language for the maneuver instructions in the response. Currently de-de, en-us, it-it, fr-fr, es-es, pt-pt, pl-pl, zh-cn, zh-tw, zh-hk and ja-jp are supported. If not specified, en-us is used.'
          in: query
          name: language
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list of link ids or lat,lon[;heading] coordinates to be avoided. Positive ids are not driven from reference node, negative ids are not driven towards reference node. Use ''*'' prefix to avoid both directions. For coordinates direction of blocking depends on the heading. If no heading given both directions will be avoided.'
          in: query
          name: avoidLinks
          required: false
          schema:
            type: string
          style: form
        - description: 'List of areas (rectangles or polygons) to be avoided. Areas are separated by ''!''. Rectangles can be specified with two diagonal coordinates separated by '';'', e.g. latMax,lonMin;latMin,lonMax. Polygons are specified with consecutive vertex coordinates separated by '';'', e.g. lat1,lon1;lat2,lon2;lat3,lon3;... . Optionally an entry penalty (applied once while entering the area) and drive penalty (applied to every link driven inside the area) can be specified individually for each area to be avoided, format: ''polygon1Coords[;penalty:entryPenaltySec[,drivePenaltyFactor]]!polygon2Coords[;penalty:entryPenaltySec[,drivePenaltyFactor]]''. entryPenalty should be between -120 and 600 (-ve penalty implies prefer), drivePenaltyFactor should be between 0.1 and 20.0 (1.0 implies no penalty, < 1.0 implies prefer). e.g. poly1lat1,poly1lon1,poly1lat2,poly1lon2,poly1lat3,poly1lon3;penalty:60,1.5!poly2lat1,poly2lon1,poly2lat2,poly2lon2,poly2lat3,poly2lon3;penalty:-100,0.5 .'
          in: query
          name: avoidAreas
          required: false
          schema:
            type: string
          style: form
        - description: Format like departure. Use this to find out when you have to start the journey to arrive at the given time. Note that toll cost is not considered when arrival time is specified.
          in: query
          name: arrival
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list of rollups (groupings, aggregation levels) in the result. Currently supported rollups are none (per link details), total (totals), tollsys (per toll system summaries), country (per country summaries), country;tollsys (per country and toll system summaries). Example: &rollups=none,country;tollsys,country returns the cost details and 2 different summaries.'
          in: query
          name: rollups
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list of speeds driven in kilometer per hour per road functional class (1-5 + Virtual Connections VC) and speed category (1-8) (f.e. FC1-SC1,FC1-SC2,...,FC1-SC8;FC2-SC1,FC2-SC2,...;...;VC-SC1,FC-SC2,...VC-SC8). Functional classes are semicolon separated. Can contain empty entries (no change to default f.e. 80,76,,,,,,;,,,54,46,,,;...). Overrides router''s default driven speed values. Also one of the predefined profiles can be activated by value car, light-truck, medium-truck or heavy-truck'
          in: query
          name: speedFcCat
          required: false
          schema:
            type: string
          style: form
        - description: 'Defines which information is included in the response route part of the calculated route. Defaults to mode (mo), waypoints (wp), summary (sm), flags (fl). Also supported: speedProfile (sp), shape (sh), summaryByCountry (sc), boundingBox (bb), none. Can be excluded in the response by putting a hyphen in the front. e.g. -wp'
          in: query
          name: routeAttributes
          required: false
          schema:
            type: string
          style: form
        - description: 'Defines which information is included in the response as part of the calculated route. Defaults to warnings (wn). Also supported: language (lg), none. Can be excluded in the response by putting a hyphen in the front. e.g. -wn'
          in: query
          name: responseAttributes
          required: false
          schema:
            type: string
          style: form
        - description: 'Defines which information is included in the meta part of the calculated route. Defaults to none. Also supported: version (ver), coverage (cov). Can be excluded in the response by putting a hyphen in the front. e.g. -ver'
          in: query
          name: metaAttributes
          required: false
          schema:
            type: string
          style: form
        - description: 'Defines which information is included in the response as part of the data representation of the route maneuvers. Defaults to position (po), length (le), travelTime (tt). Also supported: direction (di), action (ac), indices (ix), lanes (ln), roadName(rn), nextRoadName (nr), beforeAfter (ba) and none.'
          in: query
          name: maneuverAttributes
          required: false
          schema:
            type: string
          style: form
        - description: 'Defines which information is included in the response as part of the route legs. Defaults to links (li), maneuvers (mn), length (le), travelTime (tt), baseTime (bt), trafficTime (tm). Also supported: shape (sh), boundingBox (bb), turnbyturnmaneuvers (mm), none. Can be excluded in the response by putting a hyphen in the front. e.g. -mn. Also in RouteMatch mode legAttributes=mn is supported.'
          in: query
          name: legAttributes
          required: false
          schema:
            type: string
          style: form
        - description: 'Define optional attributes to be returned for each link. Defaults to shape (sh), length (le), remainTime (rt), remainDistance (rd), functionalClass (fc), warnings (wn), confidence (cd). Also supported: cost (co), maneuver (ma), timezone (tz), none. Can be excluded in the response by putting a hyphen in the front. e.g. -ma'
          in: query
          name: linkAttributes
          required: false
          schema:
            type: string
          style: form
        - description: 'Assume the driver has keys/permissions to traverse gates, if "true". Default = don''t traverse any gates unless vehicle type is emergency.'
          in: query
          name: traverseGates
          required: false
          schema:
            type: string
          style: form
        - description: 'Default: Compute a legal route that goes through all way points. 1 = treat the waypoints (or trace file POST body) as GPS trace and return the most probable route along this trace. 2 = ETA Tracking mode, compute the route and take the POST body GPS trace into account to detect taken driver rest times and reached/skipped waypoints. To get maneuvers for a matched route specify &legAttributes=mn.'
          in: query
          name: routeMatch
          required: false
          schema:
            type: string
          style: form
        - description: 'For routeMatch=1. Enforces a legal route w.r.t. the listed maneuver types. Support maneuver types (comma separated list): access,gate,oneway,thrutraf,turn. Passing all of them yields a legal route as from a router. access=use only links allowed for the vehicle type (incl. truck measures). gate=don''t traverse gates. oneway=don''t drive links into forbidden direction. thrutraf=don''t enter+leaving ''no through traffic'' zones. turn=don''t turn/u-turn illegally. Default: avoid illegal maneuvers, but use them if the trace obviously used them. If used, return respective warnings.'
          in: query
          name: legal
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list of PDE layer names, to get link attributes along the route. Only link attribute layers (roughly those ending in _FC1, _FC2 ... ) are supported. Specify FCn to get the layers of all functional classes. Behind each layer name attributes can be listed, or (*) to get all. Example: &attributes=ROAD_GEOM_FCn(TUNNEL), SPEED_LIMITS_FCn (FROM_REF_SPEED_LIMIT, TO_REF_SPEED_LIMIT), ADAS_ATTRIB_FCn (SLOPES). A maximum of 32 layers can be requested per request.'
          in: query
          name: attributes
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list of owned passes: Senior_Pass, transponder (the car has all transponders), noTransponder (have no transponder and use no system that requires one), allPasses, Annual, Nr_of_Days, Nr_of_Months (meaning the car has all passes valid for this number of months), AutoPass, SunPass, E-Z Pass (last 2 are examples for real toll transponders). Can also list toll system ids or toll booth condition ids. Allows traversal of ''transponder-only'' toll booths, allows cost free traversal of certain toll sections and allows using cheaper prices for transponder/pass owners.'
          in: query
          name: tollPass
          required: false
          schema:
            type: string
          style: form
        - description: 'Comma separated list of numeric truck capacity limits. E.g. 8,25,6 for max. 8t payload and max. 25 square meter floor space and max 6 passengers. Must match the ''load'' values of way points. For unsorted or optional way points.'
          in: query
          name: capacity
          required: false
          schema:
            type: string
          style: form
        - description: 'Semicolon separated list of speed/ascent/descent/builtupFactor/auxilliaryConsumption fuel consumption parameters. Speed is a list of $/km for different speeds. Ascent/descent are additional $/km per altitude climbed or descended. Builtup factor is an optional heuristic consumption multiplier for urban area, default value is 1.55. auxilliaryConsumption is the additional consumption (per hour) for running auxilliary units (climate control, infotainment, lights, etc.). Cost unit is not $ but ''currency''. Example: speed,0,0.102,10,0.084,30,0.066,50,0.06,70,0.066,100,0.072,120,0.084,140,0.108; ascent,0.4; descent,0.1; builtupFactor,1.4 = at 70 kph the car consumes 6.6$/100km and 0.4$/km altitude climbed, consumption increases 40% in urban area. Alternatively, user can specify default consumption profile: 3.5t, 7.5t, 18t, 40t or weightDependent. In case of the weightDependent consumption profiles will be decided based on the limitedWeight so this parameter also needs to be specified.'
          in: query
          name: customConsumptionDetails
          required: false
          schema:
            type: string
          style: form
        - description: Maximum number of alternative route options to return. Can return less or no alternatives. Only returns route alternatives that significantly differ from the best route but are not much more costly.
          in: query
          name: alternatives
          required: false
          schema:
            type: string
          style: form
        - description: Routing calculation must be finished within this amount of milliseconds. Default 50000. Maximum 50000.
          in: query
          name: timeout
          required: false
          schema:
            type: string
          style: form
[...]
