swagger: '2.0'
schemes:
  - https
host: api.openrouteservice.org
info:
  contact:
    email: enquiry@openrouteservice.heigit.org
  description: 'This is the openrouteservice API V2 documentation for ORS Core-Version `6.8.1`. Documentations for [older Core-Versions](https://github.com/GIScience/openrouteservice-docs/releases) can be rendered with the [Swagger-Editor](https://editor.swagger.io/).'
  license:
    name: MIT
    url: 'https://github.com/swagger-api/swagger-ui/blob/master/LICENSE'
  title: Openrouteservice
  version: 6.8.1
  x-apisguru-categories:
    - location
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://openrouteservice.org/dev/static/img/logo@2x.1368651.png'
  x-origin:
    - format: swagger
      url: 'https://openrouteservice.org/wp-json/ors-api/v1/api-doc/source/V2'
      version: '2.0'
  x-providerName: openrouteservice.org
tags:
  - description: Get node centrality for different modes of transport
    name: Centrality
  - description: Get directions for different modes of transport
    name: Directions
  - description: Obtain areas of reachability from given locations
    name: Isochrones
  - description: 'Obtain one-to-many, many-to-one and many-to-many matrices for time and distance'
    name: Matrix
  - description: Health API
    name: health-api
  - description: Status API
    name: status-api
  - description: Resolve input coordinates to addresses and vice versa
    name: Geocode
  - description: Obtain POIs of an area
    name: Pois
  - description: |
      Returns elevation for point or line geometries by building 3D geometries from freely available data sources.
    name: Elevation
  - description: ''
    name: Optimization
paths:
  /elevation/line:
    post:
      description: |
        This endpoint can take planar 2D line objects and enrich them with elevation from a variety of datasets.

        The input and output formats are:
          * GeoJSON
          * Polyline
          * <a href="https://developers.google.com/maps/documentation/utilities/polylinealgorithm">Google's Encoded polyline</a> with coordinate precision 5 or 6

        Example:
        ```
          # POST LineString as polyline
          curl -XPOST https://api.openrouteservice.org/elevation/line
            -H 'Content-Type: application/json' \
            -H 'Authorization: INSERT_YOUR_KEY
            -d '{
              "format_in": "polyline",
              "format_out": "encodedpolyline5",
              "geometry": [[13.349762, 38.112952],
                           [12.638397, 37.645772]]
                }'
        ```
      parameters:
        - default: your-api-key
          description: |
            Insert your API Key here.
          in: header
          name: Authorization
          required: true
          type: string
        - description: Query the elevation of a line in various formats.
          example: '{"format_in":"polyline","format_out":"encodedpolyline5","geometry":[[13.349762,38.112952],[12.638397,37.645772]]}'
          in: body
          name: body
          props:
            dataset:
              apiDefault: srtm
              description: The elevation dataset to be used.
              enum:
                - srtm
              type: string
            format_in:
              description: The input format the API has to expect.
              enum:
                - geojson
                - polyline
                - encodedpolyline5
                - encodedpolyline6
              example: encodedpolyline5
              required: true
              type: string
            format_out:
              apiDefault: geojson
              description: The output format to be returned.
              enum:
                - geojson
                - polyline
                - encodedpolyline5
                - encodedpolyline6
              type: string
            geometry:
              description: |
                * geojson: A geometry object of a LineString GeoJSON, e.g.
                         {"type": "LineString",
                          "coordinates": [[13.331302, 38.108433],[13.331273, 38.10849]]
                         }
                * polyline: A list of coordinate lists, e.g.
                         [[13.331302, 38.108433], [13.331273, 38.10849]]

                * encodedpolyline5: A <a href="https://developers.google.com/maps/documentation/utilities/polylinealgorithm">Google encoded polyline</a> with a coordinate precision of 5, e.g.
                         u`rgFswjpAKD

                * encodedpolyline6: A <a href="https://developers.google.com/maps/documentation/utilities/polylinealgorithm">Google encoded polyline</a> with a coordinate precision of 6, e.g.
                         ap}tgAkutlXqBx@
              example: u`rgFswjpAKD
              required: true
              type: object
          required: true
          type: object
      responses:
        '200':
          description: Standard response for successfully processed requests.
          schema:
            properties:
              attribution:
                type: string
              geometry:
                properties:
                  coordinates:
                    items:
                      items:
                        type: float
                      maxItems: 2
                      minItems: 2
                      type: array
                    type: array
                  type:
                    type: string
                type: object
              timestamp:
                type: integer
              version:
                type: string
            type: object
        '401':
          description: Authorization field missing.
        '403':
          description: Key not authorised.
        '500':
          description: |
            An unexpected error was encountered and more detailed internal
            errorcode is provided.
            | Internal Code | Description                                        |
            |:-------------:|----------------------------------------------------|
            | 4001 |  ValueError in parameters |
            | 4002 |  Wrong HTTP headers |
            | 4003 |  Problems with the provided geometry |
            | 4004 |  Exceeded the number of allowed vertices |
      summary: Elevation Line Service
      tags:
        - Elevation
  /elevation/point:
    get:
      description: |
        This endpoint can take a 2D point and enrich it with elevation from a variety of datasets.

        The output formats are:
          * GeoJSON
          * Point

        Example:
        ```
          # GET point
          curl -XGET https://localhost:5000/elevation/point?geometry=13.349762,38.11295
        ```
      parameters:
        - description: |
            Insert your API Key here.
          example: your-api-key
          in: query
          name: api_key
          required: true
          type: string
        - description: 'The point to be queried, in comma-separated lon,lat values, e.g. [13.349762, 38.11295]'
          example: '13.349762,38.11295'
          in: query
          items:
            type: double
          name: geometry
          required: true
          type: array
        - apiDefault: geojson
          description: The output format to be returned.
          enum:
            - geojson
            - point
          in: query
          name: format_out
          type: string
        - apiDefault: srtm
          description: The elevation dataset to be used.
          enum:
            - srtm
          in: query
          name: dataset
          type: string
      responses:
        '200':
          description: Standard response for successfully processed requests.
          schema:
            properties:
              attribution:
                type: string
              geometry:
                properties:
                  coordinates:
                    items:
                      items:
                        type: float
                      maxItems: 2
                      minItems: 2
                      type: array
                    type: array
                  type:
                    type: string
                type: object
              timestamp:
                type: integer
              version:
                type: string
            type: object
        '401':
          description: Authorization field missing.
        '403':
          description: Key not authorised.
        '500':
          description: |
            An unexpected error was encountered and more detailed internal
            errorcode is provided.
            | Internal Code | Description                                        |
            |:-------------:|----------------------------------------------------|
            | 4001 |  ValueError in parameters |
            | 4002 |  Wrong HTTP headers |
            | 4003 |  Problems with the provided geometry |
            | 4004 |  Exceeded the number of allowed vertices |
      summary: Elevation Point Service
      tags:
        - Elevation
    post:
      description: |
        This endpoint can take a 2D point and enrich it with elevation from a variety of datasets.

        The input and output formats are:
          * GeoJSON
          * Point

        Example:
        ```
          # POST point as GeoJSON
          # https://api.openrouteservice.org/elevation/point?api_key=YOUR-KEY
          {
            "format_in": "geojson",
            "format_out": "geojson",
            "geometry": {
              "coordinates": [13.349762, 38.11295],
              "type": "Point"
            }
          }
        ```
      parameters:
        - default: your-api-key
          description: |
            Insert your API Key here.
          in: header
          name: Authorization
          required: true
          type: string
        - description: Query the elevation of a point in various formats.
          example: '{"format_in":"geojson","format_out":"geojson","geometry":{"coordinates":[13.349762,38.11295],"type":"Point"}}'
          in: body
          name: body
          properties:
            dataset:
              apiDefault: srtm
              description: The elevation dataset to be used.
              enum:
                - srtm
              type: string
            format_in:
              description: The input format the API has to expect.
              enum:
                - geojson
                - point
              example: point
              required: true
              type: string
            format_out:
              apiDefault: geojson
              description: The output format to be returned.
              enum:
                - geojson
                - point
              type: string
            geometry:
              description: |
                * geojson: A geometry object of a Point GeoJSON, e.g.
                         {"type": "Point",
                          "coordinates": [13.331273, 38.10849]
                         }
                * point: A coordinate list, e.g.
                         [13.331273, 38.10849]
              example:
                - 13.331273
                - 38.10849
              required: true
              type: object
          required: true
          type: object
      responses:
        '200':
          description: Standard response for successfully processed requests.
          schema:
            properties:
              attribution:
                type: string
              geometry:
                properties:
                  coordinates:
                    items:
                      items:
                        type: float
                      maxItems: 2
                      minItems: 2
                      type: array
                    type: array
                  type:
                    type: string
                type: object
              timestamp:
                type: integer
              version:
                type: string
            type: object
        '401':
          description: Authorization field missing.
        '403':
          description: Key not authorised.
        '500':
          description: |
            An unexpected error was encountered and more detailed internal
            errorcode is provided.
            | Internal Code | Description                                        |
            |:-------------:|----------------------------------------------------|
            | 4001 |  ValueError in parameters |
            | 4002 |  Wrong HTTP headers |
            | 4003 |  Problems with the provided geometry |
            | 4004 |  Exceeded the number of allowed vertices |
      summary: Elevation Point Service
      tags:
        - Elevation
  /geocode/autocomplete:
    get:
      description: |
        **Requests should be throttled when using this endpoint!**
        *Be aware that Responses are asynchronous.*
        Returns a JSON formatted list of objects corresponding to the search input. `boundary.*`-parameters can be combined if they are overlapping. **The interactivity for this enpoint is experimental!** [Please refer to this external Documentation](https://github.com/pelias/documentation/blob/master/autocomplete.md)
      parameters:
        - default: your-api-key
          description: |
            Insert your API Key here.
          in: query
          name: api_key
          required: true
          type: string
        - default: Toky
          description: |
            Name of location, street address or postal code.
          example: Toky
          in: query
          name: text
          required: true
          type: string
        - description: |
            Longitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance.  Use with `focus.point.lat`.
          example: 8.673964
          format: float
          in: query
          name: focus.point.lon
          type: number
        - description: |
            Latitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance. Use with `focus.point.lon`.
          example: 49.436431
          format: float
          in: query
          name: focus.point.lat
          type: number
          validWhen:
            - ref: focus.point.lon
              skipRootPathLookup: true
        - description: |
            Left border of rectangular boundary to narrow results.
          example: 8.557663
          format: float
          in: query
          name: boundary.rect.min_lon
          type: number
        - description: |
            Bottom border of rectangular boundary to narrow results.
          example: 49.331387
          format: float
          in: query
          name: boundary.rect.min_lat
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
        - description: |
            Right border of rectangular boundary to narrow results.
          example: 8.972054
          format: float
          in: query
          name: boundary.rect.max_lon
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
            - ref: boundary.rect.min_lat
              skipRootPathLookup: true
        - description: |
            Top border of rectangular boundary to narrow results.
          example: 49.525654
          format: float
          in: query
          name: boundary.rect.max_lat
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
            - ref: boundary.rect.min_lat
              skipRootPathLookup: true
            - ref: boundary.rect.max_lon
              skipRootPathLookup: true
        - description: |
            Restrict results to single country. Possible values are [alpha-2 and alpha-3 country codes](https://en.wikipedia.org/wiki/ISO_3166-1). Example: `DEU` or `DE` for Germany.
          example: DE
          in: query
          name: boundary.country
          type: string
        - apiDefault: 'osm,oa,gn,wof'
          description: |
            Restrict your search to specific sources. Searches all sources by default. You can either use the normal or short name. Sources are [`openstreetmap(osm)`](http://www.openstreetmap.org/), [`openaddresses(oa)`](http://openaddresses.io/), [`whosonfirst(wof)`](https://whosonfirst.org/), [`geonames(gn)`](http://www.geonames.org/).
          enum:
            - openstreetmap
            - openaddresses
            - whosonfirst
            - geonames
          in: query
          multiSelect: true
          name: sources
          type: array
          uniqueItems: true
        - description: |
            Restrict search to layers (place type). By default all layers are searched.

              layer|description|
              ----|----|
              `venue`|points of interest, businesses, things with walls|
              `address`|places with a street address|
              `street`|streets,roads,highways|
              `neighbourhood`|social communities, neighbourhoods|
              `borough`|a local administrative boundary, currently only used for New York City|
              `localadmin`|local administrative boundaries|
              `locality`|towns, hamlets, cities|
              `county`|official governmental area; usually bigger than a locality, almost always smaller than a region|
              `macrocounty`|a related group of counties. Mostly in Europe.|
              `region`|states and provinces|
              `macroregion`|a related group of regions. Mostly in Europe|
              `country`|places that issue passports, nations, nation-states|
              `coarse`|alias for simultaneously using all administrative layers (everything except `venue` and `address`)|
          enum:
            - address
            - venue
            - neighbourhood
            - locality
            - borough
            - localadmin
            - county
            - macrocounty
            - region
            - macroregion
            - country
            - coarse
          example: 'region,county'
          in: query
          multiSelect: true
          name: layers
          type: array
          uniqueItems: true
      responses:
        '200':
          description: 'Please refer to [this external documentation](https://github.com/pelias/documentation/blob/master/autocomplete.md) for this endpoint'
      summary: Geocode Autocomplete Service
      tags:
        - Geocode
  /geocode/reverse:
    get:
      description: |
        Returns the next enclosing object with an address tag which surrounds the given coordinate. **The interactivity for this enpoint is experimental!** [Please refer to this external Documentation](https://github.com/pelias/documentation/blob/master/reverse.md#reverse-geocoding)
      parameters:
        - default: your-api-key
          description: |
            Insert your API Key here.
          in: query
          name: api_key
          required: true
          type: string
        - default: 2.294471
          description: |
            Longitude of the coordinate to query.
          example: 2.294471
          format: float
          in: query
          name: point.lon
          required: true
          type: number
        - default: 48.858268
          description: |
            Latitude of the coordinate to query.
          example: 48.858268
          format: float
          in: query
          name: point.lat
          required: true
          type: number
        - apiDefault: 1
          description: |
            Restrict search to circular region around `point.lat/point.lon`. Value in kilometers.
          example: 35
          in: query
          name: boundary.circle.radius
          type: number
        - apiDefault: 10
          description: |
            Set the number of returned results.
          format: int64
          in: query
          name: size
          type: integer
        - description: |
            Restrict search to layers (place type). By default all layers are searched.

              layer|description|
              ----|----|
              `venue`|points of interest, businesses, things with walls|
              `address`|places with a street address|
              `street`|streets,roads,highways|
              `neighbourhood`|social communities, neighbourhoods|
              `locality`|towns, hamlets, cities|
              `borough`|a local administrative boundary, currently only used for New York City|
              `localadmin`|local administrative boundaries|
              `county`|official governmental area; usually bigger than a locality, almost always smaller than a region|
              `macrocounty`|a related group of counties. Mostly in Europe.|
              `region`|states and provinces|
              `macroregion`|a related group of regions. Mostly in Europe|
              `country`|places that issue passports, nations, nation-states|
              `coarse`|alias for simultaneously using all administrative layers (everything except `venue` and `address`)|
          enum:
            - venue
            - address
            - street
            - neighbourhood
            - locality
            - borough
            - localadmin
            - county
            - macrocounty
            - region
            - macroregion
            - country
            - coarse
          example: 'address,venue'
          in: query
          multiSelect: true
          name: layers
          type: array
          uniqueItems: true
        - apiDefault: 'osm,oa,gn,wof'
          description: |
            Restrict your search to specific sources. Searches all sources by default. You can either use the normal or short name. Sources are [`openstreetmap(osm)`](http://www.openstreetmap.org/), [`openaddresses(oa)`](http://openaddresses.io/), [`whosonfirst(wof)`](https://whosonfirst.org/), [`geonames(gn)`](http://www.geonames.org/).
          enum:
            - openstreetmap
            - openaddresses
            - whosonfirst
            - geonames
          in: query
          multiSelect: true
          name: sources
          type: array
          uniqueItems: true
        - description: |
            Restrict search to country by [alpha 2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) or [alpha 3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) codes.
          example: FR
          in: query
          name: boundary.country
          type: string
      responses:
        '200':
          description: 'Please refer to [this external documentation](https://github.com/pelias/documentation/blob/master/reverse.md#reverse-geocoding) for this endpoint'
      summary: Reverse Geocode Service
      tags:
        - Geocode
  /geocode/search:
    get:
      description: |
        Returns a JSON formatted list of objects corresponding to the search input. `boundary.*`-parameters can be combined if they are overlapping. **The interactivity for this enpoint is experimental!** [Please refer to this external Documentation](https://github.com/pelias/documentation/blob/master/search.md#search-the-world)
      parameters:
        - default: your-api-key
          description: |
            Insert your API Key here.
          in: query
          name: api_key
          required: true
          type: string
        - default: Namibian Brewery
          description: |
            Name of location, street address or postal code.
          example: Namibian Brewery
          in: query
          name: text
          required: true
          type: string
        - description: |
            Longitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance.  Use with `focus.point.lat`.
          example: 8.673964
          format: float
          in: query
          name: focus.point.lon
          type: number
        - description: |
            Latitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance. Use with `focus.point.lon`.
          example: 49.436431
          format: float
          in: query
          name: focus.point.lat
          type: number
          validWhen:
            - ref: focus.point.lon
              skipRootPathLookup: true
        - description: |
            Left border of rectangular boundary to narrow results.
          example: 8.557663
          format: float
          in: query
          name: boundary.rect.min_lon
          type: number
        - description: |
            Bottom border of rectangular boundary to narrow results.
          example: 49.331387
          format: float
          in: query
          name: boundary.rect.min_lat
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
        - description: |
            Right border of rectangular boundary to narrow results.
          example: 8.972054
          format: float
          in: query
          name: boundary.rect.max_lon
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
            - ref: boundary.rect.min_lat
              skipRootPathLookup: true
        - description: |
            Top border of rectangular boundary to narrow results.
          example: 49.525654
          format: float
          in: query
          name: boundary.rect.max_lat
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
            - ref: boundary.rect.min_lat
              skipRootPathLookup: true
            - ref: boundary.rect.max_lon
              skipRootPathLookup: true
        - description: |
            Center Longitude of circular boundary to narrow results. Use with `boundary.circle.lat` & `boundary.circle.radius`.
          example: 8.673964
          format: float
          in: query
          name: boundary.circle.lon
          type: number
        - description: |
            Center Latitude of circular boundary to narrow results. Use with `boundary.circle.lon` & `boundary.circle.radius`.
          example: 49.436431
          format: float
          in: query
          name: boundary.circle.lat
          type: number
          validWhen:
            - ref: boundary.circle.lon
              skipRootPathLookup: true
        - apiDefault: 50
          description: |
            Radius of circular boundary around the center coordinate in kilometers. Use with `boundary.circle.lon` & `boundary.circle.lat`.
          format: float
          in: query
          name: boundary.circle.radius
          type: number
          validWhen:
            - ref: boundary.circle.lon
              skipRootPathLookup: true
            - ref: boundary.circle.lat
              skipRootPathLookup: true
        - description: |
            Restrict results to administrative boundary using a Pelias global id [`gid`](https://github.com/pelias/documentation/blob/f1f475aa4f8c18426fb80baea636990502c08ed3/search.md#search-within-a-parent-administrative-area).
            `gid`s for records can be found using either the [Who's on First Spelunker](http://spelunker.whosonfirst.org/),
            a tool for searching Who's on First data, or from the responses of other Pelias queries.
            In this case a [search for Oklahoma](http://pelias.github.io/compare/#/v1/search%3Ftext=oklahoma)
            will return the proper `gid`.
          example: 'whosonfirst:region:85688585'
          in: query
          name: boundary.gid
          type: string
        - description: |
            Restrict results to single country. Possible values are [alpha-2 and alpha-3 country codes](https://en.wikipedia.org/wiki/ISO_3166-1). Example: `DEU` or `DE` for Germany.
          example: DE
          in: query
          name: boundary.country
          type: string
        - apiDefault: 'osm,oa,gn,wof'
          description: |
            Restrict your search to specific sources. Searches all sources by default. You can either use the normal or short name.
            Sources are [`openstreetmap(osm)`](http://www.openstreetmap.org/), [`openaddresses(oa)`](http://openaddresses.io/), [`whosonfirst(wof)`](https://whosonfirst.org/), [`geonames(gn)`](http://www.geonames.org/).
          enum:
            - openstreetmap
            - openaddresses
            - whosonfirst
            - geonames
          in: query
          multiSelect: true
          name: sources
          type: array
          uniqueItems: true
        - description: |
            Restrict search to layers (place type). By default all layers are searched.

              layer|description|
              ----|----|
              `venue`|points of interest, businesses, things with walls|
              `address`|places with a street address|
              `street`|streets,roads,highways|
              `neighbourhood`|social communities, neighbourhoods|
              `borough`|a local administrative boundary, currently only used for New York City|
              `localadmin`|local administrative boundaries|
              `locality`|towns, hamlets, cities|
              `county`|official governmental area; usually bigger than a locality, almost always smaller than a region|
              `macrocounty`|a related group of counties. Mostly in Europe.|
              `region`|states and provinces|
              `macroregion`|a related group of regions. Mostly in Europe|
              `country`|places that issue passports, nations, nation-states|
              `coarse`|alias for simultaneously using all administrative layers (everything except `venue` and `address`)|
          enum:
            - address
            - venue
            - neighbourhood
            - locality
            - borough
            - localadmin
            - county
            - macrocounty
            - region
            - macroregion
            - country
            - coarse
          example: 'region,county'
          in: query
          multiSelect: true
          name: layers
          type: array
          uniqueItems: true
        - apiDefault: 10
          description: |
            Set the number of returned results.
          format: int64
          in: query
          name: size
          type: integer
      responses:
        '200':
          description: 'Please refer to [this external documentation](https://github.com/pelias/documentation/blob/master/search.md#search-the-world) for this endpoint'
      summary: Forward Geocode Service
      tags:
        - Geocode
  /geocode/search/structured:
    get:
      description: |
        Returns a JSON formatted list of objects corresponding to the search input. **The interactivity for this enpoint is experimental!** [Please refer to this external Documentation](https://github.com/pelias/documentation/blob/master/structured-geocoding.md#structured-geocoding)
      parameters:
        - default: your-api-key
          description: |
            Insert your API Key here.
          in: query
          name: api_key
          required: true
          type: string
        - description: |
            Search for full address with house number or only a street name.
          example: none
          in: query
          name: address
          type: string
        - description: |
            Search for neighbourhoods. Neighbourhoods are vernacular geographic entities that may not necessarily be official administrative divisions but are important nonetheless. Example: `Notting Hill`.
          example: none
          in: query
          name: neighbourhood
          type: string
        - description: |
            Search for full country name, [alpha 2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) or [alpha 3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) codes.
          example: none
          in: query
          name: country
          type: string
        - description: |
            Search for postal codes. Postal codes are unique within a country so they are useful in geocoding as a shorthand for a fairly granular geographical location.
          example: none
          in: query
          name: postalcode
          type: string
        - description: |
            Search for regions. Regions are normally the first-level administrative divisions within countries. For US-regions [common abbreviations](https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations) can be used.
          example: none
          in: query
          name: region
          type: string
        - description: |
            Search for counties. Counties are administrative divisions between localities and regions. Can be useful when attempting to disambiguate between localities.
          example: none
          in: query
          name: county
          type: string
        - default: Tokyo
          description: |
            Search for localities. Localities are equivalent to what are commonly referred to as *cities*.
          example: Tokyo
          in: query
          name: locality
          type: string
        - description: |
            Search for boroughs. Boroughs are mostly known in the context of New York City, even though they may exist in other cities, such as Mexico City. Example: `Manhatten`.
          example: none
          in: query
          name: borough
          type: string
        - description: |
            Longitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance.  Use with `focus.point.lat`.
          example: 8.673964
          format: float
          in: query
          name: focus.point.lon
          type: number
        - description: |
            Latitude of the `focus.point`. Specify the focus point to order results by linear distance to this point. Works for up to 100 kilometers distance. Use with `focus.point.lon`.
          example: 49.436431
          format: float
          in: query
          name: focus.point.lat
          type: number
          validWhen:
            - ref: focus.point.lon
              skipRootPathLookup: true
        - description: |
            Left border of rectangular boundary to narrow results.
          example: 8.557663
          format: float
          in: query
          name: boundary.rect.min_lon
          type: number
        - description: |
            Bottom border of rectangular boundary to narrow results.
          example: 49.331387
          format: float
          in: query
          name: boundary.rect.min_lat
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
        - description: |
            Right border of rectangular boundary to narrow results.
          example: 8.972054
          format: float
          in: query
          name: boundary.rect.max_lon
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
            - ref: boundary.rect.min_lat
              skipRootPathLookup: true
        - description: |
            Top border of rectangular boundary to narrow results.
          example: 49.525654
          format: float
          in: query
          name: boundary.rect.max_lat
          type: number
          validWhen:
            - ref: boundary.rect.min_lon
              skipRootPathLookup: true
            - ref: boundary.rect.min_lat
              skipRootPathLookup: true
            - ref: boundary.rect.max_lon
              skipRootPathLookup: true
        - description: |
            Center Longitude of circular boundary to narrow results. Use with `boundary.circle.lat` & `boundary.circle.radius`.
          example: 8.673964
          format: float
          in: query
          name: boundary.circle.lon
          type: number
        - description: |
            Center Latitude of circular boundary to narrow results. Use with `boundary.circle.lon` & `boundary.circle.radius`.
          example: 49.436431
          format: float
          in: query
          name: boundary.circle.lat
          type: number
          validWhen:
            - ref: boundary.circle.lon
              skipRootPathLookup: true
        - apiDefault: 50
          description: |
            Radius of circular boundary around the center coordinate in kilometers. Use with `boundary.circle.lon` & `boundary.circle.lat`.
          format: float
          in: query
          name: boundary.circle.radius
          type: number
          validWhen:
            - ref: boundary.circle.lon
              skipRootPathLookup: true
            - ref: boundary.circle.lat
              skipRootPathLookup: true
        - description: |
            Restrict results to single country. Possible values are [alpha-2 and alpha-3 country codes](https://en.wikipedia.org/wiki/ISO_3166-1). Example: `DEU` or `DE` for Germany.
          example: DE
          in: query
          name: boundary.country
          type: string
        - description: |
            Restrict search to layers (place type). By default all layers are searched.

              layer|description|
              ----|----|
              `venue`|points of interest, businesses, things with walls|
              `address`|places with a street address|
              `street`|streets,roads,highways|
              `neighbourhood`|social communities, neighbourhoods|
              `borough`|a local administrative boundary, currently only used for New York City|
              `localadmin`|local administrative boundaries|
              `locality`|towns, hamlets, cities|
              `county`|official governmental area; usually bigger than a locality, almost always smaller than a region|
              `macrocounty`|a related group of counties. Mostly in Europe.|
              `region`|states and provinces|
              `macroregion`|a related group of regions. Mostly in Europe|
              `country`|places that issue passports, nations, nation-states|
              `coarse`|alias for simultaneously using all administrative layers (everything except `venue` and `address`)|
          enum:
            - address
            - venue
            - neighbourhood
            - locality
            - borough
            - localadmin
            - county
            - macrocounty
            - region
            - macroregion
            - country
            - coarse
          example: 'address,venue'
          in: query
          multiSelect: true
          name: layers
          type: array
          uniqueItems: true
        - apiDefault: 'osm,oa,gn,wof'
          description: |
            Restrict your search to specific sources. Searches all sources by default. You can either use the normal or short name. Sources are [`openstreetmap(osm)`](http://www.openstreetmap.org/), [`openaddresses(oa)`](http://openaddresses.io/), [`whosonfirst(wof)`](https://whosonfirst.org/), [`geonames(gn)`](http://www.geonames.org/).
          enum:
            - openstreetmap
            - openaddresses
            - whosonfirst
            - geonames
          in: query
          multiSelect: true
          name: sources
          type: array
          uniqueItems: true
        - apiDefault: 10
          description: |
            Set the number of returned results.
          format: int64
          in: query
          name: size
          type: integer
      responses:
        '200':
          description: 'Please refer to [this external documentation](https://github.com/pelias/documentation/blob/master/structured-geocoding.md#structured-geocoding) for this endpoint'
      summary: Structured Forward Geocode Service (beta)
      tags:
        - Geocode
  /optimization:
    post:
      description: |
        The optimization endpoint solves [Vehicle Routing Problems](https://en.wikipedia.org/wiki/Vehicle_routing_problem) and can be used to schedule multiple vehicles and jobs, respecting time windows, capacities and required skills.

        This service is based on the excellent [Vroom project](https://github.com/VROOM-Project/vroom). Please also consult its [API documentation](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md).

        General Info:
        - The expected order for all coordinates arrays is `[lon, lat]`
        - All timings are in seconds
        - All distances are in meters
        - A `time_window` object is a pair of timestamps in the form `[start, end]`
      parameters:
        - default: your-api-key
          description: |
            Insert your API Key here.
          in: header
          name: Authorization
          required: true
          type: string
        - description: Query the elevation of a line in various formats.
          example: '{"format_in":"polyline","format_out":"encodedpolyline","geometry":[[13.349762,38.11295],[12.638397,37.645772]]}'
          in: body
          name: body
          properties:
            jobs:
              description: 'Array of `job` objects describing the places to visit. For a detailed object description visit the [VROOM api description](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#jobs)'
              example:
                - amount:
                    - 1
                  id: 1
                  location:
                    - 1.98465
                    - 48.70329
                  service: 300
                  skills:
                    - 1
                  time_windows:
                    - - 32400
                      - 36000
                - amount:
                    - 1
                  id: 2
                  location:
                    - 2.03655
                    - 48.61128
                  service: 300
                  skills:
                    - 1
                - amount:
                    - 1
                  id: 3
                  location:
                    - 2.39719
                    - 49.07611
                  service: 300
                  skills:
                    - 2
                - amount:
                    - 1
                  id: 4
                  location:
                    - 2.41808
                    - 49.22619
                  service: 300
                  skills:
                    - 2
                - amount:
                    - 1
                  id: 5
                  location:
                    - 2.28325
                    - 48.5958
                  service: 300
                  skills:
                    - 14
                - amount:
                    - 1
                  id: 6
                  location:
                    - 2.89357
                    - 48.90736
                  service: 300
                  skills:
                    - 14
              items:
                description: |
                  If a custom matrix is provided:
                  - `location_index` is mandatory
                  - `location` is optional but can be set to retrieve coordinates in the response

                  If no custom matrix is provided:
                  - a `matrix` query will be sent to ORS
                  - `location` is mandatory
                  - `location_index` is irrelevant
                properties:
                  amount:
                    description: |
                      Array describing multidimensional quantities
                    items:
                      format: int32
                      type: integer
                    type: array
                  id:
                    description: |
                      an integer used as unique identifier
                    format: int32
                    required: true
                    type: integer
                  location:
                    description: |
                      coordinates array in `[lon, lat]`
                    items:
                      items:
                        format: float
                        type: number
                      maxItems: 2
                      minItems: 2
                      type: array
                    type: array
                  location_index:
                    description: |
                      index of relevant row and column in custom matrix
                  service:
                    description: |
                      job service duration (defaults to 0), in seconds
                  skills:
                    description: |
                      Array of integers defining mandatory skills for this job
                    items:
                      format: int32
                      type: integer
                    type: array
                  time_windows:
                    description: |
                      Array of `time_window` arrays describing valid slots for job service start and end,
                      in week seconds, i.e. 28800 = Mon, 8 AM.
                    example:
                      - - 28800
                        - 32400
                      - - 61200
                        - 68400
                    items:
                      items:
                        format: int32
                        type: integer
                      type: array
                    type: array
                type: object
              required: true
              type: array
            matrix:
              description: Optional two-dimensional array describing a custom matrix
              items:
                type: array
              type: array
            options:
              description: Addtional options passed to the optimization engine.
              properties:
                g:
                  description: Calculate geometries for the optimized routes.
                  type: boolean
              type: object
            vehicles:
              description: 'Array of `vehicle` objects describing the available vehicles. For a detailed object description visit the [VROOM API description](https://github.com/VROOM-Project/vroom/blob/master/docs/API.md#vehicles)'
              example:
                - capacity:
                    - 4
                  end:
                    - 2.35044
                    - 48.71764
                  id: 1
                  profile: driving-car
                  skills:
                    - 1
                    - 14
                  start:
                    - 2.35044
                    - 48.71764
                  time_window:
                    - 28800
                    - 43200
                - capacity:
                    - 4
                  end:
                    - 2.35044
                    - 48.71764
                  id: 2
                  profile: driving-car
                  skills:
                    - 2
                    - 14
                  start:
                    - 2.35044
                    - 48.71764
                  time_window:
                    - 28800
                    - 43200
              items:
                description: |
                  A vehicle object with capacity, time windows and skills.
                properties:
                  capacity:
                    description: |
                      Array of integers describing multidimensional quantities.
                    items:
                      format: int32
                      type: integer
                    type: array
                  end:
                    description: |
                      End coordinates array in `[lon, lat]` format. If left blank, the optimization
                      engine will identify the optimal end point.
                    items:
                      format: float
                      type: number
                    maxItems: 2
                    minItems: 2
                    type: array
                  end_index:
                    description: |
                      Index of relevant row and column in custom matrix.
                  id:
                    description: |
                      Integer used as unique identifier
                    format: int32
                    required: true
                    type: integer
                  profile:
                    description: |
                      The ORS routing profile for the vehicle.
                    enum:
                      - driving-car
                      - driving-hgv
                      - cycling-regular
                      - cycling-mountain
                      - cycling-electric
                      - cycling-road
                      - foot-walking
                      - foot-hiking
                      - wheelchair
                    example: driving-car
                    required: true
                    type: string
                  skills:
                    description: |
                      Array of integers defining skills for this vehicle
                    items:
                      format: int32
                      type: integer
                    type: array
                  start:
                    description: |
                      Start coordinates array in `[lon, lat]` format. If left blank, the optimization
                      engine will identify the optimal start point.
                    items:
                      format: float
                      type: number
                    maxItems: 2
                    minItems: 2
                    type: array
                  start_index:
                    description: |
                      Index of relevant row and column in custom matrix.
                  time_window:
                    description: |
                      A `time_window` array describing working hours for this vehicle,
                      in week seconds, i.e. 28800 = Mon, 8 AM.
                    example:
                      - 28800
                      - 32400
                    items:
                      format: int32
                      type: integer
                    type: array
                type: object
              required: true
              type: array
          required: true
          type: object
      responses:
        '200':
          description: Valid response if code contains `0`
          schema:
            properties:
              code:
                description: |
                  status code. Possible values:

                   Value         | Status |
                   :-----------: | :-----------: |
                   `0` | no error raised |
                   `1` | internal error |
                   `2` | input error |
                   `3` | routing error |
                format: int32
                type: integer
              error:
                description: |
                  error message (present if `code` is different from `0`)
                type: string
              routes:
                description: |
                  array of `route` objects
                items:
                  properties:
                    amount:
                      description: total amount for jobs in this route
                      items:
                        format: int32
                        type: integer
                      type: array
                    cost:
                      description: cost for this route
                      format: float
                      type: number
                    distance:
                      description: total route distance. Only provided when using the `-g` flag
                      format: float
                      type: number
                    duration:
                      description: total travel time for this route
                      format: float
                      type: number
                    geometry:
                      description: polyline encoded route geometry. Only provided when using the `-g` flag
                      type: string
                    service:
                      description: total service time for this route
                      format: float
                      type: number
                    steps:
                      description: array of `step` objects
                      items:
                        properties:
                          arrival:
                            description: estimated time of arrival at this step in seconds
                            format: float
                            type: number
                          distance:
                            description: traveled distance upon arrival at this step. Only provided when using the `-g` flag with `OSRM`
                            format: float
                            type: number
                          duration:
                            description: cumulated travel time upon arrival at this step in seconds
                            format: float
                            type: number
                          job:
                            description: 'id of the job performed at this step, only provided if `type` value is `job`'
                            format: int32
                            type: integer
                          location:
                            description: coordinates array for this step (if provided in input)
                            items:
                              format: float
                              type: number
                            maxItems: 2
                            minItems: 2
                            type: array
                          service:
                            description: 'service time at this step, only provided if `type` value is `job`'
                            format: float
                            type: number
                          type:
                            description: 'string that is either `start`, `job` or `end`'
                            type: string
                          waiting_time:
                            description: 'waiting time upon arrival at this step, only provided if `type` value is `job`'
                            format: float
                            type: number
                        type: object
                      type: array
                    vehicle:
                      description: id of the vehicle assigned to this route
                      format: int32
                      type: integer
                    waiting_time:
                      description: total waiting time for this route
                      format: float
                      type: number
                  type: object
                type: array
              summary:
                description: |
                  object summarizing solution indicators
                properties:
                  amount:
                    description: total amount for all routes
                    items:
                      format: int32
                      type: integer
                    type: array
                  cost:
                    description: total cost for all routes
                    type: number
                  distance:
                    description: total distance for all routes. Only provided when using the `-g` flag with `OSRM`
                    format: float
                    type: number
                  duration:
                    description: total travel time for all routes
                    format: float
                    type: number
                  service:
                    description: total service time for all routes
                    format: float
                    type: number
                  unassigned:
                    description: number of jobs that could not be served
                    format: int32
                    type: integer
                  waiting_time:
                    description: total waiting time for all routes
                    format: float
                    type: number
                type: object
              unassigned:
                description: |
                  array of objects describing unassigned jobs with their `id` and `location` (if provided)
                items:
                  description: Unassigned Job with `id` and `location` (if provided)
                  properties:
                    id:
                      description: The `id` of the unassigned job"
                      format: int32
                      type: integer
                    location:
                      description: The `location` of the unassigned job
                      items:
                        format: float
                        type: number
                      maxItems: 2
                      minItems: 2
                      type: array
                  type: object
                type: array
            type: object
        '401':
          description: Authorization field missing.
        '403':
          description: Key not authorised.
        '500':
          description: |
            An unexpected error was encountered and more detailed internal
            errorcode is provided.
            | Internal Code | Description  |
            |:-:|--------------------------|
            | 1 |  Internal Vroom error    |
            | 2 |  Error in input          |
            | 3 |  Routing error in ORS    |
            | 4 |  Request too large       |
      summary: Optimization Service
      tags:
        - Optimization
  /pois:
    post:
      description: |
        Returns points of interest in the area surrounding a geometry which can either be a bounding box, polygon or buffered linestring or point.
        Find more examples on [github](https://github.com/GIScience/openpoiservice).
      parameters:
        - default: your-api-key
          description: |
            Insert your API Key here.
          in: header
          name: Authorization
          required: true
          type: string
        - default: '{"request":"pois","geometry":{"bbox":[[8.8034,53.0756],[8.7834,53.0456]],"geojson":{"type":"Point","coordinates":[8.8034,53.0756]},"buffer":250}}'
          description: body for a post request
          example: '{"request":"pois","geometry":{"bbox":[[8.8034,53.0756],[8.7834,53.0456]],"geojson":{"type":"Point","coordinates":[8.8034,53.0756]},"buffer":250}}'
          in: body
          name: body
          props:
            filters:
              description: Filters in terms of osm_tags which should be applied to the query.
              example: '{"fee":"no"}'
              properties:
                category_group_ids:
                  example:
                    - 420
                  items:
                    format: int64
                    type: integer
                  type: array
                category_ids:
                  example:
                    - 601
                    - 280
                  items:
                    format: int64
                    type: integer
                  type: array
                fee:
                  description: Filter example.
                  example:
                    - 'yes'
                    - 'no'
                  type: array
                name:
                  description: Filter by name of the poi object.
                  example:
                    - Gas station
                    - ...
                  type: array
                smoking:
                  description: Filter example.
                  example:
                    - dedicated
                    - 'yes'
                    - 'no'
                    - separated
                    - isolated
                    - outside
                  type: array
                wheelchair:
                  description: Filter example.
                  example:
                    - 'yes'
                    - 'no'
                    - limited
                    - designated
                  type: array
              type: object
              validWhen:
                - ref: body.props.request
                  value: pois
            geometry:
              default: '{"bbox":[[8.8034,53.0756],[8.7834,53.0456]],"geojson":{"type":"Point","coordinates":[8.8034,53.0756]},"buffer":200}'
              description: 'The geometry object which is a geojson or a bounding box object, optionally buffered.'
              properties:
                bbox:
                  description: 'The pattern for this bbox string is minlon,minlat,maxlon,maxlat'
                  example:
                    - - 53.075051
                      - 8.798952
                    - - 53.080785
                      - 8.90716
                  maxItems: 2
                  minItems: 2
                  type: array
                buffer:
                  example: 500
                  format: int64
                  type: integer
                geojson:
                  description: 'This is a GeoJSON object. Is either Point, Polygon or LineString.'
                  type: object
              type: object
              validWhen:
                - ref: body.props.request
                  valueNot: list
            limit:
              description: The limit of objects to be returned in the response.
              example: 1000
              format: int64
              type: integer
              validWhen:
                - ref: body.props.request
                  value: pois
            request:
              description: |
                Examples:
                ```
                #### JSON bodies for POST requests
                ##### Pois around a buffered point
                {
                  "request": "pois",
                  "geometry": {
                    "bbox": [
                      [8.8034, 53.0756],
                      [8.7834, 53.0456]
                    ],
                    "geojson": {
                      "type": "Point",
                      "coordinates": [8.8034, 53.0756]
                    },
                    "buffer": 250
                  }
                }

                ##### Pois given categories
                {
                  "request": "pois",
                  "geometry": {
                    "bbox": [
                      [8.8034, 53.0756],
                      [8.7834, 53.0456]
                    ],
                    "geojson": {
                      "type": "Point",
                      "coordinates": [8.8034, 53.0756]
                    },
                    "buffer": 100
                  },
                  "limit": 200,
                  "filters": {
                    "category_ids": [180, 245]
                  }
                }

                ##### Pois given category groups
                {
                  "request": "pois",
                  "geometry": {
                    "bbox": [
                      [8.8034, 53.0756],
                      [8.7834, 53.0456]
                    ],
                    "geojson": {
                      "type": "Point",
                      "coordinates": [8.8034, 53.0756]
                    },
                    "buffer": 100
                  },
                  "limit": 200,
                  "filters": {
                    "category_group_ids": [160]
                  }
                }

                ##### Pois statistics
                {
                  "request": "stats",
                  "geometry": {
                    "bbox": [
                      [8.8034, 53.0756],
                      [8.7834, 53.0456]
                    ],
                    "geojson": {
                      "type": "Point",
                      "coordinates": [8.8034, 53.0756]
                    },
                    "buffer": 100
                  }
                }

                ##### Pois categories as a list
                {
                    "request": "list"
                }
                ```
              enum:
                - pois
                - stats
                - list
              example: pois
              required: true
              type: string
            sortby:
              description: Either you can sort by category or the distance to the geometry object provided in the request.
              enum:
                - category
                - distance
              example: category
              type: string
              validWhen:
                - ref: body.props.request
                  value: pois
            title: Openpoiservice poi request
          required: true
          type: object
      responses:
        '200':
          description: Standard response for successfully processed requests.
          schema:
            description: The POI response GeoJSON FeatureCollection
            properties:
              features:
                items:
                  properties:
                    feature_properties:
                      properties:
                        category_ids:
                          properties:
                            category_id:
                              properties:
                                category_group:
                                  type: number
                                category_name:
                                  type: string
                              type: object
                          type: object
                        distance:
                          type: number
                        osm_id:
                          type: number
                        osm_tags:
                          properties:
                            address:
                              type: string
                            distance:
                              type: string
                            fee:
                              type: string
                            name:
                              type: string
                            opening_hours:
                              type: string
                            website:
                              type: string
                            wheelchair:
                              type: string
                          type: object
                        osm_type:
                          type: number
                      title: GeoJSON properties object
                      type: object
                    geometry:
                      properties:
                        coordinates:
                          items:
                            format: double
                            type: number
                          maxItems: 2
                          minItems: 2
                          type: array
                        type:
                          default: Point
                          type: string
                      title: GeoJSON geometry object
                      type: object
                    type:
                      default: Feature
                      type: string
                  title: GeoJSON features object
                  type: object
                type: array
              type:
                default: FeatureCollection
                type: string
            title: Openpoiservice poi response
            type: object
        '400':
          description: |
            The request was invalid, and more detailed internal errorcode is provided.
            | Internal Code | Description                                        |
            |:-------------:|----------------------------------------------------|
            | 4000 |  Invalid JSON object in request |
            | 4001 |  Category or category group ids missing |
            | 4002 |  Geometry is missing |
            | 4003 |  Bounding box and or geojson not present in request |
            | 4004 |  Buffer is missing |
            | 4005 |  Geometry length does not meet the restrictions |
            | 4006 |  Unsupported HTTP method |
            | 4007 |  GeoJSON parsing error |
            | 4008 |  Geometry size does not meet the restrictions |
            | 4009 |  Unsupported Content-Type |
        '401':
          description: Authorization field missing.
        '403':
          description: Key not authorised.
        '500':
          description: Unknown internal error
      summary: Pois Service
      tags:
        - Pois
  '/v2/centrality/{profile}':
    post:
      consumes:
        - application/json
      description: Returns an ordered list of points and centrality values within a given bounding box for a selected profile and its settings as JSON
      operationId: getDefaultUsingPOST
      parameters:
        - description: Specifies the route profile.
          enum:
            - cycling-electric
            - cycling-mountain
            - cycling-regular
            - cycling-road
            - driving-car
            - driving-hgv
            - foot-hiking
            - foot-walking
            - wheelchair
          in: path
          name: profile
          required: true
          type: string
          x-example: driving-car
        - description: The request payload
          in: body
          name: request
          required: true
          schema:
            description: The JSON body request sent to the centrality service which defines options and parameters regarding the centrality measure to calculate.
            properties:
              bbox:
                description: 'The bounding box to use for the request as an array of `longitude/latitude` pairs in WGS 84 (EPSG:4326)'
                example:
                  - 8.681495
                  - 49.41461
                  - 8.686507
                  - 49.41943
                items:
                  items:
                    format: double
                    type: number
                  type: array
                type: array
              excludeNodes:
                description: List of node Ids to exclude when calculating centrality
                example:
                  - 1661
                  - 1662
                  - 1663
                items:
                  format: int32
                  type: integer
                type: array
              id:
                description: Arbitrary identification string of the request reflected in the meta information.
                example: centrality_request
                type: string
              mode:
                description: 'Specifies the centrality calculation mode. Currently, node-based and edge-based centrality calculation is supported.'
                enum:
                  - edges
                  - nodes
                example: nodes
                type: string
            required:
              - bbox
            title: Centrality Service
            type: object
      produces:
        - '*/*'
        - application/json
      responses:
        '200':
          description: Standard response for successfully processed requests. Returns JSON.
          schema:
            description: The Centrality Response contains centrality values for nodes or edges in the requested BBox
            properties:
              edgeScores:
                items:
                  properties:
                    fromId:
                      description: Id of the start point of the edge
                      example: 1
                      format: int32
                      type: integer
                    score:
                      description: Centrality Score of the corresponding edge in the given bounding box
                      example: 123.45
                      format: double
                      type: number
                    toId:
                      description: Id of the end point of the edge
                      example: 2
                      format: int32
                      type: integer
                  title: JsonEdgeScore
                  type: object
                type: array
              locations:
                items:
                  properties:
                    coord:
                      description: '{longitude},{latitude} coordinates of the closest accessible point on the routing graph'
                      example:
                        - 8.678962
                        - 49.40783
                      items:
                        format: double
                        type: number
                      type: array
                    nodeId:
                      description: Id of the corresponding node in the graph
                      example: 1
                      format: int32
                      type: integer
                  title: JsonCentralityLocation
                  type: object
                type: array
              nodeScores:
                items:
                  properties:
                    nodeId:
                      description: Id of the corresponding node in the graph
                      example: 1
                      format: int32
                      type: integer
                    score:
                      description: Centrality Score of the corresponding node in the given bounding box
                      example: 123.45
                      format: double
                      type: number
                  title: JsonNodeScore
                  type: object
                type: array
              warning:
                description: Informs about possible difficulties like access restrictions on the generated route. Generates a corresponding `extras` object with the affected segments.
                properties:
                  code:
                    description: Identification code for the warning
                    example: 1
                    format: int32
                    type: integer
                  message:
                    description: The message associated with the warning
                    example: This route may go over restricted roads
                    type: string
                title: JSONWarning
                type: object
            title: JsonCentralityResponse
            type: object
        '201':
          description: Created
        '400':
          description: The request is incorrect and therefore can not be processed.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'An element could not be found. If possible, a more detailed error code is provided.'
        '405':
          description: 'The specified HTTP method is not supported. For more details, refer to the EndPoint documentation.'
        '413':
          description: 'The request is larger than the server is able to process, the data provided in the request exceeds the capacity limit.'
        '500':
          description: An unexpected error was encountered and a more detailed error code is provided.
        '501':
          description: Indicates that the server does not support the functionality needed to fulfill the request.
        '503':
          description: The server is currently unavailable due to overload or maintenance.
      summary: Centrality Service (POST)
      tags:
        - Centrality
  '/v2/centrality/{profile}/json':
    post:
      consumes:
        - application/json
      description: Returns an ordered list of points and centrality values within a given bounding box for a selected profile and its settings as JSON
      operationId: getJsonCentralityUsingPOST
      parameters:
        - description: Specifies the profile.
          enum:
            - cycling-electric
            - cycling-mountain
            - cycling-regular
            - cycling-road
            - driving-car
            - driving-hgv
            - foot-hiking
            - foot-walking
            - wheelchair
          in: path
          name: profile
          required: true
          type: string
          x-example: driving-car
        - description: The request payload
          in: body
          name: request
          required: true
          schema:
            description: The JSON body request sent to the centrality service which defines options and parameters regarding the centrality measure to calculate.
            properties:
              bbox:
                description: 'The bounding box to use for the request as an array of `longitude/latitude` pairs in WGS 84 (EPSG:4326)'
                example:
                  - 8.681495
                  - 49.41461
                  - 8.686507
                  - 49.41943
                items:
                  items:
                    format: double
                    type: number
                  type: array
                type: array
              excludeNodes:
                description: List of node Ids to exclude when calculating centrality
                example:
                  - 1661
                  - 1662
                  - 1663
                items:
                  format: int32
                  type: integer
                type: array
              id:
                description: Arbitrary identification string of the request reflected in the meta information.
                example: centrality_request
                type: string
              mode:
                description: 'Specifies the centrality calculation mode. Currently, node-based and edge-based centrality calculation is supported.'
                enum:
                  - edges
                  - nodes
                example: nodes
                type: string
            required:
              - bbox
            title: Centrality Service
            type: object
      produces:
        - application/json
        - application/json;charset=UTF-8
      responses:
        '200':
          description: JSON Response
          schema:
            description: The Centrality Response contains centrality values for nodes or edges in the requested BBox
            properties:
              edgeScores:
                items:
                  properties:
                    fromId:
                      description: Id of the start point of the edge
                      example: 1
                      format: int32
                      type: integer
                    score:
                      description: Centrality Score of the corresponding edge in the given bounding box
                      example: 123.45
                      format: double
                      type: number
                    toId:
                      description: Id of the end point of the edge
                      example: 2
                      format: int32
                      type: integer
                  title: JsonEdgeScore
                  type: object
                type: array
              locations:
                items:
                  properties:
                    coord:
                      description: '{longitude},{latitude} coordinates of the closest accessible point on the routing graph'
                      example:
                        - 8.678962
                        - 49.40783
                      items:
                        format: double
                        type: number
                      type: array
                    nodeId:
                      description: Id of the corresponding node in the graph
                      example: 1
                      format: int32
                      type: integer
                  title: JsonCentralityLocation
                  type: object
                type: array
              nodeScores:
                items:
                  properties:
                    nodeId:
                      description: Id of the corresponding node in the graph
                      example: 1
                      format: int32
                      type: integer
                    score:
                      description: Centrality Score of the corresponding node in the given bounding box
                      example: 123.45
                      format: double
                      type: number
                  title: JsonNodeScore
                  type: object
                type: array
              warning:
                description: Informs about possible difficulties like access restrictions on the generated route. Generates a corresponding `extras` object with the affected segments.
                properties:
                  code:
                    description: Identification code for the warning
                    example: 1
                    format: int32
                    type: integer
                  message:
                    description: The message associated with the warning
                    example: This route may go over restricted roads
                    type: string
                title: JSONWarning
                type: object
            title: JsonCentralityResponse
            type: object
        '201':
          description: Created
        '400':
          description: The request is incorrect and therefore can not be processed.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'An element could not be found. If possible, a more detailed error code is provided.'
        '405':
          description: 'The specified HTTP method is not supported. For more details, refer to the EndPoint documentation.'
        '413':
          description: 'The request is larger than the server is able to process, the data provided in the request exceeds the capacity limit.'
        '500':
          description: An unexpected error was encountered and a more detailed error code is provided.
        '501':
          description: Indicates that the server does not support the functionality needed to fulfill the request.
        '503':
          description: The server is currently unavailable due to overload or maintenance.
      summary: Centrality Service JSON (POST)
      tags:
        - Centrality
  '/v2/directions/{profile}':
    get:
      description: 'Get a basic route between two points with the profile provided. Returned response is in GeoJSON format. This method does not accept any request body or parameters other than profile, start coordinate, and end coordinate.'
      operationId: getSimpleGeoJsonRouteUsingGET
      parameters:
        - description: 'Destination coordinate of the route in `longitude,latitude` format.'
          in: query
          name: end
          required: true
          type: string
          x-example: '8.687872,49.420318'
        - description: Specifies the route profile.
          enum:
            - cycling-electric
            - cycling-mountain
            - cycling-regular
            - cycling-road
            - driving-car
            - driving-hgv
            - foot-hiking
            - foot-walking
            - wheelchair
          in: path
          name: profile
          required: true
          type: string
          x-example: driving-car
        - description: 'Start coordinate of the route in `longitude,latitude` format.'
          in: query
          name: start
          required: true
          type: string
          x-example: '8.681495,49.41461'
      produces:
        - application/geo+json;charset=UTF-8
      responses:
        '200':
          description: 'Standard response for successfully processed requests. Returns GeoJSON. The decoded values of the extra information can be found [here](https://GIScience.github.io/openrouteservice/documentation/extra-info/Extra-Info.html).'
          schema:
            properties:
              bbox:
                description: Bounding box that covers all returned routes
                example:
                  - 49.414057
                  - 8.680894
                  - 49.420514
                  - 8.690123
                items:
                  format: double
                  type: number
                type: array
              features:
                items:
                  type: object
                type: array
              metadata:
                description: Information about the request
                properties:
                  attribution:
                    description: Copyright and attribution information
                    example: openrouteservice.org | OpenStreetMap contributors
                    type: string
                  engine:
                    description: Information about the routing service
                    properties:
                      build_date:
                        description: The date that the service was last updated
                        example: '2019-02-07T14:28:11Z'
                        type: string
                      graph_date:
                        description: The date that the graph data was last updated
                        example: '2019-02-07T14:28:11Z'
                        type: string
                      version:
                        description: The backend version of the openrouteservice that was queried
                        example: 5
                        type: string
                    title: EngineInfo
                    type: object
                  id:
                    description: ID of the request (as passed in by the query)
                    example: request123
                    type: string
                  osm_file_md5_hash:
                    description: The MD5 hash of the OSM planet file that was used for generating graphs
                    example: c0327ba6
                    type: string
                  query:
                    allOf:
                      - description: Advanced options for routing
                        properties:
                          avoid_borders:
                            description: '`all` for no border crossing. `controlled` to cross open borders but avoid controlled ones. Only for `driving-*` profiles. CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''driving-*'']}}'
                            enum:
                              - all
                              - controlled
                              - none
                            example: controlled
                            type: string
                          avoid_countries:
                            description: 'List of countries to exclude from matrix with `driving-*` profiles. Can be used together with `''avoid_borders'': ''controlled''`. `[ 11, 193 ]` would exclude Austria and Switzerland. List of countries and application examples can be found [here](https://GIScience.github.io/openrouteservice/documentation/routing-options/Country-List.html). Also, ISO standard country codes cna be used in place of the numerical ids, for example, DE or DEU for Germany. CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''driving-*'']}}'
                            example:
                              - 11
                              - 193
                            items:
                              type: string
                            type: array
                          avoid_features:
                            description: 'List of features to avoid. CUSTOM_KEYS:{''itemRestrictions'':{''ref'':''profile'', ''itemsWhen'':{''driving-*'':[''highways'',''tollways'',''ferries''],''cycling-*'':[''ferries'',''steps'',''fords''],''foot-*'':[''ferries'',''fords'',''steps''],''wheelchair'':[''ferries'',''steps'']}}}'
                            example:
                              - highways
                            items:
                              enum:
                                - ferries
                                - fords
                                - highways
                                - steps
                                - tollways
                              type: string
                            type: array
                          avoid_polygons:
                            additionalProperties:
                              type: object
                            description: Comprises areas to be avoided for the route. Formatted in GeoJSON as either a Polygon or Multipolygon object.
                            type: object
                          profile_params:
                            description: ' Specifies additional matrix parameters.CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''valueNot'':[''driving-car'']}}'
                            properties:
                              allow_unsuitable:
                                description: 'Specifies if ways that might not be suitable (e.g. unknown pedestrian usage) should be included in finding routes - default falseCUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''wheelchair'']}}'
                                example: true
                                type: boolean
                              restrictions:
                                description: Describe restrictions to be applied to edges on the routing. any edges that do not match these restrictions are not traversed.
                                properties:
                                  axleload:
                                    description: 'Axleload restriction in tons. CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''driving-hgv'']}}'
                                    example: 50
                                    format: float
                                    type: number
                                  hazmat:
                                    description: 'Specifies whether to use appropriate routing for delivering hazardous goods and avoiding water protected areas. Default is `false`. CUSTOM_KEYS:{''apiDefault'':false,''validWhen'':{''ref'':''profile'',''value'':[''driving-hgv'']}}'
                                    type: boolean
                                  height:
                                    description: 'Height restriction in metres. CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''driving-hgv'']}}'
                                    example: 4.2
                                    format: float
                                    type: number
                                  length:
                                    description: 'Length restriction in metres. CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''driving-hgv'']}}'
                                    example: 8.4
                                    format: float
                                    type: number
                                  maximum_incline:
                                    description: 'Specifies the maximum incline as a percentage. `3`, `6` (default), `10`, `15.CUSTOM_KEYS:{''apiDefault'':6,''validWhen'':{''ref'':''profile'',''value'':[''wheelchair'']}}'
                                    example: 3
                                    format: int32
                                    type: integer
                                  maximum_sloped_kerb:
                                    description: 'Specifies the maximum height of the sloped curb in metres. Values are `0.03`, `0.06` (default), `0.1`.CUSTOM_KEYS:{''apiDefault'':0.6,''validWhen'':{''ref'':''profile'',''value'':[''wheelchair'']}}'
                                    example: 0.03
                                    format: float
                                    type: number
                                  minimum_width:
                                    description: 'Specifies the minimum width of the footway in metres.CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''wheelchair'']}}'
                                    example: 2.5
                                    format: float
                                    type: number
                                  smoothness_type:
                                    description: 'Specifies the minimum smoothness of the route. Default is `good`.CUSTOM_KEYS:{''apiDefault'':''good'',''validWhen'':{''ref'':''profile'',''value'':[''wheelchair'']}}'
                                    enum:
                                      - bad
                                      - excellent
                                      - good
                                      - horrible
                                      - impassable
                                      - intermediate
                                      - very_bad
                                      - very_horrible
                                    example: best
                                    type: string
                                  surface_type:
                                    description: 'Specifies the minimum surface type. Default is `sett`. CUSTOM_KEYS:{''apiDefault'':''sett'',''validWhen'':{''ref'':''profile'',''value'':[''wheelchair'']}}'
                                    example: asphalt
                                    type: string
                                  track_type:
                                    description: 'Specifies the minimum grade of the route. Default is `grade1`. CUSTOM_KEYS:{''apiDefault'':''grade1'',''validWhen'':{''ref'':''profile'',''value'':[''wheelchair'']}}'
                                    example: grade2
                                    type: string
                                  weight:
                                    description: 'Weight restriction in tons. CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''driving-hgv'']}}'
                                    example: 40
                                    format: float
                                    type: number
                                  width:
                                    description: 'Width restriction in metres. CUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''driving-hgv'']}}'
                                    example: 5.6
                                    format: float
                                    type: number
                                title: Restrictions
                                type: object
                              surface_quality_known:
                                description: 'Specifies whether to enforce that only ways with known information on surface quality be taken into account - default falseCUSTOM_KEYS:{''validWhen'':{''ref'':''profile'',''value'':[''wheelchair'']}}'
                                example: true
                                type: boolean
                              weightings:
                                description: Describe additional weightings to be applied to edges on the routing.
                                properties:
                                  csvColumn:
                                    type: string
                                  csv_column:
                                    description: Specifies the csv column name
                                    type: string
                                  csv_factor:
                                    description: Specifies the factor of csv-column (range 0 to 1)
                                    format: float
                                    type: number
                                  green:
                                    description: |-
                                      Specifies the Green factor for `foot-*` profiles.

                                      factor: Multiplication factor range from 0 to 1. 0 is the green routing base factor without multiplying it by the manual factor and is already different from normal routing. 1 will prefer ways through green areas over a shorter route. CUSTOM_KEYS:{'validWhen':{'ref':'profile','value':['foot-*']}}
                                    example: 0.4
                                    format: float
                                    type: number
                                  quiet:
                                    description: |-
                                      Specifies the Quiet factor for foot-* profiles.

                                      factor: Multiplication factor range from 0 to 1. 0 is the quiet routing base factor without multiplying it by the manual factor and is already different from normal routing. 1 will prefer quiet ways over a shorter route. CUSTOM_KEYS:{'validWhen':{'ref':'profile','value':['foot-*']}}
                                    example: 0.8
                                    format: float
                                    type: number
                                  shadow:
                                    description: |-
                                      Specifies the shadow factor for `foot-*` profiles.

                                      factor: Multiplication factor range from 0 to 1. 0 is the shadow routing base factor without multiplying it by the manual factor and is already different from normal routing. 1 will prefer ways through shadow areas over a shorter route. CUSTOM_KEYS:{'validWhen':{'ref':'profile','value':['foot-*']}}
                                    example: 0.4
                                    format: float
                                    type: number
                                  steepness_difficulty:
                                    description: |-
                                      Specifies the fitness level for `cycling-*` profiles.

                                       level: 0 = Novice, 1 = Moderate, 2 = Amateur, 3 = Pro. The prefered gradient increases with level. CUSTOM_KEYS:{'validWhen':{'ref':'profile','value':['cycling-*']}}
                                    example: 2
                                    format: int32
                                    type: integer
                                title: Profile Weightings
                                type: object
                            title: Profile Parameters
                            type: object
                          round_trip:
                            description: Options to be applied on round trip routes.
                            example:
                              length: 10000
                              points: 5
                            properties:
                              length:
                                description: 'The target length of the route in `m` (note that this is a preferred value, but results may be different).'
                                example: 10000
                                format: float
                                type: number
                              points:
                                description: The number of points to use on the route. Larger values create more circular routes.
                                example: 5
                                format: int32
                                type: integer
                              seed:
                                description: A seed to use for adding randomisation to the overall direction of the generated route
                                example: 1
                                format: int64
                                type: integer
                            title: Round Trip Route Options
                            type: object
                          vehicle_type:
[...]
