swagger: '2.0'
schemes:
  - https
host: processor1.francecentral.cloudapp.azure.com
basePath: /
info:
  contact:
    name: MobiDataLab
    url: 'https://mobidatalab.eu'
  description: MobiDatLab geographical enrichment API
  title: mdl-geo-enrichment
  version: 1.0.0
  x-apisguru-categories:
    - navigation
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://mobidatalab.eu/wp-content/uploads/2021/06/logo.svg'
  x-origin:
    - format: swagger
      url: 'https://processor1.francecentral.cloudapp.azure.com/v2/api-docs'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: geographical-enrichment-api
produces:
  - application/json
tags:
  - description: Generic Json Controller
    name: generic-json-controller
  - description: Geo Json Controller
    name: geo-json-controller
  - description: Gtfs Controller
    name: gtfs-controller
  - description: Here Controller
    name: here-controller
  - description: Navitia Controller
    name: navitia-controller
  - description: Osm Controller
    name: osm-controller
paths:
  /api/v1/geojson/enrichGeoJsonApi:
    get:
      operationId: enrichGeoJsonApiUsingGET
      parameters:
        - default: OSM
          description: source API format
          enum:
            - GTFS
            - GeoJson
            - OSM
          in: query
          name: apiFormat
          required: true
          type: string
        - description: 'Attributes to be enriched on the target api, separated with commas'
          in: query
          name: enrichAttributes
          required: true
          type: string
          x-example: 'wheelchair, shelter, tactile_paving, bench, bin, lit'
        - description: Url of the source API to be used for enrichment
          in: query
          name: sourceApiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](48.8345631,2.2433581,48.8775033,2.4400646);out%20meta;'
        - description: Source API authorization token
          in: query
          name: sourceToken
          required: false
          type: string
        - description: Url of the target API to be enriched
          in: query
          name: targetApiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](48.8345631,2.2433581,48.8775033,2.4400646);out%20meta;'
        - description: Target API authorization token
          in: query
          name: targetToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: enrichGeoJsonApi
      tags:
        - geo-json-controller
  /api/v1/gtfs/convertGtfsApiToGeoJson:
    get:
      operationId: convertGtfsApiToGeoJsonUsingGET
      parameters:
        - description: URL of GTFS zip file
          in: query
          name: gtfsApiUrl
          required: true
          type: string
          x-example: 'https://transitfeeds.com/p/tisseo/595/latest/download'
        - description: Authorization token
          in: query
          name: targetToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: convertGtfsApiToGeoJson
      tags:
        - gtfs-controller
  /api/v1/gtfs/convertGtfsFileToGeoJson:
    post:
      consumes:
        - multipart/form-data
      operationId: convertGtfsFileToGeoJsonUsingPOST
      parameters:
        - in: formData
          name: GTFS file
          required: false
          type: file
      responses:
        '200':
          description: OK
          schema:
            type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: convertGtfsFileToGeoJson
      tags:
        - gtfs-controller
  /api/v1/gtfs/enrichGtfsApi:
    get:
      operationId: enrichGtfsApiUsingGET
      parameters:
        - default: OSM
          description: source API format
          enum:
            - GTFS
            - GeoJson
            - OSM
          in: query
          name: apiFormat
          required: true
          type: string
        - description: 'Attributes to be enriched on the target api, separated with commas'
          in: query
          name: enrichAttributes
          required: true
          type: string
          x-example: 'wheelchair, shelter, tactile_paving, bench, bin, lit'
        - description: Url of the source API to be used for enrichment
          in: query
          name: sourceApiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](43.5740109,1.3833413,43.6073069,1.4512363);out%20meta;'
        - description: Source API authorization token
          in: query
          name: sourceToken
          required: false
          type: string
        - description: Url of the target API to be enriched
          in: query
          name: targetApiUrl
          required: true
          type: string
          x-example: 'https://transitfeeds.com/p/tisseo/595/latest/download'
        - description: Target API authorization token
          in: query
          name: targetToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: enrichGtfsApi
      tags:
        - gtfs-controller
  /api/v1/here/getNearStations:
    get:
      operationId: getNearStationsUsingGET
      parameters:
        - default: OSM
          description: API format
          enum:
            - GTFS
            - GeoJson
            - OSM
          in: query
          name: apiFormat
          required: true
          type: string
        - description: Here API authorization key
          in: query
          name: apiKey
          required: false
          type: string
          x-example: 0PMpb1W_5iihYGu7UrBWsR8fI6Utopf52hFBKOwl7Xc
        - description: API full url
          in: query
          name: apiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway](48.856892, 2.332623,48.896892, 2.372623);node[railway](48.856892, 2.332623,48.896892, 2.372623);out%20meta;'
        - description: 'Coordinates of the location: latitude, longitude'
          in: query
          name: coordinates
          required: true
          type: string
          x-example: '48.876892,2.352623'
        - description: 'Attributes to be enriched on the target api, separated with commas'
          in: query
          name: enrichAttributes
          required: false
          type: string
          x-example: 'wheelchair, shelter, tactile_paving, bench, bin, lit'
        - description: Source API authorization token
          in: query
          name: sourceToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: getNearStations
      tags:
        - here-controller
  /api/v1/here/getRoutes:
    get:
      operationId: getRoutesUsingGET
      parameters:
        - default: OSM
          description: API format
          enum:
            - GTFS
            - GeoJson
            - OSM
          in: query
          name: apiFormat
          required: true
          type: string
        - description: Here API authorization key
          in: query
          name: apiKey
          required: false
          type: string
          x-example: 0PMpb1W_5iihYGu7UrBWsR8fI6Utopf52hFBKOwl7Xc
        - description: API full url
          in: query
          name: apiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](48.8345631,2.2433581,48.8775033,2.4400646);out%20meta;'
        - description: 'Attributes to be enriched on the target api, separated with commas'
          in: query
          name: enrichAttributes
          required: false
          type: string
          x-example: 'wheelchair, shelter, tactile_paving, bench, bin, lit'
        - description: 'Coordinates of starting point: latitude, longitude'
          in: query
          name: fromCoordinates
          required: true
          type: string
          x-example: '48.8345631,2.2433581'
        - description: Source API authorization token
          in: query
          name: sourceToken
          required: false
          type: string
        - description: 'Coordinates of the arrival point: latitude, longitude'
          in: query
          name: toCoordinates
          required: true
          type: string
          x-example: '48.8775033,2.4400646'
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: getRoutes
      tags:
        - here-controller
  /api/v1/json/enrichJsonApi:
    get:
      operationId: enrichJsonApiUsingGET
      parameters:
        - description: 'Attributes to be enriched on the target api, separated with commas'
          in: query
          name: enrichmentAttributes
          required: true
          type: string
          x-example: 'wheelchair, shelter, tactile_paving, bench, bin, lit'
        - description: 'The parent path of the enrichment attributes on the source api, using [Jsonpath expressions](https://goessner.net/articles/JsonPath/index.html#e2)'
          in: query
          name: enrichmentAttributesPath
          required: true
          type: string
          x-example: $..elements.tags
        - description: Url of the source API to be used for enrichment
          in: query
          name: sourceApiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](50.8396064,4.3056933,50.8439547,4.3398019);out%20meta;'
        - description: 'Source attributes root path of the point using [Jsonpath expressions](https://goessner.net/articles/JsonPath/index.html#e2)'
          in: query
          name: sourceAttributesRootPath
          required: true
          type: string
          x-example: $..elements
        - description: 'The path of the coordinates node on the source api using [Jsonpath expressions](https://goessner.net/articles/JsonPath/index.html#e2)'
          in: query
          name: sourceCoordsPath
          required: true
          type: string
          x-example: $..elements
        - description: 'The path of the point name on the source api using [Jsonpath expressions](https://goessner.net/articles/JsonPath/index.html#e2)'
          in: query
          name: sourceNamePath
          required: true
          type: string
          x-example: $..elements.tags.name
        - description: Source API authorization token
          in: query
          name: sourceToken
          required: false
          type: string
        - description: Url of the target API to be enriched
          in: query
          name: targetApiUrl
          required: true
          type: string
          x-example: 'https://api.navitia.io/v1/journeys?from=4.3398019;50.8439547&to=4.3056933;50.8396064&allowed_id[]=physical_mode:Bus'
        - description: 'Target attributes root path of the point using [Jsonpath expressions](https://goessner.net/articles/JsonPath/index.html#e2)'
          in: query
          name: targetAttributesRootPath
          required: true
          type: string
          x-example: $..stop_point
        - description: 'The path of the coordinates node on the target api using [Jsonpath expressions](https://goessner.net/articles/JsonPath/index.html#e2)'
          in: query
          name: targetCoordsPath
          required: true
          type: string
          x-example: $..stop_point.coord
        - description: 'The path of the point name on the target api using [Jsonpath expressions](https://goessner.net/articles/JsonPath/index.html#e2)'
          in: query
          name: targetNamePath
          required: true
          type: string
          x-example: $..stop_point.name
        - description: Target API authorization token
          in: query
          name: targetToken
          required: false
          type: string
          x-example: 55af740c-e0e9-4f2b-9387-3bb81a8c7bd4
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: enrichJsonApi
      tags:
        - generic-json-controller
  /api/v1/navitia/getJourneys:
    get:
      operationId: getJourneysUsingGET
      parameters:
        - default: OSM
          description: API format
          enum:
            - GTFS
            - GeoJson
            - OSM
          in: query
          name: apiFormat
          required: true
          type: string
        - description: API full url
          in: query
          name: apiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](41.822902,12.4057903,41.939445,12.5472503);out%20meta;'
        - description: 'Attributes to be enriched on the target api, separated with commas'
          in: query
          name: enrichAttributes
          required: false
          type: string
          x-example: 'wheelchair, shelter, tactile_paving, bench, bin, lit'
        - description: 'Coordinates of starting point: latitude, longitude'
          in: query
          name: fromCoordinates
          required: true
          type: string
          x-example: '41.822902,12.4057903'
        - description: Source API authorization token
          in: query
          name: sourceToken
          required: false
          type: string
        - description: Navitia API authorization token
          in: query
          name: targetToken
          required: false
          type: string
          x-example: 55af740c-e0e9-4f2b-9387-3bb81a8c7bd4
        - description: 'Coordinates of the arrival point: latitude, longitude'
          in: query
          name: toCoordinates
          required: true
          type: string
          x-example: '41.939445,12.5472503'
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: getJourneys
      tags:
        - navitia-controller
  /api/v1/navitia/getLines:
    get:
      operationId: getLinesUsingGET
      parameters:
        - default: OSM
          description: API format
          enum:
            - GTFS
            - GeoJson
            - OSM
          in: query
          name: apiFormat
          required: true
          type: string
        - description: API full url
          in: query
          name: apiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](41.822902,12.4057903,41.939445,12.5472503);out%20meta;'
        - description: 'Attributes to be enriched on the target api, separated with commas'
          in: query
          name: enrichAttributes
          required: false
          type: string
          x-example: 'wheelchair, shelter, tactile_paving, bench, bin, lit'
        - description: 'Coordinates of starting point: latitude, longitude'
          in: query
          name: fromCoordinates
          required: true
          type: string
          x-example: '41.822902,12.4057903'
        - description: Source API authorization token
          in: query
          name: sourceToken
          required: false
          type: string
        - description: Navitia API authorization token
          in: query
          name: targetToken
          required: false
          type: string
          x-example: 55af740c-e0e9-4f2b-9387-3bb81a8c7bd4
        - description: 'Coordinates of the arrival point: latitude, longitude'
          in: query
          name: toCoordinates
          required: true
          type: string
          x-example: '41.939445,12.5472503'
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: getLines
      tags:
        - navitia-controller
  /api/v1/osm/convertOsmApiToGeoJson:
    get:
      operationId: convertOsmApiToGeoJsonUsingGET
      parameters:
        - description: Target api url (Only OSM api format is supported!)
          in: query
          name: osmApiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](48.8345631,2.2433581,48.8775033,2.4400646);out%20meta;'
        - description: API authorization token
          in: query
          name: token
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: convertOsmApiToGeoJson
      tags:
        - osm-controller
  /api/v1/osm/convertOsmFileToGeoJson:
    post:
      consumes:
        - multipart/form-data
      operationId: convertOsmFileToGeoJsonUsingPOST
      parameters:
        - in: formData
          name: OSM file
          required: false
          type: file
      responses:
        '200':
          description: OK
          schema:
            type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: convertOsmFileToGeoJson
      tags:
        - osm-controller
  /api/v1/osm/enrichOsmApi:
    get:
      operationId: enrichOsmApiUsingGET
      parameters:
        - default: OSM
          description: source API format
          enum:
            - GTFS
            - GeoJson
            - OSM
          in: query
          name: apiFormat
          required: true
          type: string
        - description: 'Attributes to be enriched on the target api, separated with commas'
          in: query
          name: enrichAttributes
          required: true
          type: string
          x-example: 'wheelchair, shelter, tactile_paving, bench, bin, lit'
        - description: Url of the source API to be used for enrichment
          in: query
          name: sourceApiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](48.8345631,2.2433581,48.8775033,2.4400646);out%20meta;'
        - description: Source API authorization token
          in: query
          name: sourceToken
          required: false
          type: string
        - description: Url of the target API to be enriched
          in: query
          name: targetApiUrl
          required: true
          type: string
          x-example: 'https://overpass.kumi.systems/api/interpreter?data=[out:json];node[highway=bus_stop](48.8345631,2.2433581,48.8775033,2.4400646);out%20meta;'
        - description: Target API authorization token
          in: query
          name: targetToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      summary: enrichOsmApi
      tags:
        - osm-controller
