openapi: 3.0.0
servers:
  - url: 'https://graphhopper.com/api/1'
info:
  contact:
    email: support@graphhopper.com
    name: API Support
    url: 'https://www.graphhopper.com/'
  description: |

    With the [GraphHopper Directions API](https://www.graphhopper.com/products/) you can integrate A-to-B route planning, turn-by-turn navigation,
    route optimization, isochrone calculations and other tools in your application.

    The GraphHopper Directions API consists of the following RESTful web services:

     * [Routing API](#tag/Routing-API),
     * [Route Optimization API](#tag/Route-Optimization-API),
     * [Isochrone API](#tag/Isochrone-API),
     * [Map Matching API](#tag/Map-Matching-API),
     * [Matrix API](#tag/Matrix-API),
     * [Geocoding API](#tag/Geocoding-API) and
     * [Cluster API](#tag/Cluster-API).

    # Explore our APIs

    ## Get started

    1. [Sign up for GraphHopper](https://support.graphhopper.com/a/solutions/articles/44001976025)
    2. [Create an API key](https://support.graphhopper.com/a/solutions/articles/44001976027)

    Each API part has its own documentation. Jump to the desired API part and learn about the API through the given examples and tutorials.

    ## API Client Libraries

    To speed up development and make coding easier, we offer a [JavaScript client](https://github.com/graphhopper/directions-api-js-client) and a 
    [Java client](https://github.com/graphhopper/graphhopper/tree/master/client-hc).

    You can also try some [examples on a map](https://graphhopper.com/api/1/examples/)

    ### Bandwidth reduction

    If you create your own client, make sure it supports http/2 and gzipped responses for best speed.
    If you use the Matrix, the Route Optimization API or the Cluster API and want to solve large problems, we recommend you to reduce bandwidth
    by [compressing your POST request](https://gist.github.com/karussell/82851e303ea7b3459b2dea01f18949f4)
    and specifying the header as follows: `Content-Encoding: gzip`. This will also avoid the HTTP 413 error "Request Entity Too Large".

    ## Contact Us

    If you have problems or questions, please read the following information:

    - [FAQ](https://graphhopper.com/api/1/docs/FAQ/)
    - [Public forum](https://discuss.graphhopper.com/c/directions-api)
    - [Contact us](https://www.graphhopper.com/contact-form/)
    - [GraphHopper Status Page](https://status.graphhopper.com/)

    To stay informed about the latest developments, you can

    - follow us on [twitter](https://twitter.com/graphhopper/),
    - read [our blog](https://graphhopper.com/blog/),
    - sign up for our newsletter or
    - [our forum](https://discuss.graphhopper.com/c/directions-api).

    Select the channel you like the most.


    # Map Data and Routing Profiles

    Currently, our main data source is [OpenStreetMap](https://www.openstreetmap.org). We also integrated other network data providers.
    This chapter gives an overview about the options you have.

    ## OpenStreetMap

    #### Geographical Coverage

    [OpenStreetMap](https://www.openstreetmap.org) covers the whole world. If you want to see for yourself if we can provide data suitable for your region,
    please visit [GraphHopper Maps](https://graphhopper.com/maps/).
    You can edit and modify OpenStreetMap data if you find that important information is missing, e.g. a weight limit for a bridge.
    [Here](https://wiki.openstreetmap.org/wiki/Beginners%27_guide) is a beginner's guide that shows how to add data. If you have edited data, we usually consider your data after 1 week at the latest.

    #### Supported Routing Profiles

    The Routing, Matrix and Route Optimization APIs support the following profiles:

    Name             | Description           | Restrictions                        | Icon
    -----------------|:----------------------|:------------------------------------|:---------------------------------------------------------
    car              | Car mode              | car access, weight=2500kg, width=2m, height=2m           | ![car image](./img/car.png)
    car_delivery     | Car mode              | car access including delivery and private roads. Use only in case your drivers are allowed to access these roads. | ![car image](./img/car.png)
    car_avoid_ferry      | Car mode          | car that heavily penalizes ferries          | ![car image](./img/car.png)
    car_avoid_motorway   | Car mode          | car that heavily penalizes motorways        | ![car image](./img/car.png)
    car_avoid_toll       | Car mode          | car that heavily penalizes tolls            | ![car image](./img/car.png)
    small_truck          | Small truck like a Mercedes Sprinter, Ford Transit or Iveco Daily | height=2.7m, width=2+0.34m, length=5.5m, weight=2080+1400 kg | ![small truck image](./img/small_truck.png)
    small_truck_delivery | Small truck                                             | Like small_truck but including delivery and private roads. Use only in case your drivers are allowed to access these roads.           | ![small truck image](./img/small_truck.png)
    truck                  | Truck like a MAN or Mercedes-Benz Actros              | height=3.7m, width=2.6+0.34m, length=12m, weight=13000+13000 kg, hgv=yes, 3 Axes | ![truck image](./img/truck.png)
    scooter                | Moped mode | Fast inner city, often used for food delivery, is able to ignore certain bollards, maximum speed of roughly 50km/h. weight=300kg, width=1m, height=2m | ![scooter image](./img/scooter.png)
    scooter_delivery       | Moped mode | Like scooter but including delivery and private roads. Use only in case your drivers are allowed to access these roads. | ![scooter image](./img/scooter.png)
    foot       | Pedestrian or walking without dangerous [SAC-scales](https://wiki.openstreetmap.org/wiki/Key:sac_scale) | foot access         | ![foot image](./img/foot.png)
    hike       | Pedestrian or walking with priority for more beautiful hiking tours and potentially a bit longer than `foot`. Walking duration is influenced by elevation differences.  | foot access         | ![hike image](./img/hike.png)
    bike       | Trekking bike avoiding hills | bike access         | ![Bike image](./img/bike.png)
    mtb        | Mountainbike                 | bike access         | ![Mountainbike image](./img/mtb.png)
    racingbike | Bike preferring roads        | bike access         | ![Racingbike image](./img/racingbike.png)

    Please note:

     * the free package supports only the routing profiles `car`, `bike` or `foot`
     * up to 3 different routing profiles can be used in a single request towards the Route Optimization API. The number of vehicles is unaffected and depends on your subscription.
     * we offer custom routing profiles with different properties, different speed profiles or different access options. To find out more about custom profiles, please [contact us](https://www.graphhopper.com/contact-form/).
     * a sophisticated `motorcycle` profile is available up on request. It is powered by the [Kurviger](https://kurviger.de/en) Routing API and favors curves and slopes while avoiding cities and highways.
     
    ## TomTom

    If you want to include traffic, you can purchase the TomTom Add-on.
    This Add-on only uses TomTom's road network and historical traffic information.
    Live traffic is not yet considered. If you are interested to learn how we consider traffic information, we recommend that you read [this article](https://www.graphhopper.com/blog/2017/11/06/time-dependent-optimization/).

    Please note the following:

     * Currently we only offer this for our [Route Optimization API](#tag/Route-Optimization-API). [Contact us](https://www.graphhopper.com/contact-form/) if you would like to use it for the Matrix or Routing API.
     * In addition to our terms, you need to accept TomTom's [End User License Aggreement](https://www.graphhopper.com/tomtom-end-user-license-agreement/).
     * We do *not* use TomTom's web services. We only use their data with our software.
     
    [Contact us](https://www.graphhopper.com/contact-form/) if you want to buy this TomTom add-on.

    #### Geographical Coverage

    We offer

    - Europe including Russia
    - North, Central and South America
    - Saudi Arabia and United Arab Emirates
    - South Africa
    - Southeast Asia
    - Australia

    #### Supported Vehicle Profiles

    Name       | Description           | Restrictions              | Icon
    -----------|:----------------------|:--------------------------|:---------------------------------------------------------
    car        | Car mode              | car access                | ![car image](./img/car.png)
    small_truck| Small truck like a Mercedes Sprinter, Ford Transit or Iveco Daily | height=2.7m, width=2+0.4m, length=5.5m, weight=2080+1400 kg | ![small truck image](./img/small_truck.png)

     
    # Custom Model

    A custom model allows you to modify the default routing behavior of a vehicle profile by specifying a set of rules in JSON language.
    There are three JSON properties to change a profile: `priority`, `speed` and `distance_influence` that are described in great detail in the next sections and you can get a quick overview in this [example-driven blog post](https://www.graphhopper.com/blog/2020/05/31/examples-for-customizable-routing/).

    But first we will give an introductory example for each of these JSON properties. Let's start with `speed`:

    ```json
    {
      "speed": [{
        "if": "road_class == MOTORWAY",
        "limit_to": "90"
      }]
    }
    ```

    As you might have already guessed this limits the speed on motorways to 90km/h.
    Changing the speed will of course change the travel time, but at the same time this makes other road classes more likely as well, so you can use this model to avoid motorways.

    You can immediately try this out in the Browser [on GraphHopper Maps](https://graphhopper.com/maps/?point=50.856527%2C12.876127&point=51.02952%2C13.295603&profile=car&custom_model=%7B%22speed%22%3A%5B%7B%22if%22%3A%22road_class+=%3D+MOTORWAY%22%2C%22limit_to%22%3A%2290%22%7D%5D%7D).
    GraphHopper Maps offers an interactive text editor to comfortably enter custom models.
    You can open it by pressing the "custom" button. It will check the syntax of your custom model and mark errors in red. You can press
    Ctrl+Space or Alt+Enter to retrieve auto-complete suggestions. Pressing Ctrl+Enter will send a routing request for the
    custom model you entered. To disable the custom model you click the "custom" button again.


    In the second example we show how to avoid certain road classes without changing the travel time:

    ```json
    {
      "priority": [{
        "if": "road_class == LIVING_STREET || road_class == RESIDENTIAL || road_class == UNCLASSIFIED",
        "multiply_by": "0.1"
      }]
    }
    ```

    This example avoids certain smaller streets. [View it in GraphHopper Maps](https://graphhopper.com/maps/?point=51.125708%2C13.067915&point=51.125964%2C13.082271&profile=car&custom_model=%7B%22priority%22%3A%5B%7B%22if%22%3A%22road_class+=%3D+LIVING_STREET+%7C%7C+road_class+%3D%3D+RESIDENTIAL+%7C%7C+road_class+%3D%3D+UNCLASSIFIED%22%2C%22multiply_by%22%3A%220.1%22%7D%5D%7D).

    The third example shows how to prefer shortest paths:

    ```json
    {
      "distance_influence": 200
    }
    ```

    [View this example in GraphHopper Maps](https://graphhopper.com/maps/?point=51.04188%2C13.057766&point=51.057527%2C13.068237&profile=car&custom_model=%7B%22distance_influence%22%3A200%7D).

    There is a fourth JSON property `areas` that allows you to define areas that can then be used in the `if` or `else_if` conditions for `speed` and `priority`.
    Please read more about this and the other properties below and try some examples in
    [GraphHopper Maps](https://graphhopper.com/maps/) with the help of
    [this blog post](https://www.graphhopper.com/blog/2020/05/31/examples-for-customizable-routing/).


    ## Customizing speed

    When using custom models you do not need to define rules that specify a speed for every road segment, but rather GraphHopper
    assumes a default speed. All you need to do is adjust this default speed to your use-case as you will always use the custom 
    model in conjunction with a routing profile which is used to determine the default speed.

    The custom model is a JSON object and the first property we will learn about here is the `speed` property. The `speed`
    property's value is a list of conditional statements that modify the default speed. Every such statement consists of a
    condition and an operation. The different statements are applied to the default speed from top to bottom, i.e.
    statements that come later in the list are applied to the resulting value of previous operations. Each statement is only
    executed if the corresponding condition applies for the current road segment. This will become more clear in the following
    examples.

    Currently the custom model language supports two operators:

    - `multiply_by` multiplies the speed value with a given number
    - `limit_to` limits the speed value to a given number

    #### `if` statements and the `multiply_by` operation

    Let's start with a simple example using `multiply_by`:

    ```json
    {
      "speed": [
        {
          "if": "road_class == MOTORWAY",
          "multiply_by": "0.5"
        }
      ]
    }
    ```

    This custom model reduces the speed of every road segment for which the `road_class` attribute is `MOTORWAY` to
    fifty percent of the default speed (the default speed is multiplied by `0.5`). Again, the default speed is the speed
    that GraphHopper would normally use for the profile's vehicle. Note the `if` clause which means that the operation
    (`multiply_by`) is only applied *if* the condition `road_class == MOTORWAY` is fulfilled for the road segment under
    consideration. The `==` indicates equality, i.e. the condition reads "the road_class equals MOTORWAY". If you're a bit
    familiar with programming note that the condition (the value of the `if` key) is just a boolean condition in Java
    language (other programming languages like C or JavaScript are very similar in this regard). A more complex condition
    could look like this: `road_class == PRIMARY || road_class == TERTIARY` which uses the **or**
    (`||`) operator and literally means "road_class equals PRIMARY or road_class equals TERTIARY".

    There can be multiple such 'if statements' in the speed section, and they are evaluated from top to bottom:

    ```json
    {
      "speed": [
        {
          "if": "road_class == MOTORWAY",
          "multiply_by": "0.5"
        },
        {
          "if": "road_class == PRIMARY || road_environment == TUNNEL",
          "multiply_by": "0.7"
        }
      ]
    }
    ```

    In this example the default speed of road segments with `road_class == MOTORWAY` will be multiplied by `0.5`, the default speed
    of road segments with `road_class == PRIMARY` will be multiplied by `0.7` and for road segments with both `road_class == MOTORWAY` and
    `road_environment == TUNNEL` the default speed will be multiplied first by `0.5` and then by `0.7`. So overall the
    default speed will be multiplied by `0.35`. For road segments with `road_class == PRIMARY` and `road_environment == TUNNEL` we
    only multiply by `0.7`, even though both parts of the second condition apply. It only matters whether the road segment matches
    the condition or not.

    `road_class` and `road_environment` are road attributes of 'enum' type, i.e. their value can only be one of a fixed set of
    values, like `MOTORWAY` for `road_class`.

    Other road attributes like `get_off_bike` are of `boolean` type. They can be used as conditions directly, for example:

    ```json
    {
      "speed": [
        {
          "if": "get_off_bike",
          "multiply_by": "0.6"
        }
      ]
    }
    ```

    which means that for road segments with `get_off_bike==true` the speed factor will be `0.6`.

    For attributes with numeric values, like `max_width` you should not use the `==` (equality) or `!=` (
    inequality) operators, but the numerical comparison operators "bigger" `>`, "bigger or equals" `>=`, "smaller" `<`, or
    "smaller or equals" `<=`, e.g.:

    ```json
    {
      "speed": [
        {
          "if": "max_width < 2.5",
          "multiply_by": "0.8"
        }
      ]
    }
    ``` 

    which means that for all road segments with `max_width` smaller than `2.5m` the speed is multiplied by `0.8`.


    ### The `limit_to` operation

    Besides the `multiply_by` operator there is also the `limit_to` operator. As the name suggests `limit_to` limits the
    current value to the given value. Take this example:

    ```json
    {
      "speed": [
        {
          "if": "road_class == MOTORWAY",
          "multiply_by": "0.8"
        },
        {
          "if": "surface == GRAVEL",
          "limit_to": "60"
        }
      ]
    }
    ```

    This implies that on all road segments with the `GRAVEL` value for `surface` the speed will be at most `60km/h`,
    regardless of the default speed and the previous rules. So for a road segment with `road_class == MOTORWAY`,
    `surface == GRAVEL` and default speed `100` the first statement reduces the speed from `100` to `80` and the second
    statement further reduces the speed from `80` to `60`. If the `road_class` was `PRIMARY` and the default speed was `50`
    the first rule would not apply and the second rule would do nothing, because limiting `50` to `60` still yields `50`.

    A common use-case for the `limit_to` operation is the following pattern:

    ```json
    {
      "speed": [
        {
          "if": "true",
          "limit_to": "90"
        }
      ]
    }
    ```

    which means that the speed is limited to `90km/h` for all road segments regardless of its properties. The condition
    "`true`" is always fulfilled.

    ### `else` and `else_if` statements

    The `else` statement allows you to define that some operations should be applied if an road segment does **not** match a
    condition. So this example:

    ```json
    {
      "speed": [
        {
          "if": "road_class == MOTORWAY",
          "multiply_by": "0.5"
        },
        {
          "else": "",
          "limit_to": "50"
        }
      ]
    }
    ```

    means that for all road segments with `road_class == MOTORWAY` we multiply the default speed by `0.5` and for all others we
    limit the default speed to `50` (but never both).

    In case you want to distinguish more than two cases (road segments that match or match not a condition) you can use `else_if`
    statements which are only evaluated in case the previous `if` or `else_if` statement did **not** match:

    ```json
    {
      "speed": [
        {
          "if": "road_class == MOTORWAY",
          "multiply_by": "0.5"
        },
        {
          "else_if": "road_environment == TUNNEL",
          "limit_to": "70"
        },
        {
          "else": "",
          "multiply_by": "0.9"
        }
      ]
    }
    ```

    So if the first condition matches (`road_class == MOTORWAY`) the default speed is multiplied by `0.5`, but the other two
    statements are ignored. Only if the first statement does not match (e.g. `road_class == PRIMARY`) the second statement
    is even considered and only if it matches (`road_environment == TUNNEL`) the default speed is limited to 70. The last
    operation (`multiply_by: "0.9"`) is only applied if both previous conditions did not match.

    `else` and `else_if` statements always require a preceding `if` or `else_if` statement. However, there can be multiple
    'blocks' of subsequent `if/else_if/else` statements in the list of rules for `speed`.

    `else_if` is useful for example in case you have multiple `multiply_by` operations, but you do not want that the speed
    gets reduced by all of them. For the following model

    ```json
    {
      "speed": [
        {
          "if": "road_class == MOTORWAY",
          "multiply_by": "0.5"
        },
        {
          "else_if": "road_environment == TUNNEL",
          "multiply_by": "0.8"
        }
      ]
    }
    ```

    only the first factor (`0.5`) will be applied even for road segments that fulfill both conditions.

    ## Limit rules to certain areas

    You can not only modify the speed of road segments based on properties, like we saw in the previous examples, but you
    can also modify the speed of road segments based on their location. To do this you need to first create and add some
    areas to the `areas` section of the custom model. You can then use the name of these areas in the conditions of your
    `if/else/else_if` statements.

    In the following example we multiply the speed of all road segments in an area called `custom1` with `0.7` and also limit it
    to `50km/h`. Note that each area's name needs to be prefixed with `in_`:

    ```json
    {
      "speed": [
        {
          "if": "in_custom1",
          "multiply_by": "0.7"
        },
        {
          "if": "in_custom1",
          "limit_to": "50"
        }
      ],
      "areas": {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "id": "custom1",
          "geometry": {
            "type": "Polygon",
            "coordinates": [
              [
                [
                  1.525,
                  42.511
                ],
                [
                  1.510,
                  42.503
                ],
                [
                  1.531,
                  42.495
                ],
                [
                  1.542,
                  42.505
                ],
                [
                  1.525,
                  42.511
                ]
              ]
            ]
          }
        }]
      }
    }
    ```

    Areas are given in GeoJson format (FeatureCollection). Currently a member of this collection must be a `Feature` with a
    geometry type `Polygon`. Note that the coordinates array of `Polygon` is an array of arrays that
    each must describe a closed ring, i.e. the first point must be equal to the last, identical to the GeoJSON specs.
    Each point is given as an array [longitude, latitude], so the `coordinates` array has three dimensions total.

    Using the `areas` feature you can also block entire areas i.e. by multiplying the speed with `0`, but for this you
    should rather use the `priority` section that we will explain next.

    ## Customizing priority

    Make sure you read the introductory section of this document to learn what the `priority` factor means. In short it
    allows similar modifications as `speed`, but instead of modifying the road segment weights *and* travel times it will only
    affect the weights. By default, the priority is `1` for every road segment, so it does not affect the weight. However,
    changing the priority of a road can yield a relative weight difference in comparison to other roads.

    Customizing the `priority` works very much like changing the `speed`, so in case you did not read the section about
    `speed` you should go back there and read it now. The only real difference is that there is no `limit_to` operator for
    `priority`. As a quick reminder here is an example for priority:

    ```json
    {
      "priority": [
        {
          "if": "road_class == MOTORWAY",
          "multiply_by": "0.5"
        },
        {
          "else_if": "road_class == SECONDARY",
          "multiply_by": "0.9"
        },
        {
          "if": "road_environment == TUNNEL",
          "multiply_by": "0.1"
        }
      ]
    }
    ```

    means that road segments with `road_class==MOTORWAY` and `road_environment==TUNNEL` get priority `0.5*0.1=0.05` and
    those with `road_class==SECONDARY` and no TUNNEL, get priority `0.9` and so on.

    Edges with lower priority values will be less likely part of the optimal route calculated by GraphHopper, higher values
    mean that these road segments shall be preferred. If you do not want to state which road segments shall be avoided, but
    rather which ones shall be preferred, you need to **decrease** the priority of others:

    ```json
    {
      "priority": [
        {
          "if": "road_class != CYCLEWAY",
          "multiply_by": "0.8"
        }
      ]
    }
    ```

    means decreasing the priority for all road_classes *except* cycleways.

    Just like we saw for `speed` you can also adjust the priority for road segments in a certain area. It works exactly the
    same way:

    ```json
    {
      "priority": [
        {
          "if": "in_custom1",
          "multiply_by": "0.7"
        }
      ]
    }
    ```

    To block an entire area set the priority value to `0`. You can even set the priority only for certain roads in an area
    like this:

    ```json
    {
      "priority": [
        {
          "if": "road_class == MOTORWAY && in_custom1",
          "multiply_by": "0.1"
        }
      ]
    }
    ```

    Some other useful attributes to restrict access to certain roads depending on your vehicle dimensions are the
    following:

    ```json
    {
      "priority": [
        {
          "if": "max_width < 2.5",
          "multiply_by": "0"
        },
        {
          "if": "max_length < 10",
          "multiply_by": "0"
        },
        {
          "if": "max_weight < 3.5",
          "multiply_by": "0"
        }
      ]
    }
    ```

    which means that the priority for all road segments that allow a maximum vehicle width of `2.5m`, a maximum vehicle
    length of `10m` or a maximum vehicle weight of `3.5tons`, or less, is zero, i.e. these "narrow" road segments are
    blocked.

    ## Customizing distance_influence

    The `distance_influence` property allows you to control the trade-off between a fast route (minimum time) and a short route
    (minimum distance). The larger `distance_influence` is the more GraphHopper will prioritize routes with a small
    total distance. More precisely, the `distance_influence` is the time you need to save on a detour (a longer distance
    route option) such that you prefer taking the detour compared to a shorter route. Please note that this value is a number, not a string.

    A value of `100` means that one extra kilometer of detour must save you `100s` of travelling time or else you are not 
    willing to take the detour. Or to put it another way, if a reference route takes `600s` and is `10km` long, 
    `distance_influence=100` means that you are willing to take an alternative route that is `11km` long only if 
    it takes no longer than `500s` (saves `100s`). Things get a bit more complicated when `priority` is not `1`, but the 
    effect stays the same: The larger `distance_influence` is, the more GraphHopper will focus on finding short routes.


    ## Road attributes

    GraphHopper stores different attributes for every road segment. Some frequently used are the following (some of their possible values are given in brackets):

    - road_class: (OTHER, MOTORWAY, TRUNK, PRIMARY, SECONDARY, TRACK, STEPS, CYCLEWAY, FOOTWAY, ...)
    - road_environment: (ROAD, FERRY, BRIDGE, TUNNEL, ...)
    - road_access: (DESTINATION, DELIVERY, PRIVATE, NO, ...)
    - surface: (PAVED, DIRT, SAND, GRAVEL, ...)
    - smoothness: (EXCELLENT, GOOD, INTERMEDIATE, ...)
    - toll: (MISSING, NO, HGV, ALL)
    - bike_network, foot_network: (MISSING, INTERNATIONAL, NATIONAL, REGIONAL, LOCAL, OTHER)
    - country: (`MISSING` or the country as a `ISO3166-1:alpha3` code e.g. `DEU`)
    - hazmat: (YES, NO), hazmat_tunnel: (A, B, .., E), hazmat_water: (YES, PERMISSIVE, NO)
    - hgv: (MISSING, YES, DESIGNATED, ...)
    - track_type: (MISSING, GRADE1, GRADE2, ..., GRADE5)
    - urban_density: (RURAL, RESIDENTIAL, CITY)


    To learn about all available encoded values you can query the `/info` endpoint

    Besides this kind of categories, which can take multiple different string values, there are also some that represent a
    boolean value (they are either true or false for a given road segment), like:

    - get_off_bike
    - road_class_link
    - roundabout

    There are also some that take on a numeric value, like:

    - average_slope: a number for 100 * "elevation change" / edge_distance for a road segment; it changes the sign in reverse direction; see also max_slope
    - curvature: "beeline distance" / edge_distance (0..1) e.g. a curvy road is smaller than 1
    - hike_rating, horse_rating, mtb_rating: a number from 0 to 6 for the `sac_scale` in OSM, e.g. 0 means "missing", 1 means "hiking", 2 means "mountain_hiking" and so on
    - lanes: number of lanes
    - max_slope: an unsigned decimal for the maximum slope (100 * "elevation change / distance_i") of an edge with `sum(distance_i)=edge_distance`. Important for longer road segments where ups (or downs) can be much bigger than the average_slope.
    - max_speed: the speed limit from a sign (km/h)
    - max_height (meter), max_width (meter), max_length (meter)
    - max_weight (ton), max_axle_load (in tons)


    ## Limitations

    Custom models are currently:

    1. only available for the [POST Route Endpoint](#operation/postRoute).
    If you are interested in using this for the Matrix or Route Optimization API please [contact us](https://www.graphhopper.com/contact-form/) to get access to an early alpha version.
    For the Isochrone API it is also planned.
    2. only available for the following parent profiles: `foot`, `bike`, `scooter`, `car` and `small_truck`.
    3. only available for OpenStreetMap.

    This feature will strongly benefit from feedback, so do not hesitate to share your experience, your favorite custom
    model or some of the problems you ran into when you tried building your own with custom model.

    ## Troubleshooting

    ### Recommendations

    For debugging you can use the custom model editor in [GraphHopper Maps](https://graphhopper.com/maps/) (click the 'custom' button).

    When debugging problems with custom models you should first try if your request goes through without an error using an empty custom model.

    For production you should avoid to include road_access and toll in the profile as we will change their values in the next weeks which could cause unexpected problems.

    ### Route calculation is slower

    The route calculation with custom_models will be slower as a different algorithm has to be used. The more the result deviates from the optimum the slower the response can get.
    Still for certain use cases you can make the calculation if you tune the custom_model and e.g. exclude certain ways via `{ "if": "road_class == TRACK || road_class == RESIDENTIAL", "multiply_by": "0" }`.

    ### All routes for my custom model fail

    This could mean that either your custom model made some of the roads near the start and destination inaccessible, 
    then usually we return a PointNotFoundException with the point_index with the "location snap" problem.

    Or, the custom model made all roads between your start and destination inaccessible, then we return a ConnectionNotFoundException. This happens e.g. when you exclude tunnels, 
    ferries or motorways but all routes between start and destination have these road attributes satisfied, i.e. we cannot find a route.

    **Solution**: relax your custom model and e.g. instead of excluding certain road attributes via `"multiply_by": "0"` you should try to use `"0.01"`.
  termsOfService: 'https://www.graphhopper.com/terms/'
  title: GraphHopper Directions
  version: 1.0.0
  x-apisguru-categories:
    - location
    - routing
  x-logo:
    altText: GraphHopper
    backgroundColor: '#FFFFFF'
    url: 'https://mobidatalab.github.io/mdl-catalog-api/v2/cache/logo/https_docs.graphhopper.com_graphhopper-logo.svg'
  x-origin:
    - format: openapi
      url: 'https://docs.graphhopper.com/'
      version: '3.0'
  x-preferred: true
  x-providerName: graphhopper.io
security:
  - api_key: []
tags:
  - description: |

      ## Quickstart

      The Route Optimization API can be used to solve [traveling salesman](https://en.wikipedia.org/wiki/Travelling_salesman_problem) or [vehicle routing problems](https://en.wikipedia.org/wiki/Vehicle_routing_problem).
      Solve your first problem by following these steps. If you already have a GraphHopper account, start with step 2.

      1. [Sign up for GraphHopper](https://support.graphhopper.com/a/solutions/articles/44001976025)
      2. [Create an API key](https://support.graphhopper.com/a/solutions/articles/44001976027)
      3. Download [simple traveling salesman problem](https://gist.github.com/oblonski/fb2f2be534c3ebe7bebaa72151194182) and save it in a local folder
      4. Open your command line, go to that local folder and use cURL ([What is cURL?](https://de.wikipedia.org/wiki/CURL)) as follows:

         ```
         curl -X POST -H "Content-Type: application/json"   "https://graphhopper.com/api/1/vrp?key=YOUR_CREATED_API_KEY" --data "@tsp.json"
         ```

      Alternatively, you can use our Editor to explore that API:

      1. Login to your GraphHopper account
      2. Go to **Editor**
      3. Click the **Optimize** button to solve your first problem
      4. Analyze the solution on the **Map** or as raw **JSON Output**

      If you have successfully solved the first problem, we recommend this tutorial - [Getting Started with the Optimization API](https://www.graphhopper.com/blog/2019/05/17/getting-started-with-the-optimization-api-traveling-salesman-problem/).
      It shows and describes the essential elements to model your vehicle routing problem.

      To explore the full specification, we recommend that you either use our [route editor](https://www.graphhopper.com/blog/2015/07/21/graphhoppers-new-route-optimization-editor/),
      which you can find in our [dashboard](https://graphhopper.com/dashboard/),
      or use a REST client such as Insomnia or Postman, as described [here](https://docs.graphhopper.com/#section/Explore-our-APIs/Insomnia).

      ## Tutorials

      We provide [a number of tutorials](https://www.graphhopper.com/tutorial/) illustrating how to use the Route Optimization API and
      how to model your vehicle routing problems:

      - [Getting Start with the Optimization API - Traveling Salesman Problem](https://www.graphhopper.com/blog/2019/05/17/getting-started-with-the-optimization-api-traveling-salesman-problem/)
      - [How to solve a traveling salesman problem with a week-planning horizon?](https://www.graphhopper.com/blog/2020/07/15/how-to-solve-a-traveling-salesman-problem-with-a-week-planning-horizon-and-driver-shifts/)
      - [How to schedule technicians with skills and multiple dependencies between tasks?](https://www.graphhopper.com/blog/2016/06/03/how-to-route-technicians-with-skills-and-multiple-dependencies-between-tasks/)
      - [What is the difference between the min. of completion time and min. transport time?](https://www.graphhopper.com/blog/2016/06/20/what-is-the-difference-between-the-minimization-of-completion-time-and-minimizing-transport-time/)
      - [How to model multiple delivery routes with a single vehicle?](https://www.graphhopper.com/blog/2016/07/21/how-to-model-multiple-delivery-routes-with-a-single-vehicle/)
    name: Route Optimization API
  - description: |

      ### Introduction

      ![Routing screenshot](./img/routing-example.png)

      The Routing API is part of the GraphHopper Directions API. Routing is the process of finding the best path connecting
      two or more points, where the meaning of ''best'' depends on the vehicle profile and use case.

      ### Tutorials

       * You can use the Routing API for navigation: have a look at our [open source demo navigation application](https://github.com/graphhopper/graphhopper-navigation-example) and adapt it to your needs. See also [this blog post](https://www.graphhopper.com/blog/2019/02/11/get-started-with-graphhopper-navigation/).
       * See [this blog post](https://www.graphhopper.com/blog/2019/11/28/routing-api-using-path-details/) on how to retrieve information of the road segments or "per leg".
       * Have a look into the [`custom_model` Feature](#section/Custom-Model) where many requirements can be covered - see some examples [here](https://www.graphhopper.com/blog/2020/05/31/examples-for-customizable-routing/).
    name: Routing API
  - description: |

      ### Introduction

      ![Matrix Example](./img/matrix-example.png)

      The Matrix API is part of the [GraphHopper Directions API](https://graphhopper.com/#directions-api) and with
      it you can calculate many-to-many distances and times a lot more efficient than calling the
      Routing API multiple times.

      In the [Routing API](#tag/Routing-API) we support multiple points, so called 'via points', which results in one
      route being calculated. The Matrix API results in NxM routes, or more precise NxM distances or times being calculated
      but [is a lot faster](https://www.graphhopper.com/blog/2019/06/04/incredibly-fast-distance-matrix-calculations-with-graphhopper/)
      compared to NxM single requests.

      The most simple example is a tourist trying to decide
      which pizza is close to her instead of using beeline distance she can calculate a 1x4 matrix. Or a delivery service
      often in the need of big NxN matrices to solve vehicle routing problems. For example the [GraphHopper Route Optimization API](#tag/Route-Optimization-API)
      uses the Matrix API under the hood to achieve this.

      Some other use cases for the Matrix API:

      * Logistic problems often pick up many items from and deliver them to many locations.
      * Calculating detours with many possible points in-between and selecting the best e.g. interesting for ridesharing or taxi applications. For this 1-to-many requests are necessary.
      * Finding the best tour for a tourist in the need to visit as many points of interests as possible.
      * ...

      ### API Clients and Examples

      See the [clients](#section/API-Clients) section in the main document and [live examples](https://graphhopper.com/api/1/examples/#matrix).

      ### Description

      The Matrix API calculates the well known distance-matrix for a set of points, i.e. it calculates all the distances
      between every point combination. But we do not stop there, we also offer a time-, weight- and route-matrix.
      The weight-matrix can be used as raw input for e.g. a vehicle routing problem ([VRP](http://en.wikipedia.org/wiki/Vehicle_routing_problem))
      and is more precise than a time- or distance-matrix. E.g. for bike routes the actual weight of a route (e.g. the "beauty")
      is what you want to decide if a route is 'better' and not always the taken time or distance.

      A simple illustration for a 3x3 matrix with identical from and to points:

      -          |to_point1|to_point2|to_point3
      :-----------|:--------|:--------|:--------
      from_point1 |0        |1->2     | 1->3
      from_point2 |2->1     |0        | 2->3
      from_point3 |3->1     |3->2     | 0

      A simple illustration for a 1x3 matrix with different start- and end-points:

      -          | to_point1  | to_point2 | t_point3
      :-----------|:-----------|:----------|:--------
      from_pointA |A->1        |A->2       |A->3


      For every route 1->2, 1-3, ... or A->1,A->2,A->3 you can return only the weight, the time and the distance.
      To calculate full routes you can use the [Routing API](#tag/Routing-API).

      ### Limits and Counts

      The cost for one request depends on the number of locations and is documented [here](https://support.graphhopper.com/support/solutions/44000303787#what-is-one-credit).

      One request should not exceed the Matrix API location limit, which depends on the subscription, see the
      pricing tab in our dashboard.
    name: Matrix API
  - description: Everything about geocoding
    name: Geocoding API
  - description: Everything about isochrones
    name: Isochrone API
  - description: Everything about map matching aka "snap to road"
    name: Map Matching API
  - description: |

      ### Introduction

      ![Cluster Example](./img/cluster-solution.jpg)

      It solves the “capacity clustering problem” by assigning a set of customers to a given number of distinct groups (called clusters).
      The API “clusters” by minimizing the total distance from each individual customer to its designated group median.
      It can also consider minimum and maximum capacity restrictions for each group.

      Clustering can be used in many practical applications.
      For example, it can help to plan territories, i.e. territory optimization for field teams with large territories for field workers,
      or to solve large vehicle routing problems (VRP).

      The idea is to divide a certain number of customers, a pre-specified number of clusters. As already written above, a distribution is sought that minimizes the total cost (e.g. distance or time or a function of distance and time).
      We currently support two approaches.

      1. You can simply define a certain number of clusters via configuration ("clustering" with empty set of "clusters") and additionally how many customers should be in such a cluster.
      This is defined by an upper and lower limit ("min_quantity" and "max_quantity). The algorithm then searches for suitable clusters and divides the customers into these clusters.

      2. You can explicitly define clusters via "clusters". In this way, each individual cluster can be defined.
      This approach not only allows each cluster to have its own capacity upper and lower bound, but each cluster can also be assigned a fixed cluster center.
      In contrast to 1. the algorithm then does not search for a suitable center, but assigns the customers given the fixed centers to each cluster. Note that if you define clusters
      explicitly, any configuration of "clustering" will be overwritten by these explicit clusters.
    name: Cluster API
paths:
  /cluster:
    post:
      description: |

        The Cluster endpoint is used with a POST request towards
        `https://graphhopper.com/api/1/cluster?key=<your_key>`. The solution will be provided in the JSON response.
        Please note that for problems that take longer than 10 seconds a bad request error is returned.
        In this case please use the asynchronous [Batch Cluster Endpoint](#operation/asyncClusteringProblem) instead.
      operationId: solveClusteringProblem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
        description: Request object that contains the problem to be solved
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponse'
          description: A response containing the solution
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Error occurred when reading the request. Request is invalid.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorMessage'
          description: Error occurred on server side.
      summary: POST Cluster Endpoint
      tags:
        - Cluster API
  /cluster/calculate:
    post:
      description: |

        Prefer the [synchronous endpoint](#operation/solveClusteringProblem) and use this Batch Cluster endpoint for
        long running problems only. The work flow is asynchronous:

        - send a POST request towards `https://graphhopper.com/api/1/cluster/calculate?key=<your_key>` and fetch the job_id.
        - poll the solution every 500ms until it gives `status=finished`. Do this with a GET request
          towards `https://graphhopper.com/api/1/cluster/solution/<job_id>?key=<your_key>`.
      operationId: asyncClusteringProblem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
        description: Request object that contains the problem to be solved
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobId'
          description: A jobId you can use to retrieve your solution from the server - see solution endpoint.
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
          links:
            GetSolutionByJobId:
              description: |
                The `job_id` value returned in the response can be used as the `jobId` parameter in `GET /vrp/{jobId}`.
              operationId: getSolution
              parameters:
                jobId: $response.body#/job_id
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Error occurred when reading client request. Request is invalid.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorMessage'
          description: Error occurred on server side.
      summary: Batch Cluster Endpoint
      tags:
        - Cluster API
  '/cluster/solution/{jobId}':
    get:
      description: |
        This endpoint returns the solution of the clustering problems submitted to the [Batch Cluster endpoint](#operation/asyncClusteringProblem).
        You can fetch it with the job_id, you have been sent.
      operationId: getClusterSolution
      parameters:
        - description: Request solution with jobId
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponse'
          description: A response containing the solution
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Error occurred on client side such as invalid input.
        '404':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Error message
                    example: Invalid job_id 73314c89-ee4b-459c-aca4-0ad6d6e558da
                    type: string
                  status:
                    default: finished
                    description: status
                    example: finished
                    type: string
                type: object
          description: Requested solution could not be found.
        '500':
          description: Error occurred on server side.
      summary: GET Batch Solution Endpoint
      tags:
        - Cluster API
  /geocode:
    get:
      description: |

        ### Introduction

        ![Geocoding Example](./img/geocoding-example.png)

        _Geocoding_ describes the process of transforming an textual address representation to a coordinate (`latitude,longitude`).
        For example the conversion from `Berlin` to `52.5170365,13.3888599`.

        _Reverse geocoding_ converts a coordinate to a textual address representation or place name. Find out more about Geocoding itself on [Wikipedia](http://en.wikipedia.org/wiki/Geocoding).
      operationId: getGeocode
      parameters:
        - description: 'If you do forward geocoding, this is `required` and is a textual description of the address you are looking for.'
          in: query
          name: q
          schema:
            type: string
        - description: 'Display the search results for the specified locale. Currently French (fr), English (en) and German (de) are explicitly supported. Otherwise leave the locale empty.'
          in: query
          name: locale
          schema:
            default: en
            type: string
        - description: Specify the maximum number of results to return
          in: query
          name: limit
          schema:
            default: 5
            format: int32
            type: integer
        - description: 'It is `required` to be `true` if you want to do a reverse geocoding request. If it is `true`, `point` must be defined as well, and `q` must not be used.'
          in: query
          name: reverse
          schema:
            default: false
            type: boolean
        - description: 'If `true`, the output will be formatted.'
          in: query
          name: debug
          schema:
            default: false
            type: boolean
        - description: '_Forward geocoding_: The location bias in the format ''latitude,longitude'' e.g. point=45.93272,11.58803. _Reverse geocoding_: The location to find amenities, cities.'
          in: query
          name: point
          schema:
            type: string
        - description: |
            The provider parameter is currently under development and can fall back to `default` at any time.
            The intend is to provide alternatives to our default geocoder. Each provider has its own strenghts and might fit better for certain scenarios, so it's worth to compare the different providers.
            To try it append the `provider`parameter to the URL like `&provider=nominatim`,
            the result structure should be identical in all cases - if not, please report this back to us.
            Keep in mind that some providers do not support certain parameters or don't return some fields, for example `osm_id` and `osm_type` are not supported by every geocoding provider.
            If you would like to use additional parameters of one of the providers, but it's not available for the GraphHopper Geocoding API, yet? Please contact us.

            The credit costs can be different for all providers - see [here](https://support.graphhopper.com/support/solutions/articles/44000718211-what-is-one-credit-) for more information about it.

            Currently, only the default provider and gisgraphy supports autocompletion of partial search strings.

            All providers support normal "forward" geocoding and reverse geocoding via `reverse=true`.

            #### Default (`provider=default`)

            This provider returns results of our internal geocoding engine, as described above.
            In addition to the above documented parameters the following parameters are possible:
            * `bbox` - the expected format is `minLon,minLat,maxLon,maxLat`
            * `osm_tag` - you can filter `key:value` or exclude places with certain OpenStreetMap tags `!key:value`. E.g. `osm_tag=tourism:museum` or just the key `osm_tag=tourism`. To exclude multiple tags you add multiple `osm_tag` parameters.

            #### Nominatim (`provider=nominatim`)

            The GraphHopper Directions API uses a commercially hosted Nominatim geocoder (hosted by [OpenCageData](https://opencagedata.com/)).

            In addition to the above documented parameters we currently support the following parameters:

            * countrycode - The country code is a two letter code as defined by the ISO 3166-1 Alpha 2 standard. E.g. gb for the United Kingdom, fr for France, us for United States.
            * bounds - the expected format is `minLon,minLat,maxLon,maxLat`

            #### Gisgraphy (`provider=gisgraphy`)

            This provider returns results from the Gisgraphy geocoder which you can try [here](https://services.gisgraphy.com/static/leaflet/index.html).

            **Limitations:** The `locale` parameter is not supported. Gisgraphy does not return OSM tags or an extent.

            Gisgraphy has a special autocomplete API, which you can use by adding `autocomplete=true` (does not work with `reverse=true`). The autocomplete API is optimized on predicting text input, but returns less information.

            In addition to the above documented parameters Gisgraphy allows to use the following parameters, which can be used as documented [here](https://www.gisgraphy.com/documentation/user-guide.php#geocodingservice):

            * `radius` - radius in meters
            * `country` - restrict search for the specified country. The value must be the ISO 3166 Alpha 2 code of the country.

            #### NetToolKit (`provider=nettoolkit`)

            This provider returns results from the NetToolKit provider which is specialized for US addresses and provides a wrapper around Nominatim for other addresses. You can try it [here](https://www.nettoolkit.com/geo/demo).

            The following additional NetToolKit parameters are supported (read [here](https://www.nettoolkit.com/docs/geo/geocoding) for more details):
            - `source`: User can choose which source provider to geocode the address, this value is "NetToolKit" by default
            - `country_code`: an iso-3166-2 country code (e.g : US) filter the results to the specify country code

            **Limitations:** NetToolKit does not support the `locale` parameter. NetToolKit does not return OSM tags (e.g. osm_id, osm_type, osm_value).

            #### OpenCage Data (`provider=opencagedata`)

            This provider returns results from the OpenCageData geocoder which you can try [here](https://geocoder.opencagedata.com/demo).
            The difference to the `nominatim` provider is that [other geocoders](https://opencagedata.com/credits) might be used under the hood.

            In addition to the above documented parameters OpenCage Data allows to use the following parameters, which can be used as documented [here](https://geocoder.opencagedata.com/api#forward-opt):

            * countrycode - The country code is a two letter code as defined by the ISO 3166-1 Alpha 2 standard. E.g. gb for the United Kingdom, fr for France, us for United States. 
            * bounds - the expected format is `minLon,minLat,maxLon,maxLat`
          in: query
          name: provider
          schema:
            default: default
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodingResponse'
          description: An array found locations
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Unexpected error
      summary: Geocoding Endpoint
      tags:
        - Geocoding API
      x-code-samples:
        - lang: Curl
          source: 'curl "https://graphhopper.com/api/1/geocode?q=berlin&locale=de&key=api_key"'
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/geocode?q=berlin&locale=de&key=api_key")
                    .get()
                    .build();

            Response response = client.newCall(request).execute();
  /isochrone:
    get:
      description: |
        ### Example
        You can get an example response via:

        ```
        curl "https://graphhopper.com/api/1/isochrone?point=51.131108,12.414551&key=[YOUR_KEY]"
        ```

        Don't forget to replace the placeholder with your own key.

        ### Introduction
        ![Isochrone screenshot](./img/isochrone-example.png)

        An isochrone of a location is ''a line connecting points at which a vehicle arrives at the same time'', see Wikipedia.
        With the same API you can also calculate isodistances, just use the parameter distance_limit instead of time_limit`.

        ### Use Cases
        Some possible areas in which this API may be useful to you:

        - real estate analysis
        - realtors
        - vehicle scheduling
        - geomarketing
        - reach of electric vehicles
        - transport planning
        - logistics (distribution and retail network planning)

        ### API Clients and Examples
        See the [clients](#section/API-Clients) section in the main documentation, and [live examples](https://graphhopper.com/api/1/examples/#isochrone).
      operationId: getIsochrone
      parameters:
        - description: Specify the start coordinate
          in: query
          name: point
          required: true
          schema:
            type: string
        - description: Specify which time the vehicle should travel. In seconds.
          in: query
          name: time_limit
          schema:
            default: 600
            format: int32
            type: integer
        - description: Specify which distance the vehicle should travel. In meters.
          in: query
          name: distance_limit
          schema:
            format: int32
            type: integer
        - in: query
          name: profile
          schema:
            $ref: '#/components/schemas/VehicleProfileId'
        - description: Number by which to divide the given `time_limit` to create `buckets` nested isochrones of time intervals `time_limit-n*time_limit/buckets`. Applies analogously to `distance_limit`.
          in: query
          name: buckets
          schema:
            default: 1
            format: int32
            type: integer
        - description: |
            If `false` the flow goes from point to the polygon, if `true` the flow goes from the polygon "inside" to the point.
            Example use case for `false`&#58; *How many potential customer can be reached within 30min travel time from your store* vs. `true`&#58; *How many customers can reach your store within 30min travel time.*
          in: query
          name: reverse_flow
          schema:
            default: false
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsochroneResponse'
          description: Isochrone Result
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Unexpected Error
      summary: Isochrone Endpoint
      tags:
        - Isochrone API
  /match:
    post:
      description: |
        ### Example
        You get an example response for a GPX via:

        ```
        curl -XPOST -H "Content-Type: application/gpx+xml" "https://graphhopper.com/api/1/match?profile=car&key=[YOUR_KEY]" --data @/path/to/some.gpx
        ```

        A minimal working GPX file looks like
        ```gpx
        <gpx>
         <trk>
          <trkseg>
           <trkpt lat="51.343657" lon="12.360708"></trkpt>
           <trkpt lat="51.343796" lon="12.361337"></trkpt>
           <trkpt lat="51.342784" lon="12.361882"></trkpt>
          </trkseg>
         </trk>
        </gpx>
        ```

        ### Introduction
        ![Map Matching screenshot](./img/map-matching-example.gif)

        The Map Matching API is part of the GraphHopper Directions API and with this API you can snap measured GPS points typically as GPX files to a digital
        road network to e.g. clean data or attach certain data like elevation or turn instructions to it. Read more at Wikipedia.

        In the example screenshot above and demo you see the Map Matching API in action where the black line is the GPS track and the green one is matched result.

        To get a match response you send a GPX file in the body of an HTTP POST request and specify request parameters like the `key` and `profile` in the URL.
        See below for more supported parameters.

        ### API Clients and Examples
        See the [clients](#section/API-Clients) section in the main documentation, and [live examples](https://graphhopper.com/api/1/examples/#map-matching).

        ### Limits and Counts
        The cost for one request depends on the number of GPS location and is documented [here](https://graphhopper.com/api/1/docs/FAQ/).

        One request should not exceed the Map Matching API location limit depending on the package, see the pricing in our dashboard.
      operationId: postGPX
      parameters:
        - description: 'Specify the precision of a point, in meter'
          in: query
          name: gps_accuracy
          required: false
          schema:
            type: integer
        - in: query
          name: profile
          schema:
            $ref: '#/components/schemas/VehicleProfileId'
        - description: |
            The locale of the resulting turn instructions. E.g. `pt_PT` for Portuguese or `de` for German.
          in: query
          name: locale
          schema:
            default: en
            type: string
        - description: |
            If `true`, a third coordinate, the altitude, is included with all positions in the response.
            This changes the format of the `points` and `snapped_waypoints` fields of the response, in both their
            encodings. Unless you switch off the `points_encoded` parameter, you need special code on the
            client side that can handle three-dimensional coordinates.
          in: query
          name: elevation
          schema:
            default: false
            type: boolean
        - description: |
            Optional parameter. The following path details are available: `street_name`, `street_ref`, `street_destination`, `roundabout`, `country`, `time`, `distance`, `max_speed`,
            `max_weight`, `max_width`, `toll`, `road_class`, `road_class_link`, `road_access`, `road_environment`, `hazmat`, `hazmat_tunnel`, `hazmat_water`, 
            `lanes`, `surface`, `smoothness`, `hike_rating`, `mtb_rating`, `foot_network`, `bike_network`, `get_off_bike`. Read more about the usage of path details [here](https://discuss.graphhopper.com/t/2539).
          explode: true
          in: query
          name: details
          schema:
            items:
              type: string
            type: array
        - description: |
            If instructions should be calculated and returned
          in: query
          name: instructions
          schema:
            default: true
            type: boolean
        - description: |
            If the points for the route should be calculated at all.
          in: query
          name: calc_points
          schema:
            default: true
            type: boolean
        - description: |
            Allows changing the encoding of location data in the response. The default is polyline encoding, which is compact
            but requires special client code to unpack. (We provide it in our JavaScript client library!)
            Set this parameter to `false` to switch the encoding to simple coordinate pairs like `[lon,lat]`, or `[lon,lat,elevation]`.
            See the description of the response format for more information.
          in: query
          name: points_encoded
          schema:
            default: true
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
          description: Routing Result
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Unexpected Error
      summary: Map-match a GPX file
      tags:
        - Map Matching API
  /matrix:
    get:
      description: |
        With this Matrix Endpoint you submit the points and parameters via URL parameters and is the most convenient
        as it works out-of-the-box in the browser. If possible you should
        prefer using the [POST Matrix Endpoint](#operation/postMatrix) that avoids problems with many locations
        and can also gzip the **request**. (Note, that all endpoints return gzipped responses).
      operationId: getMatrix
      parameters:
        - in: query
          name: profile
          schema:
            $ref: '#/components/schemas/VehicleProfileId'
        - description: 'Specify multiple points in `latitude,longitude` for which the weight-, route-, time- or distance-matrix should be calculated. In this case the starts are identical to the destinations. If there are N points, then NxN entries will be calculated. The order of the point parameter is important. Specify at least three points. Cannot be used together with from_point or to_point.'
          explode: true
          in: query
          name: point
          required: false
          schema:
            items:
              type: string
            type: array
        - description: 'The starting points for the routes in `latitude,longitude`. E.g. if you want to calculate the three routes A-&gt;1, A-&gt;2, A-&gt;3 then you have one from_point parameter and three to_point parameters.'
          explode: true
          in: query
          name: from_point
          required: false
          schema:
            items:
              type: string
            type: array
        - description: 'The destination points for the routes in `latitude,longitude`.'
          explode: true
          in: query
          name: to_point
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Optional parameter. Specifies a hint for each `point` parameter to prefer a certain street for the closest location lookup. E.g. if there is an address or house with two or more neighboring streets you can control for which street the closest location is looked up.
          explode: true
          in: query
          name: point_hint
          required: false
          schema:
            items:
              type: string
            type: array
        - description: For the from_point parameter. See point_hint
          explode: true
          in: query
          name: from_point_hint
          required: false
          schema:
            items:
              type: string
            type: array
        - description: For the to_point parameter. See point_hint
          explode: true
          in: query
          name: to_point_hint
          required: false
          schema:
            items:
              type: string
            type: array
        - description: |
            Optional parameter to avoid snapping to a certain road class or road environment. Current supported values `motorway`, `trunk`, `ferry`, `tunnel`, `bridge` and `ford`. Multiple values are specified like `snap_prevention=ferry&snap_prevention=motorway`. Please note that this feature does not e.g. avoid motorways for the route - it only avoids it for the "location snap".
          explode: true
          in: query
          name: snap_prevention
          schema:
            items:
              type: string
            type: array
        - description: Optional parameter. It specifies on which side a point should be relative to the driver when she leaves/arrives at a start/target/via point. You need to specify this parameter for either none or all points. Only supported for motor vehicles and OpenStreetMap.
          explode: true
          in: query
          name: curbside
          required: false
          schema:
            items:
              enum:
                - any
                - right
                - left
              type: string
            type: array
        - description: Curbside setting for the from_point parameter. See curbside.
          explode: true
          in: query
          name: from_curbside
          required: false
          schema:
            items:
              enum:
                - any
                - right
                - left
              type: string
            type: array
        - description: Curbside setting for the to_point parameter. See curbside.
          explode: true
          in: query
          name: to_curbside
          required: false
          schema:
            items:
              enum:
                - any
                - right
                - left
              type: string
            type: array
        - description: 'Specifies which arrays should be included in the response. Specify one or more of the following options ''weights'', ''times'', ''distances''. To specify more than one array use e.g. out_array=times&out_array=distances. The units of the entries of distances are meters, of times are seconds and of weights is arbitrary and it can differ for different vehicles or versions of this API.'
          explode: true
          in: query
          name: out_array
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Specifies whether or not the matrix calculation should return with an error as soon as possible in case some points cannot be found or some points are not connected. If set to `false` the time/weight/distance matrix will be calculated for all valid points and contain the `null` value for all entries that could not be calculated. The `hint` field of the response will also contain additional information about what went wrong (see its documentation).
          in: query
          name: fail_fast
          required: false
          schema:
            default: true
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatrixResponse'
          description: Matrix API response
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Unexpected Error
      summary: GET Matrix Endpoint
      tags:
        - Matrix API
      x-code-samples:
        - lang: Curl
          source: 'curl "https://graphhopper.com/api/1/matrix?point=49.932707,11.588051&point=50.241935,10.747375&point=50.118817,11.983337&type=json&profile=car&out_array=weights&out_array=times&out_array=distances&key=api_key"'
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/matrix?point=49.932707,11.588051&point=50.241935,10.747375&point=50.118817,11.983337&type=json&profile=car&out_array=weights&out_array=times&out_array=distances&key=api_key")
                    .get()
                    .build();

            Response response = client.newCall(request).execute();
    post:
      description: |

        The [GET endpoint](#operation/getMatrix) has an URL length limitation, which hurts for many locations per request.
        In those cases use this POST endpoint with a JSON as input. The only parameter in the URL will be the key.
        Both request scenarios are identical except that all singular parameter names are named as their plural for a POST request.
        The effected parameters are: `points`, `from_points`, `to_points`, and `out_arrays`. For the remaining parameters
        please refer to the [guide of the GET endpoint](#operation/getMatrix).

        **Please note that in contrast to GET endpoint the points have to be specified as `[longitude, latitude]` array (in that order, similar to [GeoJson](http://geojson.org/geojson-spec.html#examples))**.

        For example the query `point=10,11&point=20,22&profile=car` will be converted to the following JSON:
        ```json
        { "points": [[11,10], [22,20]], "profile": "car" }
        ```

        A complete curl Example:
        ```bash
        curl -X POST -H "Content-Type: application/json" "https://graphhopper.com/api/1/matrix?key=[YOUR_KEY]" -d '{"elevation":false,"out_arrays":["weights", "times"],"from_points":[[-0.087891,51.534377],[-0.090637,51.467697],[-0.171833,51.521241],[-0.211487,51.473685]],"to_points":[[-0.087891,51.534377],[-0.090637,51.467697],[-0.171833,51.521241],[-0.211487,51.473685]],"profile":"car"}'
        ```
      operationId: postMatrix
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/MatrixRequest'
                - $ref: '#/components/schemas/SymmetricalMatrixRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatrixResponse'
          description: Matrix API response
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Unexpected Error
      summary: POST Matrix Endpoint
      tags:
        - Matrix API
  /matrix/calculate:
    post:
      description: |
        Prefer the [synchronous endpoint](#operation/postMatrix) and use this Batch endpoint for long running problems only.

        The Batch Matrix endpoint allows using matrices with more locations and works asynchronously - similar to the [Batch Route Optimization endpoint](#operation/asyncVRP):
         * Create a HTTP POST request against `/matrix/calculate` and add the key in the URL: `/matrix/calculate?key=[YOUR_KEY]`. This will give you the `job_id` from the response json like `{ "job_id": "7ac65787-fb99-4e02-a832-2c3010c70097" }`
         * Poll via HTTP GET requests every 500ms against `/matrix/solution/[job_id]`

        Here are some full examples via curl:
        ```bash
        $ curl -X POST -H "Content-Type: application/json" "https://graphhopper.com/api/1/matrix/calculate?key=[YOUR_KEY]" -d '{"points":[[13.29895,52.48696],[13.370876,52.489575],[13.439026,52.511206]]}'
        {"job_id":"7ac65787-fb99-4e02-a832-2c3010c70097"}
        ```

        Pick the returned `job_id` and use it in the next GET requests:
        ```bash
        $ curl -X GET "https://graphhopper.com/api/1/matrix/solution/7ac65787-fb99-4e02-a832-2c3010c70097?key=[YOUR_KEY]"
        {"status":"waiting"}
        ```

        When the calculation is finished (`status:finished`) the JSON response will contain the full matrix JSON under `solution`:
        ```bash
        $ curl -X GET "https://graphhopper.com/api/1/matrix/solution/7ac65787-fb99-4e02-a832-2c3010c70097?key=[YOUR_KEY]"
        {"solution":{"weights":[[0.0,470.453,945.414],[503.793,0.0,580.871],[970.49,569.511,0.0]],"info":{"copyrights":["GraphHopper","OpenStreetMap contributors"]}},"status":"finished"}
        ```

        Please note that if an error occured while calculation the JSON will not have a status but contain directly the error message e.g.:
        ```json
        {"message":"Cannot find from_points: 1"}
        ```
        And the optional `hints` array.
      operationId: calculateMatrix
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/MatrixRequest'
                - $ref: '#/components/schemas/SymmetricalMatrixRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobId'
          description: A jobId you can use to retrieve your solution from the server.
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Unexpected Error
      summary: Batch Matrix Endpoint
      tags:
        - Matrix API
  '/matrix/solution/{jobId}':
    get:
      description: |
        This endpoint returns the solution of a JSON submitted to the Batch Matrix endpoint. You can fetch it with the job_id, you have been sent.
      operationId: getMatrixSolution
      parameters:
        - description: Request solution with jobId
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  solution:
                    $ref: '#/components/schemas/MatrixResponse'
          description: A response containing the matrix
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Unexpected Error
      summary: GET Batch Matrix Endpoint
      tags:
        - Matrix API
  /route:
    get:
      description: |
        For the GET request you specify the parameters in the URL and can try it directly in every browser.
        However, it has some disadvantages when using many points (URL length limit) and the [`custom_model` Feature](#section/Custom-Model) cannot be used. 
        Therefore, our recommended endpoint is the [POST route endpoint](#operation/postRoute).
      operationId: getRoute
      parameters:
        - in: query
          name: profile
          schema:
            $ref: '#/components/schemas/VehicleProfileId'
        - description: |
            The points for which the route should be calculated. Format: `latitude,longitude`. Specify at least an origin and a destination. Via points are possible.
            The maximum number depends on your plan.
          explode: true
          in: query
          name: point
          required: true
          schema:
            items:
              type: string
            type: array
        - description: |
            The `point_hint` is typically a road name to which the associated `point` parameter should be snapped to. Specify no `point_hint` parameter or the same number as you have `point` parameters.
          explode: true
          in: query
          name: point_hint
          schema:
            items:
              type: string
            type: array
        - description: |
            Optional parameter to avoid snapping to a certain road class or road environment. Currently supported values are `motorway`, `trunk`, `ferry`, `tunnel`, `bridge` and `ford`. Multiple values are specified like `snap_prevention=ferry&snap_prevention=motorway`. Please note that in order to e.g. avoid motorways for the route (not for the "location snap") you need a different feature: a custom model.
          explode: true
          in: query
          name: snap_prevention
          schema:
            items:
              type: string
            type: array
        - description: |
            Optional parameter. It specifies on which side a point should be relative to the driver when she leaves/arrives at a start/target/via point. You need to specify this parameter for either none or all points. Only supported for motor vehicles and OpenStreetMap.
          in: query
          name: curbside
          schema:
            items:
              enum:
                - any
                - right
                - left
              type: string
            type: array
        - description: |
            The locale of the resulting turn instructions. E.g. `pt_PT` for Portuguese or `de` for German.
          in: query
          name: locale
          schema:
            default: en
            type: string
        - description: |
            If `true`, a third coordinate, the altitude, is included with all positions in the response.
            This changes the format of the `points` and `snapped_waypoints` fields of the response, in both their
            encodings. Unless you switch off the `points_encoded` parameter, you need special code on the
            client side that can handle three-dimensional coordinates.
          in: query
          name: elevation
          schema:
            default: false
            type: boolean
        - description: |
            Optional parameter. The following path details are available: `street_name`, `street_ref`, `street_destination`, `roundabout`, `country`, `time`, `distance`, `max_speed`,
            `max_weight`, `max_width`, `toll`, `road_class`, `road_class_link`, `road_access`, `road_environment`, `hazmat`, `hazmat_tunnel`, `hazmat_water`, 
            `lanes`, `surface`, `smoothness`, `hike_rating`, `mtb_rating`, `foot_network`, `bike_network`, `get_off_bike`. Read more about the usage of path details [here](https://discuss.graphhopper.com/t/2539).
          explode: true
          in: query
          name: details
          schema:
            items:
              type: string
            type: array
        - description: |
            Normally, the calculated route will visit the points in the order you specified them.
            If you have more than two points, you can set this parameter to `"true"` and the points may be re-ordered to minimize the total travel time.
            Keep in mind that the limits on the number of locations of the Route Optimization API applies, and the request costs more credits.
          in: query
          name: optimize
          schema:
            default: 'false'
            type: string
        - description: |
            If instructions should be calculated and returned
          in: query
          name: instructions
          schema:
            default: true
            type: boolean
        - description: |
            If the points for the route should be calculated at all.
          in: query
          name: calc_points
          schema:
            default: true
            type: boolean
        - description: |
            If `true`, the output will be formatted.
          in: query
          name: debug
          schema:
            default: false
            type: boolean
        - description: |
            Allows changing the encoding of location data in the response. The default is polyline encoding, which is compact
            but requires special client code to unpack. (We provide it in our JavaScript client library!)
            Set this parameter to `false` to switch the encoding to simple coordinate pairs like `[lon,lat]`, or `[lon,lat,elevation]`.
            See the description of the response format for more information.
          in: query
          name: points_encoded
          schema:
            default: true
            type: boolean
        - description: |
            Use this parameter in combination with one or more parameters from below.
          in: query
          name: ch.disable
          schema:
            default: false
            type: boolean
        - description: |
            Favour a heading direction for a certain point. Specify either one heading for the start point or as many as there are points.
            In this case headings are associated by their order to the specific points. Headings are given as north based clockwise angle between 0 and 360 degree.
            This parameter also influences the tour generated with `algorithm=round_trip` and forces the initial direction.  Requires `ch.disable=true`.
          explode: true
          in: query
          name: heading
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: |
            Time penalty in seconds for not obeying a specified heading. Requires `ch.disable=true`.
          in: query
          name: heading_penalty
          schema:
            default: 120
            format: int32
            type: integer
        - description: |
            If `true`, u-turns are avoided at via-points with regard to the `heading_penalty`. Requires `ch.disable=true`.
          in: query
          name: pass_through
          schema:
            default: false
            type: boolean
        - description: |
            Rather than looking for the shortest or fastest path, this parameter lets you solve two different problems related to routing:
            With `alternative_route`, we give you not one but several routes that are close to optimal, but
            not too similar to each other. 
            With `round_trip`, the route will get you back to where you started. This is meant for fun (think of
            a bike trip), so we will add some randomness. The `round_trip` option requires `ch.disable=true`.
            You can control both of these features with additional parameters, see below. 
          in: query
          name: algorithm
          schema:
            enum:
              - round_trip
              - alternative_route
            type: string
        - description: |
            If `algorithm=round_trip`, this parameter configures approximative length of the resulting round trip. Requires `ch.disable=true`.
          in: query
          name: round_trip.distance
          schema:
            default: 10000
            format: int32
            type: integer
        - description: |
            If `algorithm=round_trip`, this sets the random seed. Change this to get a different tour for each value.
          in: query
          name: round_trip.seed
          schema:
            format: int64
            type: integer
        - description: |
            If `algorithm=alternative_route`, this parameter sets the number of maximum paths which should be calculated. Increasing can lead to worse alternatives.
          in: query
          name: alternative_route.max_paths
          schema:
            default: 2
            format: int32
            type: integer
        - description: |
            If `algorithm=alternative_route`, this parameter sets the factor by which the alternatives routes can be longer than the optimal route. Increasing can lead to worse alternatives.
          in: query
          name: alternative_route.max_weight_factor
          schema:
            default: 1.4
            type: number
        - description: |
            If `algorithm=alternative_route`, this parameter specifies how similar an alternative route can be to the optimal route. Increasing can lead to worse alternatives.
          in: query
          name: alternative_route.max_share_factor
          schema:
            default: 0.6
            type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
          description: Routing Result
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: 'Your request is not valid. For example, you specified too few or too many points.'
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Authentication necessary
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: API limit reached.
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Internal server error. We get notified automatically and fix this asap.
          headers:
            X-RateLimit-Credits:
              description: 'The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.'
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
      summary: GET Route Endpoint
      tags:
        - Routing API
      x-code-samples:
        - lang: Curl
          source: 'curl "https://graphhopper.com/api/1/route?point=51.131,12.414&point=48.224,3.867&profile=car&locale=de&calc_points=false&key=api_key"'
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/route?point=51.131,12.414&point=48.224,3.867&profile=car&locale=de&calc_points=false&key=api_key")
                    .get()
                    .build();

            Response response = client.newCall(request).execute();
    post:
      description: |
        To do a request you send JSON data. 

        See the [GET endpoint](#operation/getRoute) for an alternative query method which is slightly simpler to get started but has some disadvantages.

        **Please note that in contrast to the GET endpoint, points are specified in the order of `[longitude, latitude]`** and some parameter names use the plural.
        For example the string `point=10,11&point=20,22` will be converted to the `points` array (plural):
        ```json
        { "points": [[11,10], [22,20]] }
        ```
        So this `points` array uses a format similar to [GeoJson](http://geojson.org/geojson-spec.html#examples).

        Example:
        ```bash
        curl -X POST -H "Content-Type: application/json" "https://graphhopper.com/api/1/route?key=[YOUR_KEY]" -d '{"elevation":false,"points":[[-0.087891,51.534377],[-0.090637,51.467697]],"profile":"car"}'
        ```
      operationId: postRoute
      requestBody:
        content:
          application/json:
            schema:
[...]
